<div ng-show="!show.selectCompConf" style="margin-top: 20px;">
  <button class="btn btn-default" ng-click="show.selectCompConf = true; component.compId = '';">Choose Another Component</button>
  <h3 style="padding-left:15px;">{{integrationConfs[0].component.name}}</h3>
  <div class="checkbox col-sm-12" style="padding-right:0px;">
    <label>
      <input type="checkbox" ng-model="overRideDefault" ng-checked="overRideDefault"> Override Default Refresh Rate (this overrides the refresh rate for all configurations for this component)
    </label>
  </div>
  <div ng-show="overRideDefault === true" class="col-sm-12" style="padding-left:0px; padding-right:0px; min-height:50px; margin-bottom: 20px;">
    <label style="padding-left:0px; padding-right:0px;" class="control-label" for="cmpRefreshRate">Component Refresh Rate:&nbsp;</label>
    <div class="" style="padding-left:0px; padding-right: 0; position: relative;">
      {{cron.componentCron}}
      {{cron.componentCron.cronExpressionDescription}}
      <cron ng-model="cron.componentCron" id="cmpRefreshRate" callback="saveCompRefresh()"></cron>
    </div>
    <!-- <button class="btn btn-default" ng-click="saveCompRefresh();">Save Refresh Rate&nbsp;<i class="fa fa-save"></i></button> -->
    <button class="btn btn-danger" ng-click="removeCompRefresh(); cron.componentCron = ''">Delete Custom Refresh Rate&nbsp;<i class="fa fa-trash-o"></i></button>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group form-group-md col-md-12" style="margin:0px;  padding:0px;">
      <button class="btn btn-default" ng-click="getIntegrationConf(component.compId)">Refresh Table&nbsp;<i class="fa fa-refresh"></i></button>
      <table class="table table-striped table-bordered">
        <tr>
          <th><a href="" ng-click="setPredicate('projectType', 'conf');">Project Type<span ng-show="predicate['conf']  === 'projectType'"><i ng-show="!reverse['conf'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['conf']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('issueType', 'conf');">Issue Type<span ng-show="predicate['conf']  === 'issueType'"><i ng-show="!reverse['conf'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['conf']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('issueNumber', 'conf');">Issue Number<span ng-show="predicate['conf']  === 'issueNumber'"><i ng-show="!reverse['conf'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['conf']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('status', 'conf');">Status<span ng-show="predicate['conf']  === 'status'"><i ng-show="!reverse['conf'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['conf']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th>Edit/Deactivate/Delete</th>
        </tr>
        <tr ng-repeat="config in integrationConfs | orderBy:predicate['conf']:reverse['conf']" ng-class="config.status === 'E'? 'danger': ''">
          <td>{{config.projectType}}</td>
          <td>{{config.issueType}}</td>
          <td>{{config.issueNumber}}</td>
          <td ng-show="config.status !== 'E' || !config.errorMessage">{{calcStatus(config.status)}}</td>
          <td ng-show="config.status === 'E' && config.errorMessage" popover data-trigger="hover" data-placement="bottom" data-html="true"  data-selector="" data-original-title="Error message:" data-container="body" data-content="<p class='dd'>{{config.errorMessage}}</p>">{{calcStatus(config.status)}}</td>
          <td style="padding:0px;">&nbsp;<button class="btn btn-primary" ng-click="refreshJob(config.componentId, config.integrationConfigId)">Run Configuration&nbsp;<i class="fa fa-refresh"></i></button>&nbsp;<button class="btn btn-default" ng-click="setupModal(config.componentId)">Edit&nbsp;<i class="fa fa-edit"></i></button>&nbsp;<button ng-show="config.activeStatus === 'A'" class="btn btn-warning" ng-click="deactivateConfig(config.componentId, config.integrationConfigId)">Deactivate&nbsp;<i class="fa fa-ban"></i></button><button ng-show="config.activeStatus !== 'A'" class="btn btn-warning" ng-click="activateConfig(config.componentId, config.integrationConfigId)">Activate&nbsp;<i class="glyphicon glyphicon-off"></i></button>&nbsp;<button class="btn btn-danger" ng-click="deleteConfig(config.componentId, config.integrationConfigId)">Delete&nbsp;<i class="fa fa-trash-o"></i></button></td>
        </tr>
      </table>
    </div>
  </form>
</div>
<div ng-show="show.selectCompConf">
  <div class="form-group form-group-md col-md-6" style="margin:0px; min-height: 50px;  padding:0px;">
    <label for="compid" style="padding-left:0px; padding-right:0px;" class="control-label" style="text-align:right;">Select a component:&nbsp;</label>
    <div class="" style="padding: 0;">
      <input type="text" class="form-control searchBar" id="compid" ng-model="component.compId" ng-options="key.code as key.description for key in getTypeahead($viewValue)" placeholder="Search by Component Name" bs-typeahead>
    </div>
  </div>
</div>
