<div id="CronContainer" style="width:480px;height:300px; background: white;">
  <div id="CronGenMainDiv" style="width:480px;height:270px;">
    <tabset>
      <tab heading="Minutes">
        <div style="padding:10px;">


          <div class="tab-pane active" id="Minutes">Every&nbsp;
            <input id="MinutesInput" type="number" min="0" value="1" style="width: 40px">&nbsp;minute(s)
          </div>
        </div>
      </tab>

      <tab heading="Hourly">
        <div style="padding:10px;">


          <div class="tab-pane" id="Hourly">
            <div class="well well-small">
              <input type="radio" value="1" name="HourlyRadio" checked="checked">&nbsp;Every&nbsp;
              <input id="HoursInput" type="number" min="0" value="1" style="width: 40px">&nbsp;hour(s)
            </div>
            <div class="well well-small">
              <input type="radio" value="2" name="HourlyRadio">&nbsp;At&nbsp;
              <select id="AtHours" class="hours" style="width: 60px">
                <option id="0">00</option>
                <option id="1">01</option>
                <option id="2">02</option>
                <option id="3">03</option>
                <option id="4">04</option>
                <option id="5">05</option>
                <option id="6">06</option>
                <option id="7">07</option>
                <option id="8">08</option>
                <option id="9">09</option>
                <option id="10">10</option>
                <option id="11">11</option>
                <option id="12">12</option>
                <option id="13">13</option>
                <option id="14">14</option>
                <option id="15">15</option>
                <option id="16">16</option>
                <option id="17">17</option>
                <option id="18">18</option>
                <option id="19">19</option>
                <option id="20">20</option>
                <option id="21">21</option>
                <option id="22">22</option>
                <option id="23">23</option>
              </select>
              <select id="AtMinutes" class="minutes" style="width: 60px">
                <option id="0">00</option>
                <option id="1">01</option>
                <option id="2">02</option>
                <option id="3">03</option>
                <option id="4">04</option>
                <option id="5">05</option>
                <option id="6">06</option>
                <option id="7">07</option>
                <option id="8">08</option>
                <option id="9">09</option>
                <option id="10">10</option>
                <option id="11">11</option>
                <option id="12">12</option>
                <option id="13">13</option>
                <option id="14">14</option>
                <option id="15">15</option>
                <option id="16">16</option>
                <option id="17">17</option>
                <option id="18">18</option>
                <option id="19">19</option>
                <option id="20">20</option>
                <option id="21">21</option>
                <option id="22">22</option>
                <option id="23">23</option>
                <option id="24">24</option>
                <option id="25">25</option>
                <option id="26">26</option>
                <option id="27">27</option>
                <option id="28">28</option>
                <option id="29">29</option>
                <option id="30">30</option>
                <option id="31">31</option>
                <option id="32">32</option>
                <option id="33">33</option>
                <option id="34">34</option>
                <option id="35">35</option>
                <option id="36">36</option>
                <option id="37">37</option>
                <option id="38">38</option>
                <option id="39">39</option>
                <option id="40">40</option>
                <option id="41">41</option>
                <option id="42">42</option>
                <option id="43">43</option>
                <option id="44">44</option>
                <option id="45">45</option>
                <option id="46">46</option>
                <option id="47">47</option>
                <option id="48">48</option>
                <option id="49">49</option>
                <option id="50">50</option>
                <option id="51">51</option>
                <option id="52">52</option>
                <option id="53">53</option>
                <option id="54">54</option>
                <option id="55">55</option>
                <option id="56">56</option>
                <option id="57">57</option>
                <option id="58">58</option>
                <option id="59">59</option>
              </select>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Daily">
        <div style="padding:10px;">


          <div class="tab-pane" id="Daily">
            <div class="well well-small">
              <input type="radio" value="1" name="DailyRadio" checked="checked">&nbsp;Every&nbsp;
              <input id="DaysInput" type="number" min="0" value="1" style="width: 40px">&nbsp;day(s)
            </div>
            <div class="well well-small">
              <input type="radio" value="2" name="DailyRadio">&nbsp;Every week day&nbsp;
            </div>Start time&nbsp;
            <select id="DailyHours" class="hours" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
            </select>
            <select id="DailyMinutes" class="minutes" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
              <option id="24">24</option>
              <option id="25">25</option>
              <option id="26">26</option>
              <option id="27">27</option>
              <option id="28">28</option>
              <option id="29">29</option>
              <option id="30">30</option>
              <option id="31">31</option>
              <option id="32">32</option>
              <option id="33">33</option>
              <option id="34">34</option>
              <option id="35">35</option>
              <option id="36">36</option>
              <option id="37">37</option>
              <option id="38">38</option>
              <option id="39">39</option>
              <option id="40">40</option>
              <option id="41">41</option>
              <option id="42">42</option>
              <option id="43">43</option>
              <option id="44">44</option>
              <option id="45">45</option>
              <option id="46">46</option>
              <option id="47">47</option>
              <option id="48">48</option>
              <option id="49">49</option>
              <option id="50">50</option>
              <option id="51">51</option>
              <option id="52">52</option>
              <option id="53">53</option>
              <option id="54">54</option>
              <option id="55">55</option>
              <option id="56">56</option>
              <option id="57">57</option>
              <option id="58">58</option>
              <option id="59">59</option>
            </select>
          </div>
        </div>
      </tab>

      <tab heading="Weekly">
        <div style="padding:10px;">


          <div class="tab-pane" id="Weekly">
            <div class="well well-small">
              <div class="span6 col-sm-6">
                <input type="checkbox" value="MON">&nbsp;Monday<br>
                <input type="checkbox" value="WED">&nbsp;Wednesday<br>
                <input type="checkbox" value="FRI">&nbsp;Friday<br>
                <input type="checkbox" value="SUN">&nbsp;Sunday
              </div>
              <div class="span6 col-sm-6">
                <input type="checkbox" value="TUE">&nbsp;Tuesday<br>
                <input type="checkbox" value="THU">&nbsp;Thursday<br>
                <input type="checkbox" value="SAT">&nbsp;Saturday
              </div>
              <br>
              <br>
              <br>
              <br>
            </div>Start time&nbsp;
            <select id="WeeklyHours" class="hours" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
            </select>
            <select id="WeeklyMinutes" class="minutes" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
              <option id="24">24</option>
              <option id="25">25</option>
              <option id="26">26</option>
              <option id="27">27</option>
              <option id="28">28</option>
              <option id="29">29</option>
              <option id="30">30</option>
              <option id="31">31</option>
              <option id="32">32</option>
              <option id="33">33</option>
              <option id="34">34</option>
              <option id="35">35</option>
              <option id="36">36</option>
              <option id="37">37</option>
              <option id="38">38</option>
              <option id="39">39</option>
              <option id="40">40</option>
              <option id="41">41</option>
              <option id="42">42</option>
              <option id="43">43</option>
              <option id="44">44</option>
              <option id="45">45</option>
              <option id="46">46</option>
              <option id="47">47</option>
              <option id="48">48</option>
              <option id="49">49</option>
              <option id="50">50</option>
              <option id="51">51</option>
              <option id="52">52</option>
              <option id="53">53</option>
              <option id="54">54</option>
              <option id="55">55</option>
              <option id="56">56</option>
              <option id="57">57</option>
              <option id="58">58</option>
              <option id="59">59</option>
            </select>
          </div>
        </div>
      </tab>

      <tab heading="Monthly">
        <div style="padding:10px;">


          <div class="tab-pane" id="Monthly">
            <div class="well well-small">
              <input type="radio" value="1" name="MonthlyRadio" checked="checked">&nbsp;Day&nbsp;
              <input ng-model="check.dayPerMonth" id="DayOfMOnthInput" type="number" min="0" value="1" style="width: 40px">&nbsp;of every&nbsp;
              <input ng-model="check.perMonth" id="MonthInput" type="number" min="0" value="1" style="width: 40px">&nbsp;month(s)
            </div>
            <div class="well well-small">
              <input type="radio" value="2" name="MonthlyRadio">&nbsp;
              <select id="WeekDay" class="day-order-in-month" style="width: 80px">
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
              </select>
              <select id="DayInWeekOrder" class="week-days" style="width: 100px">
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
                <option value="SUN">Sunday</option>
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
                <option value="SUN">Sunday</option>
              </select>&nbsp;of every&nbsp;
              <input id="EveryMonthInput" type="number" min="0" value="1" style="width: 40px">&nbsp;month(s)
            </div>Start time&nbsp;
            <select id="MonthlyHours" class="hours" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
            </select>
            <select id="MonthlyMinutes" class="minutes" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
              <option id="24">24</option>
              <option id="25">25</option>
              <option id="26">26</option>
              <option id="27">27</option>
              <option id="28">28</option>
              <option id="29">29</option>
              <option id="30">30</option>
              <option id="31">31</option>
              <option id="32">32</option>
              <option id="33">33</option>
              <option id="34">34</option>
              <option id="35">35</option>
              <option id="36">36</option>
              <option id="37">37</option>
              <option id="38">38</option>
              <option id="39">39</option>
              <option id="40">40</option>
              <option id="41">41</option>
              <option id="42">42</option>
              <option id="43">43</option>
              <option id="44">44</option>
              <option id="45">45</option>
              <option id="46">46</option>
              <option id="47">47</option>
              <option id="48">48</option>
              <option id="49">49</option>
              <option id="50">50</option>
              <option id="51">51</option>
              <option id="52">52</option>
              <option id="53">53</option>
              <option id="54">54</option>
              <option id="55">55</option>
              <option id="56">56</option>
              <option id="57">57</option>
              <option id="58">58</option>
              <option id="59">59</option>
            </select>
          </div>
        </div>
      </tab>

      <tab heading="Yearly">
        <div style="padding:10px;">


          <div class="tab-pane" id="Yearly">
            <div class="well well-small">
              <input type="radio" value="1" name="YearlyRadio" checked="checked">&nbsp;Every&nbsp;
              <select ng-model="check.month" id="MonthsOfYear" class="months" style="width: 150px">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">Novermber</option>
                <option value="12">December</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">Novermber</option>
                <option value="12">December</option>
              </select>&nbsp;in day&nbsp;
              <input ng-model="check.dayOfMonth" min="{{check.minDay}}" max="{{check.maxDay}}" id="YearInput" type="number" style="width: 40px">
            </div>
            <div class="well well-small">
              <input type="radio" value="2" name="YearlyRadio">&nbsp;The&nbsp;
              <select id="DayOrderInYear" class="day-order-in-month" style="width: 80px">
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
              </select>
              <select id="DayWeekForYear" class="week-days" style="width: 100px">
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
                <option value="SUN">Sunday</option>
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
                <option value="SUN">Sunday</option>
              </select>&nbsp;of&nbsp;
              <select id="MonthsOfYear2" class="months" style="width: 110px">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">Novermber</option>
                <option value="12">December</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">Novermber</option>
                <option value="12">December</option>
              </select>
            </div>Start time&nbsp;
            <select id="YearlyHours" class="hours" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
            </select>
            <select id="YearlyMinutes" class="minutes" style="width: 60px">
              <option id="0">00</option>
              <option id="1">01</option>
              <option id="2">02</option>
              <option id="3">03</option>
              <option id="4">04</option>
              <option id="5">05</option>
              <option id="6">06</option>
              <option id="7">07</option>
              <option id="8">08</option>
              <option id="9">09</option>
              <option id="10">10</option>
              <option id="11">11</option>
              <option id="12">12</option>
              <option id="13">13</option>
              <option id="14">14</option>
              <option id="15">15</option>
              <option id="16">16</option>
              <option id="17">17</option>
              <option id="18">18</option>
              <option id="19">19</option>
              <option id="20">20</option>
              <option id="21">21</option>
              <option id="22">22</option>
              <option id="23">23</option>
              <option id="24">24</option>
              <option id="25">25</option>
              <option id="26">26</option>
              <option id="27">27</option>
              <option id="28">28</option>
              <option id="29">29</option>
              <option id="30">30</option>
              <option id="31">31</option>
              <option id="32">32</option>
              <option id="33">33</option>
              <option id="34">34</option>
              <option id="35">35</option>
              <option id="36">36</option>
              <option id="37">37</option>
              <option id="38">38</option>
              <option id="39">39</option>
              <option id="40">40</option>
              <option id="41">41</option>
              <option id="42">42</option>
              <option id="43">43</option>
              <option id="44">44</option>
              <option id="45">45</option>
              <option id="46">46</option>
              <option id="47">47</option>
              <option id="48">48</option>
              <option id="49">49</option>
              <option id="50">50</option>
              <option id="51">51</option>
              <option id="52">52</option>
              <option id="53">53</option>
              <option id="54">54</option>
              <option id="55">55</option>
              <option id="56">56</option>
              <option id="57">57</option>
              <option id="58">58</option>
              <option id="59">59</option>
            </select>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <button type="button" class="btn btn-default" ng-click="generate()" style="position:absolute; bottom:10px; left: 10px;">Save</button>
</div>