<div ng-show="allJobs.length > 0">
  <div ng-show="type === 'jira'">
    <div class="form-group form-group-md col-md-6" style="margin:0px; min-height: 50px;  padding:0px;">
      <label for="componentConfMap" style="padding-left:0px; padding-right:0px;" class="control-label" style="text-align:right;">Filter by Component name:&nbsp;</label>
      <div class="" style="padding: 0;">
        <input type="text" class="form-control searchBar" id="componentSearch" ng-model="componentSearch" ng-options="key.name as key.name for key in typeahead" placeholder="Filter by Component Name" bs-typeahead>
      </div>
    </div>
    <div class="form-group form-group-md col-md-12" style="margin:0px;  padding:0px;">
      <button class="btn btn-default" ng-click="runAllJobs()">Run&nbsp;All&nbsp;Jobs&nbsp;<i class="fa fa-refresh"></i></button>
      <button class="btn btn-default" ng-click="getAllJobs()">Refresh Table&nbsp;<i class="fa fa-refresh"></i></button>
      <table class="table table-striped table-bordered">
        <tr>
          <th><a href="" ng-click="setPredicate('componentName', 'job');">Component&nbsp;<span ng-show="predicate['job']  === 'componentName'"><i ng-show="!reverse['job'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('lastStartTime', 'job');">Start Time&nbsp;<span ng-show="predicate['job']  === 'lastStartTime'"><i ng-show="!reverse['job'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('lastEndTime', 'job');">Stop Time&nbsp;<span ng-show="predicate['job']  === 'lastEndTime'"><i ng-show="!reverse['job'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th><a href="" ng-click="setPredicate('status', 'job');">Status&nbsp;<span ng-show="predicate['job']  === 'status'"><i ng-show="!reverse['job'] " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
          <th>Refresh/Edit/Deactivate/Delete</th>
        </tr>
        <tr ng-repeat="job in allJobs | orderBy:predicate['job']:reverse['job'] | filter: {componentName: componentSearch}" ng-class="job.status === 'E'? 'danger': ''">
          <td>{{job.componentName}}</td>
          <td>{{job.lastStartTime | date: 'MM/dd/yyyy h:mm:ss.sss a'}}</td>
          <td>{{job.lastEndTime | date: 'MM/dd/yyyy h:mm:ss.sss a'}}</td>
          <td ng-show="job.status !== 'E' || !job.errorMessage">{{calcStatus(job.status)}}</td>
          <td ng-show="job.status === 'E' && job.errorMessage" popover data-trigger="hover" data-placement="bottom" data-html="true"  data-selector="" data-original-title="Error message:" data-container="body" data-content="<p class='dd'>{{job.errorMessage}}</p>">{{calcStatus(job.status)}}</td>
          <td style="padding:0px;">&nbsp;<button class="btn btn-primary" ng-click="refreshJob(job.componentId)" ng-disabled="job.activeStatus !=='A'">Run Job&nbsp;<i class="fa fa-refresh"></i></button>&nbsp;<button class="btn btn-default" ng-click="setupModal(job.componentId, job.activeStatus !=='A')">Edit&nbsp;<i class="fa fa-edit"></i></button>&nbsp;<button ng-show="job.activeStatus === 'A'" class="btn btn-warning" ng-click="deactivateJob(job.componentId)">Deactivate&nbsp;<i class="fa fa-ban"></i></button><button ng-show="job.activeStatus !== 'A'" class="btn btn-warning inverted" ng-click="activateJob(job.componentId)">Activate&nbsp;<i class="glyphicon glyphicon-off"></i></button>&nbsp;<button class="btn btn-danger" ng-click="deleteJob(job.componentId)">Delete&nbsp;<i class="fa fa-trash-o"></i></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div ng-show="!allJobs.length">
  There are no jobs saved in the Clearinghouse Configuration.
</div>