<loader trigger="editLoad"></loader>
<div style="display:inline-block" ng-controller="SavecompconfCtrl">
  <div ng-show="noProjects" class="form-group form-group-md col-md-12" style="margin: 0 auto; padding: 0; min-height: 50px;">
    There are no mapping project to issue-type pairs. You must enter a mapping before you can add a configuration.
  </div>
  <div ng-show="!noProjects">
    <form ng-submit="((!componentId || componentId === -1) || (!issueId || issueId === -1)) || saveComponentConf()" role="form">

      <div ng-show="projects.length" class="form-group form-group-md col-md-12" style="margin: 0 auto; padding: 0; min-height: 50px;">
        <label style="padding-left:0px; padding-right:0px;" class="control-label" for="projectSelect">Select a Jira Project:&nbsp;</label>
        <div class="" style="padding: 0;">
          <select ng-model="jiraProject" class="form-control" style="min-width: 350px;" id="projectSelect" ng-options="option as option | formatOption for option in projects"></select>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-12" ng-class="(componentId && componentId !== -1)? ' has-success has-feedback ': componentId === -1? ' has-warning has-feedback ':''" style="margin: 0 auto; padding: 0; min-height: 50px;">
        <label style="padding-left:0px; padding-right:0px;" class="control-label" for="componentSearch">Search For Component:&nbsp;</label>
        <div class="" style="padding: 0;">
          <input type="text" class="form-control searchBar" id="componentSearch" ng-model="component" ng-options="key as key.name for key in typeahead" placeholder="Search For Component" bs-typeahead>
          <span ng-class="(componentId && componentId !== -1)? ' glyphicon glyphicon-ok form-control-feedback ': componentId === -1? ' glyphicon glyphicon-warning-sign form-control-feedback ':''"></span>
        </div>
      </div>
      <div class="col-sm-12">
        <small>If you're using IE 9, click on the component selection once you've found it.</small>
      </div>
      <div class="col-sm-12">&nbsp;</div>
      <div class="form-group form-group-sm col-sm-12" ng-class="(issueId && issueId !== -1)? ' has-success has-feedback ': issueId === -1? ' has-warning has-feedback ':''" style="margin: 0 auto; padding: 0; min-height: 50px;">
        <label style="padding-left:0px; padding-right:0px;" class="control-label" for="jiraTicketNum">Jira Issue Number:&nbsp;</label>
        <div class="" style="padding: 0;">
          <input type="text" class="form-control searchBar" id="jiraTicketNum" ng-model="issue" placeholder="Type in Jira Issue Number">
          <span ng-class="(issueId && issueId !== -1)? ' glyphicon glyphicon-ok form-control-feedback ': issueId === -1? ' glyphicon glyphicon-warning-sign form-control-feedback ':''"></span>
        </div>
      </div>
      <div ng-show="loading || ticketContents" style="min-height:150px;">
        <loader trigger="ticketContLoad"></loader>
        <div ng-show="ticketContetns">Ticket Found for: {{ticketContents}}</div>
      </div>
      <div class="col-sm-12">&nbsp;</div>
      <div class="form-group form-group-sm col-sm-12" style="margin: 0 auto; padding: 0; margin-top: 10px;">
        <div class="">
          <button class="btn btn-primary" type="submit" ng-disabled="((!componentId || componentId === -1) || (!issueId || issueId === -1) && jiraProject) ">Save&nbsp;<i class="fa fa-save"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>