<div class="ng-scope">
<h1 style="text-align:center"><span style="font-family:trebuchet ms,helvetica,sans-serif"><span style="color:#A52A2A">Content Discovery and Retrieval</span></span></h1>

<h2>Content Discovery and Retrieval Overview:</h2>

<p>Content Discovery and Retrieval are the two high level categories. Requirements pertaining to metadata, query management, information sharing, ranking, and federated search were categorized as Content Discovery. Retrieval requirements included delivery service, mediation and delivery management.<br>
<br>
Content Discovery provides consumers with the ability to discover the existence of potentially relevant content resources and content collections from across the IC/DoD Enterprise. Content Discovery also enables consumers to discover valuable metadata about content resources to support making them visible, accessible, understandable, and trusted.<br>
<br>
Retrieval provides consumers the ability to retrieve and route specific content resources. To do so, content providers are to ensure their content is accessible to the Enterprise. Additionally a consumer may submit a query from one location but have the content delivered at a specified time and/or to a different location. For this reason, the Retrieval capability should support both direct and indirect retrieval of content.<br>
<br>
The Core CDR Components define a fundamental set of functionality that directly addresses specific requirements that enable Content Discovery and Retrieval capabilities. The goal is to have the following core components with common interface and behavioral models: Search, Brokered Search, Describe, Query Management, and Retrieve.<br>
&nbsp;</p>

<ul>
  <li><b>Consumer Component</b>: The Consumer Component represents any entity that initiates a content discovery or content retrieval interaction with any of the Core CDR Components. Existing CDR Components can serve as Consumer Components, allowing for service composability.</li>
  <li><b>Provider Component</b>: The Provider Component describes the applicable construct related to the providers of content to support content discovery and retrieval use cases. It is embodied in the Content Collection Component, which represents a data source that holds one or more content resources. In this sense, a Content Collection Component may be a database, a document repository, an imagery repository, an authoring system, etc.</li>
  <li><b>Core CDR Components</b><br>
  The Core CDR Components define a fundamental set of functionality that directly addresses specific requirements that enable Content Discovery and Retrieval capabilities. The following subsections provide a common interface and behavioral model for each core component: Search, Brokered Search, Describe, Query Management, and Retrieve.<br>
  <br>
  The CDR Components are intended to interact and build upon each other in a composable fashion. Composability is the property of the components that allows them to be combined in multiple ways to achieve more complex objectives. Many of the following component descriptions include non-exhaustive lists of examples of composability.
  <ul>
    <li><b>Search Component</b>: The Search Component serves as the primary content discovery mechanism to expose content collections for discovery and accessibility, enabling content consumers to discover disparate collections and relevant content resources from collections across the IC/DoD Enterprise. Specifically, the Search Component provides a means to accept requests that have a uniform syntax and semantics that can be transformed, as needed, and applied to newly-developed or existing content collections, unambiguously conveying a query without knowing or setting requirements on the implementation of the underlying content collections.</li>
    <li><b>Brokered Search Component</b>: The Brokered Search Component serves as the primary mechanism to 1) facilitate the distribution of queries to applicable/relevant content collections (exposed as Search Components) and 2) process the returned results. To satisfy the basic federated search use case, a Consumer Component submits a query request to the Brokered Search Component, which then distributes the query to the applicable Search Components. The Search Components interpret the search request as best they can, compile a list of search results and send the search results back to the Brokered Search Component.</li>
    <li><b>Describe Component</b>: The Describe Component serves as the primary mechanism for content providers to expose information to describe the context, access constraints, and current inventory status of the underlying content resources, and the exposed information will support static and dynamic discovery and accessibility of a content collection. Search and Brokered Search leverage the output of this component to determine whether the content collection may contain content resources that are relevant to the consumer query. To support a wide array of use cases, the Describe Component should reflect both the static and dynamic information about the underlying content collection.</li>
    <li><b>Query Management Component</b>: The Query Management (QM) Component provides a coordinated set of activities that enable service consumers to store, retrieve, modify, delete, and execute Persistent Searches. Persistent Searches are searches that are saved into a data storage collection and can be executed in the future to provide updated results to consumers. The QM Component uses the interfaces defined by the Search Component, the Brokered Search Component, the Retrieve Component, the Deliver Component, and the Describe Component to create a comprehensive interface definition based on the composable services those components, and other components external to CDR, provide.</li>
    <li><b>Retrieve Component</b>: The Retrieve Component enables access to discovered content and is the primary mechanism for content consumers to access one or more specific content resources from a content collection. The content is typically addressed by a unique resource identifier. The Retrieve Component can return content to the requesting consumer or, in concert with the Deliver Component, can redirect the content to other consumers.</li>
  </ul>
  </li>
</ul>
<br>
For more information on CDR see the <a href="http://www.dni.gov/index.php/about/organization/chief-information-officer/cdr-reference-architecture" rel="nofollow">IC/DoD enterprise Content Discovery and Retrieval Reference Architecture (CDR RA)</a>

<div class="componentlist">
<div class="componentlistBody" ng-show="false">
<h2>Component List</h2>

<div ng-show="false">
<div class="col-sm-6"><label>Title: </label>

<div class="attribute">
<p class="componentlist-title" data-attributelabel="title">CDR components list</p>
</div>
<br>
<label>Type: </label>

<div class="attribute">
<p class="componentlist-type" data-attributelabel="type">DI2E-SVCV4-A</p>
</div>
<br>
<label>Code: </label>

<div class="attribute">
<p class="componentlist-code" data-attributelabel="code">1.2.1</p>
</div>
<br>
<label>Class-list: </label>

<div class="attribute">
<p class="componentlist-class-list" data-attributelabel="class-list">min</p>
</div>
<br>
<label>Click-callback: </label>

<div class="attribute">
<p class="componentlist-click-callback" data-attributelabel="click-callback">callback</p>
</div>
</div>

<div class="col-sm-6"><label>Filters: </label>

<div class="attribute">
<p class="componentlist-filters" data-attributelabel="filters">filters</p>
</div>
<br>
<label>Data: </label>

<div class="attribute">
<p class="componentlist-data" data-attributelabel="data">data</p>
</div>
<br>
<label>Hide-more: </label>

<div class="attribute">
<p class="componentlist-hide-more" data-attributelabel="hide-more">true</p>
</div>
<br>
<label><span class="scayt-misspell-word" data-scayt-word="Cols">Cols</span>: </label>

<div class="attribute">
<p class="componentlist-cols" data-attributelabel="cols">3</p>
</div>
</div>

<div style="clear:both">&nbsp;</div>
</div>
</div>
<component-list title="CDR components list" type="DI2E-SVCV4-A" code="1.2.1" class-list="min" click-callback="callback" filters="filters" data="data" hide-more="true" cols="3"></component-list></div>