<h1 style="text-align:center">
  <span style="font-family:trebuchet ms,helvetica,sans-serif">
    <span style="color:#A52A2A">Level 1 - DI2E Framework Conformant</span>
  </span>
</h1>
<hr />
<h4>
  DI2E  Evaluation Level Details

</h4>
<ul>
  <li>
    Level 0 – Available for Reuse/Not Evaluated
    Asset is added to the Storefront for reuse or consumption. Asset has not been evaluated for Enterprise readiness or Conformance. 
    Asset is will enter DI2E Clearinghouse Process to be assessed for potential reuse.
    Asset has completed the Component Prep and Analysis phase 
  </li>
  <li>
    <strong>
      Level 1 – Initial Reuse Analysis
      Inspection portion of DI2E Framework Evaluation Checklist complete. These questions focus mainly on the reuse potential (Visible, Accessible, and Understandable) by analysis of the information provided. This level does not represent the pass or fail, the Consumer must read the Evaluation Report. 
    </strong>
    <component-list hide-more="true" click-callback="callback" class-list="min" title="DI2E Level 1 Components" data="data2" cols="3" type="DI2E Level 1" filters="filters" set-filters="[{'type': 'DI2ELEVEL', 'code': 'LEVEL1'}]" search="doSearchKey"></component-list>
  </li>

  <li>
    Level 2 – Integration and Test
    Integration and Test portion of the DI2E Framework Evaluation Checklist complete.  These questions focus on the interoperability and ease of reuse, and will normally include an I&T plan. This level does not indicate a pass or fail of the conformance test. Consumer will read the Test Report linked in the storefront entry for program functionality. 
  </li>
  <hr>
  <li>
    Level 3 – DI2E Framework Reference Implementation
    Asset has been determined to be reusable and interoperable, appropriately documented, and conformant to applicable DI2E Framework specifications and standards and is integrated into the DI2E Reference Ecosystem.
  </li>
  <hr>
  <li>
    NA – No Evaluation Planned
    Planned Evaluation does not apply to DI2E Priorities, Focus Areas, Reference Architecture, Storefront (e.g. Guidebooks, reusable Contract Language, Lessons Learned, etc.).   N/A indicates no evaluation is expected.
  </li>
</ul>
