<div ng-controller="AdminTrackingCtrl" style="padding-left:15px; padding-right: 15px;">
  <tabset justified="false" type="">  <!-- pills -->
    <tab heading="User">
      <filterquery data="userTrackingData" url="api/v1/resource/usertracking" type="user" set-Features="user.features" control="user.control"></filterquery>
    </tab>
    <tab heading="Component">
      <filterquery data="componentTrackingData" url="api/v1/resource/componenttracking" type="component" set-Features="component.features" control="component.control"></filterquery>
    </tab>
    <tab heading="Article">
      <filterquery data="articleTrackingData" url="api/v1/resource/articletracking" type="article" set-Features="article.features" control="article.control"></filterquery>
    </tab>
  </tabset>
</div>
