.printMeBody .left{
  padding:5px;
  overflow: hidden;
}
.printMeBody .left.border {
  border: 1px solid darkgray;
  margin-top: -1px;
}
.printMeBody .right{
  position: relative;
  left: -1px;
  float: right;
  width: 250px;
}
.printMeBody .right .section{
  border: 1px solid darkgray;
  padding: 5px;
  margin-top: -1px;
}
.printMeBody .right .section:first-child{
  margin-top: 0px;
}
.printMeBody .right table, .printMeBody .left table{
  font-size: 11px;
}
.paper {
  padding:5px;
  background: white;
}

.liners{
  border:1px solid darkgray;
  margin-right: 5px;
  padding:5px;
}
.liners .line{
  position: relative;
}

@media print {

  *{
    float: none;
  }
  #nav, #nav * {
    display: none;
  }
  .hideme, .hideme * {
    display: none;
  }
  .printMeBody{
    margin-top: 0px !important;
    padding-left: 0px !important;
  }
  .printMeBody .right .section {
    display: block; /* unhide all tabs */
    break-before: always;
    page-break-before: always;
  }
  .pageBreak{
    page-break-before: always;
  }
}
