@import "results/pages.scss";
@import "details.scss";

html{
  overflow:auto;
}
body{
  margin-right: 1px;
}

.page2Styles{
  margin-right: -1px;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  margin-left: 0px;
  position: relative;
  overflow:auto;
}