client/openstorefront/npm-debug.log
/.idea
/client/openstorefront/app/bower_components/
/client/openstorefront/automation_logs
/client/openstorefront/distwar/
/client/openstorefront/dist/
/client/openstorefront/nbproject/private/
/client/openstorefront/screenshots
/nbproject/private/
/server/openstorefront/openstorefront-api/target/
/server/openstorefront/openstorefront-web/src/main/webapp/scripts/
/server/openstorefront/openstorefront-web/src/main/webapp/views/
/server/openstorefront/openstorefront-web/src/main/webapp/images/
/server/openstorefront/openstorefront-web/src/main/webapp/bower_components/
/server/openstorefront/openstorefront-web/src/main/webapp/fonts/
/server/openstorefront/openstorefront-web/src/main/webapp/styles/
/server/openstorefront/openstorefront-web/src/main/webapp/404.html
/server/openstorefront/openstorefront-web/src/main/webapp/favicon.ico
/server/openstorefront/openstorefront-web/src/main/webapp/robots.txt
/server/openstorefront/openstorefront-web/src/main/webapp/index.html
/server/openstorefront/openstorefront-web/target/
/site/mobile/nbproject/private/
client/openstorefront/app/images/logo/DI2E (logo).eps
client/openstorefront/app/images/logo/DI2E (logo).jpg
client/openstorefront/app/images/logo/DI2E (logo).pdf
client/openstorefront/app/images/logo/DI2E (logo).png
client/openstorefront/app/images/logo/DI2E (logo).psd
client/openstorefront/app/images/logo/DI2E (logo)-words.png
client/openstorefront/app/images/logo/logo-words-only.gif
client/openstorefront/app/images/logo/DI2E (logo)-words.pdf
client/openstorefront/app/images/logo/DI2E (logo)-words-only-fade.svg
client/openstorefront/app/images/logo/DI2E (logo)-words-only.pdf
client/openstorefront/app/images/logo/DI2E (logo)-words-only.png
client/openstorefront/app/images/logo/DI2E (logo)-words-only.svg
client/openstorefront/app/images/logo/DI2E (logo)-words.eps
client/openstorefront/app/images/logo/DI2E (logo)-words.svg
client/openstorefront/app/images/logo/DI2E (logo).ai
client/openstorefront/app/images/logo/DI2E (logo).tif
client/openstorefront/app/images/logo/DI2E-(logo).gif
/server/openstorefront/openstorefront-web/src/main/webapp/submission.html
/server/openstorefront/apiclient/target/
/server/openstorefront/core/target/
/server/openstorefront/core-modules/core/target/
client/openstorefront/nbproject/project.properties.BACKUP.3328.properties
client/openstorefront/nbproject/project.properties.BASE.3328.properties
client/openstorefront/nbproject/project.properties.LOCAL.3328.properties
client/openstorefront/nbproject/project.properties.REMOTE.3328.properties
.gitignore
*.dll
project*.properties
