/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2015, 5:01:59 PM
    Author     : dshurtleff
*/


.hidden {
	display: none;
	visibility: hidden;
}

.nav-back-color {
    min-height: 52px;
    background-color: #414e68;
    border-color: #343f54;	
}
.nav-back-color-only {
	background-color: #414e68;
}

.accent-background {
	background-color: #FF811A;
}

.border_accent {
	border-bottom: 3px solid #FF811A;
}

.logo-small {
    width: 250px;
    text-align: left;
    border-radius: 0px 8px 8px 0px;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(81%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.default_body {
	background-color: #f5f5f5;
}

.form-comp-htmleditor-border {
	border:  1px solid lightgrey;
	padding-right: 2px; 
}

.field-required:after {
	color: red;
	font-weight: bold;
	content: "*"
}

.popup-message {
	color:  white;
	opacity: .7;
	background-color: #414e68;
}

.icon-top-padding {
	padding-top: 2px !important;
}

.icon-color-light {
	color: white
}

/** Search tool styles **/

.list-button {
    background-color: #414E68 !important;
    color: #484848;
    border-color: #747679;
    background-image: none;
    text-decoration: none!important;
}

.panel-header {
    background-color: #ababab!important;
    color: black!important;
    border-color: #787878!important;
    border-width: 1px!important;
    background-image:none;
}

.search-tools-column-orange-text {
    color:#FF811A!important;
    font-size: 12px;
    font-weight: bold;
}

.search-tools-nav-body-panel-item {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:2px;
    padding-right:2px;
}

.button-danger {
    border-color: #cc0303;
    background-image: none;
    background-color: #ce0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #Ae0000), color-stop(50%, #ce0000), color-stop(51%, #ce0000), color-stop(0%, #Ae0000));
    background-image: -webkit-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -moz-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -o-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -ms-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/**
UI: Button Overrides for specfic buttons
to use set the ui: danger
**/


.x-btn-danger-small {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #cc0303;
    background-image: none;
    background-color: #ce0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #Ae0000), color-stop(50%, #ce0000), color-stop(51%, #ce0000), color-stop(0%, #Ae0000));
    background-image: -webkit-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -moz-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -o-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -ms-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
}

/* http://localhost:1843/classic/theme-base/sass/etc/mixins/frame.scss:237 */
.x-btn-danger-small-mc {
    background-image: url(images/btn/btn-default-small-fbg.gif);
    background-position: 0 top;
    background-color: #cc0303;
}
/* http://localhost:1843/classic/theme-neutral/sass/src/button/Button.scss:445 */
.x-btn-danger-small {
    border-color: #cc0303;
}
/* http://localhost:1843/classic/theme-neutral/sass/src/button/Button.scss:464 */
.x-btn-inner-danger-small {
    font: bold 12px/16px helvetica, arial, verdana, sans-serif;
    color: #fff;
    padding: 0 5px;
    max-width: 100%;
}
/* http://localhost:1843/classic/theme-neutral/sass/src/button/Button.scss:492 */
.x-btn-icon-el-danger-small {
    font-size: 16px;
    height: 16px;
    color: #fff;
    line-height: 16px;
}
/* http://localhost:1843/classic/theme-neutral/sass/src/button/Button.scss:525 */
.x-ie8 .x-btn-icon-el-danger-small.x-btn-glyph {
    color: #fff;
}

/* http://localhost:1843/classic/theme-neutral/sass/src/button/Button.scss:727 */
.x-btn-focus.x-btn-danger-small {
    border-color: #ff0000;
    background-image: none;
    background-color: #ce0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #Ae0000), color-stop(50%, #ce0000), color-stop(51%, #ce0000), color-stop(0%, #Ae0000));
    background-image: -webkit-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -moz-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -o-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -ms-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    -webkit-box-shadow: #d7e9f6 0 1px 0px 0 inset, #d7e9f6 0 -1px 0px 0 inset, #d7e9f6 -1px 0 0px 0 inset, #d7e9f6 1px 0 0px 0 inset;
    -moz-box-shadow: #d7e9f6 0 1px 0px 0 inset, #d7e9f6 0 -1px 0px 0 inset, #d7e9f6 -1px 0 0px 0 inset, #d7e9f6 1px 0 0px 0 inset;
    box-shadow: #d7e9f6 0 1px 0px 0 inset, #d7e9f6 0 -1px 0px 0 inset, #d7e9f6 -1px 0 0px 0 inset, #d7e9f6 1px 0 0px 0 inset;
}

.x-btn-danger-small.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #d7e9f6;
}

.x-btn-over.x-btn-danger-small {
    border-color: #cc0303;
    background-image: none;
    background-color: #ee0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #ce0000), color-stop(50%, #ee0000), color-stop(51%, #ee0000), color-stop(0%, #ce0000));
    background-image: -webkit-linear-gradient(top, #ce0000, #ee0000 50%, #ee0000 51%, #ce0000);
    background-image: -moz-linear-gradient(top, #ce0000, #ee0000 50%, #ee0000 51%, #ce0000);
    background-image: -o-linear-gradient(top, #ce0000, #ee0000 50%, #ee0000 51%, #ce0000);
    background-image: -ms-linear-gradient(top, #ce0000, #ee0000 50%, #ee0000 51%, #ce0000);
    background-image: linear-gradient(top, #ce0000, #ee0000 50%, #ee0000 51%, #ce0000);
}

.x-btn-focus.x-btn-over.x-btn-danger-small {
    -webkit-box-shadow: #d6e7f3 0 1px 0px 0 inset, #d6e7f3 0 -1px 0px 0 inset, #d6e7f3 -1px 0 0px 0 inset, #d6e7f3 1px 0 0px 0 inset;
    -moz-box-shadow: #d6e7f3 0 1px 0px 0 inset, #d6e7f3 0 -1px 0px 0 inset, #d6e7f3 -1px 0 0px 0 inset, #d6e7f3 1px 0 0px 0 inset;
    box-shadow: #d6e7f3 0 1px 0px 0 inset, #d6e7f3 0 -1px 0px 0 inset, #d6e7f3 -1px 0 0px 0 inset, #d6e7f3 1px 0 0px 0 inset;
}

.x-btn.x-btn-menu-active.x-btn-danger-small,
.x-btn.x-btn-pressed.x-btn-danger-small {
    border-color: #cc0303;
    background-image: none;
    background-color: #Ae0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #2e0000), color-stop(50%, #Ae0000), color-stop(51%, #Ae0000), color-stop(0%, #2e0000));
    background-image: -webkit-linear-gradient(top, #2e0000, #Ae0000 50%, #Ae0000 51%, #2e0000);
    background-image: -moz-linear-gradient(top, #2e0000, #Ae0000 50%, #Ae0000 51%, #2e0000);
    background-image: -o-linear-gradient(top, #2e0000, #Ae0000 50%, #Ae0000 51%, #2e0000);
    background-image: -ms-linear-gradient(top, #2e0000, #Ae0000 50%, #Ae0000 51%, #2e0000);
    background-image: linear-gradient(top, #2e0000, #Ae0000 50%, #Ae0000 51%, #2e0000);
}

.x-btn-focus.x-btn-menu-active.x-btn-danger-small,
.x-btn-focus.x-btn-pressed.x-btn-danger-small {
    -webkit-box-shadow: #d4e2ec 0 1px 0px 0 inset, #d4e2ec 0 -1px 0px 0 inset, #d4e2ec -1px 0 0px 0 inset, #d4e2ec 1px 0 0px 0 inset;
    -moz-box-shadow: #d4e2ec 0 1px 0px 0 inset, #d4e2ec 0 -1px 0px 0 inset, #d4e2ec -1px 0 0px 0 inset, #d4e2ec 1px 0 0px 0 inset;
    box-shadow: #d4e2ec 0 1px 0px 0 inset, #d4e2ec 0 -1px 0px 0 inset, #d4e2ec -1px 0 0px 0 inset, #d4e2ec 1px 0 0px 0 inset;
}

.x-btn.x-btn-disabled.x-btn-danger-small {
    border-color: #cc0303;
    background-image: none;
    background-color: #ce0000;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #Ae0000), color-stop(50%, #ce0000), color-stop(51%, #ce0000), color-stop(0%, #Ae0000));
    background-image: -webkit-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -moz-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -o-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: -ms-linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
    background-image: linear-gradient(top, #Ae0000, #ce0000 50%, #ce0000 51%, #Ae0000);
}

.x-btn-focus .x-btn-danger-small-mc {
    background-color: #ce0000;
    background-image: url(images/btn/btn-danger-small-focus-fbg.gif);
}

.x-btn-over .x-btn-danger-small-mc {
    background-color: #ee0000;
    background-image: url(images/btn/btn-danger-small-over-fbg.gif);
}

.x-btn-focus.x-btn-over .x-btn-danger-small-mc {
    background-color: #ce0000;
    background-image: url(images/btn/btn-danger-small-focus-over-fbg.gif);
}

.x-btn.x-btn-menu-active .x-btn-danger-small-mc,
.x-btn.x-btn-pressed .x-btn-danger-small-mc {
    background-color: #Ae0000;
    background-image: url(images/btn/btn-danger-small-pressed-fbg.gif);
}

.x-btn-focus.x-btn-menu-active .x-btn-danger-small-mc,
.x-btn-focus.x-btn-pressed .x-btn-danger-small-mc {
    background-color: #Aa0000;
    background-image: url(images/btn/btn-danger-small-focus-pressed-fbg.gif);
}

.x-btn.x-btn-disabled .x-btn-danger-small-mc {
    background-color: #ce0000;
    background-image: url(images/btn/btn-danger-small-disabled-fbg.gif);
}
.x-btn-disabled.x-btn-danger-small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-danger-small:after {
    border-width: 1px;
    border-color: #cc0303;
}

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-danger-small:after {
    border-width: 1px;
    border-color: #dd0303;
}

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-menu-active.x-btn-danger-small:after,
.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-danger-small:after {
    border-width: 1px;
    border-color: #dd0303;
}
