<div class="container component2-div">
  <div class="col-sm-12">
    <br>
    <div id="questions{{$index}}Update" ng-if="details.details.questions[0] !== undefined"  data-ng-repeat="item in details.details.questions">
      <div ng-class="getIsUpdated('questions'+$index)? 'updatedForUser': ''" class="questionsHeader"><span class="qaLabel">Q.</span> <strong>{{item.question}}</strong> <small>{{item.username}}&nbsp;({{item.userType}})&nbsp;&mdash;&nbsp;{{getDate(item.createDts)}}</small><button class="btn btn-sm btn-default flipme collapsed" style="margin-left: 10px;" data-toggle="collapse" data-parent="#accordion" href="#questionCollapse{{$index}}"><i class="fa fa-arrow-down"></i></button></div><br>
      <div id="questionCollapse{{$index}}" class="panel-collapse collapse" style="margin-left: 20px;">
        <div ng-repeat="answer in item.responses" style="width: 100%; display: inline-block">
          <div style="width: 20px; margin-right: -20px; clear: both; float: left;" class="qaLabel">A.</div> 
          <div style="display:block; margin-left: 10px; padding: 6px 10px 10px 14px; float: left;">
            <strong>{{answer.response}}</strong>&nbsp;<small>{{answer.username}}&nbsp;({{answer.userType}})&nbsp;&mdash;&nbsp;{{getDate(answer.answeredDate)}}</small>
          </div>
        </div>
        <div style="width: 100%;">
          <br>
          <b>Give an Answer</b><br>
          <textarea cols="100"></textarea><br>
          <br>
          <button class="btn btn-primary" style="margin-bottom: 15px;">Post</button> 
        </div>
      </div>
      <p style="border-bottom: 1px lightgray solid;padding: 5px; margin-top: -15px;">
      </p>
    </div>
    <div ng-if="details.details.questions[0] === undefined">
      There are no previously asked questions for this component.
    </div>

    <br>
    <b>Ask a Question</b><br>
    <textarea cols="100"></textarea><br>
    <br>
    <button class="btn btn-primary">Post</button> 
  </div>
</div>
