<div class="container component2-div">
	<div class="col-sm-12">
		<br>
		<div data-ng-repeat="item in resultsComments">
			<div class="questionsHeader"><span style="color: #343f54; font-weight: bold; font-size: 20px;">Q.</span> <strong>{{item.question}}</strong> <small>{{item.by}}&nbsp;&mdash;&nbsp;{{item.date}}</small><button class="btn btn-sm btn-default flipme collapsed" style="margin-left: 10px;" data-toggle="collapse" data-parent="#accordion" href="#questionCollapse{{$index}}"><i class="fa fa-arrow-down"></i></button></div><br>
      <div id="questionCollapse{{$index}}" class="panel-collapse collapse" style="margin-left: 20px;">
        <div ng-repeat="answer in item.answers">
          <div style="width: 20px; margin-right: -20px; clear: both; float: left; color: #343f54; font-weight: bold; font-size: 20px;">A.</div> 
          <div style="display:block; margin-left: 10px; padding: 6px 10px 10px 14px; float: left;">
            <strong>{{answer.answer}}</strong>&nbsp;<small>{{answer.by}}&nbsp;&mdash;&nbsp;{{answer.date}}</small>
          </div>
        </div>
        <br>
        <b>Add an Answer</b><br>
        <textarea cols="100"></textarea><br>
        <br>
        <button class="btn btn-primary" style="margin-bottom: 15px;">Post</button> 
      </div>
      <p style="border-bottom: 1px lightgray solid;padding: 5px; margin-top: -15px;">
      </p>
    </div>

    <br>
    <b>Add a Question</b><br>
    <textarea cols="100"></textarea><br>
    <br>
    <button class="btn btn-primary">Post</button> 
  </div>
</div>
