<div ng-if="details.details.evaluation.evaluationSchedule.length > 0" class="row">
  <div class="col-md-12">
    <div class="section-headers addBorders"><h4>DI2E Evaluation Schedule</h4></div>
    <div ng-class="getIsUpdated('evaluationSchedule')? 'updatedForUser': ''" class="container component2-div component2-border">
      <div class="col-sm-12 eval-content-title eval-content-title-content ng-scope ng-binding">
        <div id="eval-level-div">
          <div ng-if="details.details.evaluation.evaluationSchedule.length === 4">
            <a href="javascript: void(0)" data-toggle="modal" data-target="#basicModal2"><i class="glyphicon glyphicon-info-sign"></i></a>
            <span style="font-size:12px; color:black; margin-left:5px">Evaluation start: January 1, 2014</span>
          </div>
          <div class="col-md-12" style="padding:0;" id="evaluationScheduleUpdate" >
            <div ng-if="details.details.evaluation.evaluationSchedule.length === 1">
              <div ng-if="details.details.evaluation.evaluationSchedule[0].evaluationLevelCode === 'NA'">
                NA - No evaluation is expected for this component.
              </div>
            </div>
            <div ng-if="details.details.evaluation.evaluationSchedule.length === 4">
              <div ng-repeat="rows in details.details.evaluation.evaluationSchedule" ng-class="rows.levelStatus === 'C'? 'complete': rows.levelStatus === 'H'? 'haulted': rows.levelStatus === 'P'? 'inprogress': 'notstarted'" class="col-md-3" popover data-trigger="hover" data-placement="bottom" data-html="true"  data-selector="" data-original-title="Evaluation Level {{$index}}<br/> {{getEval(rows.evaluationLevelCode).label}}" data-container="body" data-content="<p class='dd'>{{getEval(rows.evaluationLevelCode).description}}</p>"> <span class="helpcontent" > <a href="javascript:void(0)" class="helpcontent">{{getEval(rows.evaluationLevelCode).label}}  </a> </span> </div>
              <div ng-repeat="rows in details.details.evaluation.evaluationSchedule" >
                <div class="col-md-3" ng-class="rows.levelStatus === 'C'? 'completeLabel': rows.levelStatus === 'H'? 'haultedLabel': rows.levelStatus === 'P'? 'inprogressLabel': 'notstartedLabel'" >{{grabEvaluationMessage(rows.levelStatus, getDate(rows.actualCompletionDate), getDate(rows.estimatedCompletionDate))}}</div>
              </div>
            </div>
          </div>
        </div>
        <div style="position: relative; clear: both"></div>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- angular lightbox gallery -->

<div class="row">
  <div class="col-md-12">
    <table ng-if="details.details.dependencies[0] !== undefined" class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th class="valign" colspan="2"><h4>External Dependencies</h4></th>
        </tr>             
        <tr id="dependencies{{$index}}Update" data-ng-repeat="row in details.details.dependencies">
          <td ng-class="getIsUpdated('dependencies'+$index)? 'updatedForUser': ''" class="text-left-bold">{{row.dependency}}</td>
          <td class="text-left">{{row.comment}}</td>
        </tr>
      </tbody>
    </table>  
    <table ng-if="details.details.resources[0] !== undefined" class="table table-bordered table-hover" style="table-layout:fixed">
      <tbody>
        <tr>
          <th class="valign"  colspan="18"><h4>Location of Component Atifacts</h4></th>
        </tr>             
        <tr>
          <th class="valign"  colspan="5">Name</th>
          <th class="valign"  colspan="5">Description</th>
          <th class="valign"  colspan="8">Link</th>
        </tr>             
        <tr id="resources{{$index}}Update" data-ng-repeat="row in details.details.resources">
          <td ng-class="getIsUpdated('resources'+$index)? 'updatedForUser': ''" colspan="5" class="text-left-bold hasLinks" style="overflow:hidden;">{{row.resourceTypeDesc}}</td>
          <td ng-if="row.description" colspan="5" class="text-left">{{row.description}}</td>
          <td ng-if="!row.description" colspan="5" class="text-left">&mdash;</td>
          <!-- <td colspan="8" class="text-left hasLinks" ng-bind-html="{{row.link}}">{{row.link}}</td> -->
          <td colspan="8" class="text-left hasLinks"><span ng-bind-html="row.link"></span></td>
        </tr>
      </tbody>
    </table>                  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table ng-if="details.details.contacts[0] !== undefined" class="table table-bordered table-hover" style="table-layout:fixed">
      <tbody>
        <tr>
          <th class="valign"  colspan="18"><h4>Points of Contact</h4></th>
        </tr>             
        <tr>
          <th class="valign"  colspan="4">Name</th>
          <th class="valign"  colspan="4">Position</th>
          <th class="valign"  colspan="4">Phone</th>
          <th class="valign"  colspan="6">Email</th>
        </tr>             
        <tr id="contacts{{$index}}Update" data-ng-repeat="row in details.details.contacts">
          <td ng-class="getIsUpdated('contacts'+$index)? 'updatedForUser': ''" colspan="4" class="text-left">{{row.name}}</td>
          <td colspan="4" class="text-left">{{row.positionDescription}}<span ng-if="row.organization && row.organization !== 'NA'">&nbsp;&mdash;&nbsp;{{row.organization}}</span></td>
          <td ng-if="row.phone" colspan="4" class="text-left">{{row.phone}}</td>
          <td ng-if="!row.phone" colspan="4" class="text-left">&mdash;</td>
          <td ng-if="row.email" colspan="6" class="text-left">{{row.email}}</td>
          <td ng-if="!row.email" colspan="6" class="text-left">&mdash;</td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>
<div class="row" ng-if="details.details.parentComponent || details.details.subComponents.length || details.details.relatedComponents.length">
  <div class="col-md-12">
    <div class="section-headers addBorders"><h4>Relationships</h4></div>  
    <div>
      <div ng-if="details.details.parentComponent" style="display: inline-block; margin: 0px 20px;">
        <h4>
          Parent Component:
        </h4>
        <div>
          <a href="#/single?id={{details.details.parentComponent.componentId}}" target="_blank">{{details.details.parentComponent.name}}</a>
        </div>
      </div>
      <div ng-if="details.details.subComponents.length" style="display: inline-block; margin: 0px 20px;">
        <h4>
          Child Component(s):
        </h4>
        <div data-ng-repeat="thing in details.details.subComponents">
          <a href="#/single?id={{thing.componentId}}" target="_blank">{{thing.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br ng-if="details.details.parentComponent || details.details.subComponents.length || details.details.relatedComponents.length">
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover" >
      <tbody> 
        <tr>
          <th class="valign" colspan="16"><h4>Component Vitals</h4></th>
        </tr>             
        <tr ng-repeat="row in details.details.attributes">
          <td colspan="5" class="text-left-bold">{{row.typeDescription}}</td>
          <td ng-if="row.codeLongDescription" colspan="11" popover data-trigger="hover" data-placement="left" data-html="true"  data-original-title="<b>{{row.codeDescription}}</b>" data-container="body" data-content="{{row.codeLongDescription}}" ><span class="imitateLink">{{row.codeDescription}}</span></td>
          <td ng-if="!row.codeLongDescription" colspan="11" class="text-left">{{row.codeDescription}}</td>
        </tr>
        <tr ng-repeat="row in details.details.metadata">
          <td colspan="5" class="text-left-bold">{{row.label}}</td>
          <td colspan="11" class="text-left">{{row.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>