<div ng-if="details.details.evaluation.evaluationSchedule[0] !== undefined" class="row">
  <div class="col-md-12">
    <div class="section-headers addBorders"><h4>DI2E Evaluation Schedule</h4></div>
    <div class="container component2-div">
      <div class="col-sm-12 eval-content-title eval-content-title-content ng-scope ng-binding">
        <div id="eval-level-div">
          <a href="javascript: void(0)" data-toggle="modal" data-target="#basicModal2"><i class="glyphicon glyphicon-info-sign"></i></a>
          <span style="font-size:12px; color:black; margin-left:5px">Evaluation start: January 1, 2014</span>
          <div class="col-md-12" style="padding:0;" >
            <div ng-repeat="rows in details.details.evaluation.evaluationSchedule" ng-class="rows.levelStatus === 'C'? 'complete': rows.levelStatus === 'H'? 'haulted': rows.levelStatus === 'P'? 'inprogress': 'notstarted'" class="col-md-3" popover data-trigger="hover" data-placement="bottom" data-html="true"  data-selector="" data-original-title="Evaluation Level {{$index}}<br/> {{getEval(rows.evaluationLevelCode).desc}}" data-container="body" data-content="<p class='dd'>{{getEval(rows.evaluationLevelCode).longDesc}}</p>">
            <span class="helpcontent" >
              <a href="javascript:void(0)" 
              class="helpcontent">{{getEval(rows.evaluationLevelCode).desc}}  </a>
            </span>
          </div>
          <div ng-repeat="rows in details.details.evaluation.evaluationSchedule" >
            <div class="col-md-3" ng-class="rows.levelStatus === 'C'? 'completeLabel': rows.levelStatus === 'H'? 'haultedLabel': rows.levelStatus === 'P'? 'inprogressLabel': 'notstartedLabel'" >{{grabEvaluationMessage(rows.levelStatus, getDate(rows.actualCompletionDate), getDate(rows.estimatedCompletionDate))}}</div>
          </div>
        </div>
      </div>
      <div style="position: relative; clear: both"></div>
      <br>
    </div>
  </div>
</div>
</div>
<!-- angular lightbox gallery -->

<div class="row">
  <div class="col-md-12">
    <table ng-if="details.details.dependencies[0] !== undefined" class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th class="valign" colspan="2"><h4>External Dependencies</h4></th>
        </tr>             
        <tr data-ng-repeat="row in details.details.dependencies">
          <td class="text-left-bold">{{row.dependancy}}</td>
          <td class="text-left">{{row.comment}}</td>
        </tr>
      </tbody>
    </table>  
    <table ng-if="details.details.resources[0] !== undefined" class="table table-bordered table-hover" style="table-layout:fixed">
      <tbody>
        <tr>
          <th class="valign"  colspan="18"><h4>Location of Asset Artifacts</h4></th>
        </tr>             
        <tr>
          <th class="valign"  colspan="5">Name</th>
          <th class="valign"  colspan="5">Description</th>
          <th class="valign"  colspan="8">Link</th>
        </tr>             
        <tr data-ng-repeat="row in details.details.resources">
          <td colspan="5" class="text-left-bold" style="overflow:hidden;">{{row.name}}</td>
          <td ng-if="row.description" colspan="5" class="text-left">{{row.description}}</td>
          <td ng-if="!row.description" colspan="5" class="text-left">&mdash;</td>
          <td colspan="8" class="text-left">{{row.link}}</td>
        </tr>
      </tbody>
    </table>                  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table ng-if="details.details.contacts[0] !== undefined" class="table table-bordered table-hover" style="table-layout:fixed">
      <tbody>
        <tr>
          <th class="valign"  colspan="18"><h4>Points of Contact</h4></th>
        </tr>             
        <tr>
          <th class="valign"  colspan="4">Position</th>
          <th class="valign"  colspan="4">Name</th>
          <th class="valign"  colspan="4">Phone</th>
          <th class="valign"  colspan="6">Email</th>
        </tr>             
        <tr data-ng-repeat="row in details.details.contacts">
          <td colspan="4" class="text-left">{{row.positionDescription}}<span ng-if="row.organization">&nbsp;&mdash;&nbsp;{{row.organization}}</span></td>
          <td colspan="4" class="text-left">{{row.name}}</td>
          <td ng-if="row.phone" colspan="4" class="text-left">{{row.phone}}</td>
          <td ng-if="!row.phone" colspan="4" class="text-left">&mdash;</td>
          <td ng-if="row.email" colspan="6" class="text-left">{{row.email}}</td>
          <td ng-if="!row.email" colspan="6" class="text-left">&mdash;</td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="section-headers addBorders"><h4>Relationships</h4></div>  
    <div>
      <div style="display: inline-block; margin: 0px 20px;">
        <h4>
          Parent Component:
        </h4>
        <div data-ng-repeat="thing in details.details.componentOf">
          <a  href="">{{thing.name}}</a>
        </div>
      </div>
      <div style="display: inline-block; margin: 0px 20px;">
        <h4>
          Child Component(s):
        </h4>
        <div data-ng-repeat="subComponent in details.details.subComponents">
          <a  href="">{{subComponent.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br> -->
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover" >
      <tbody> 
        <tr>
          <th class="valign" colspan="16"><h4>Component Vitals</h4></th>
        </tr>             
        <tr ng-repeat="row in details.details.attributes">
          <td colspan="5" class="text-left-bold">{{row.typeDescription}}</td>
          <td colspan="11" class="text-left">{{row.codeDescription}}</td>
        </tr>
        <tr ng-repeat="row in details.details.metadata">
          <td colspan="5" class="text-left-bold">{{row.typeDescription}}</td>
          <td colspan="11" class="text-left">{{row.codeDescription}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>