<!-- <p>This is the details/details view.</p> -->
<div class="component-detailsd">
  <div class="component2-divssss row" style="margin-top: 10px; margin-bottom:25px">
    <div class="col-md-4">
      <div class="section-headers"><h4>Categories</h4></div>
      <div data-ng-repeat="tag in details.categories" style="margin-left: 30px">
        <ul>
          <li> {{tag.desc}}</li>
        </ul>                   
      </div>
    </div>
    <div class="col-md-4">
      <div class="section-headers"><h4>Operational Status</h4></div>
      <div style="margin-left: 30px">
        <ul>
          <li> {{details.operationStatus}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="section-headers"><h4>Component State</h4></div>
      <div style="margin-left: 30px">
        <ul>
          <li> {{getEvaluationState()}}</li>
        </ul>
      </div> 
    </div>
  </div>
</div>


<div class="section-headers"><h4>Resources</h4></div>
<div class="container component2-div">
  <div class="col-sm-12">

    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-html.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Web Pages
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-x-script.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Binaries
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-x-generic.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Source
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/x-office-document.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Documentation
        </a>
      </div>
    </div>
    <div style="position: relative; clear: both"></div>
  </div>
</div>

<br>
<div class="section-headers"><h4>Relationships</h4></div>
<!-- <div class="component2-div-title">RELATIONSHIPS</div> -->
<div class="container component2-div">
  <div class="col-sm-12">
    <div>
      <h4>
        Parent Component:
      </h4>
      <div data-ng-repeat="thing in details.componentOf">
        <a  href="">{{thing.name}}</a>
      </div>
      <h4>
        Child Component(s):
      </h4>
      <div data-ng-repeat="subComponent in details.subComponents">
        <a  href="">{{subComponent.name}}</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="section-headers"><h4>Screenshots / Media</h4></div>
<div class="container component2-div">
  <div class="col-sm-6">
    <div class="detailSection">
      <img src="images/picture1.png" class="screenshot" onclick="screenshotPopUp('images/picture1.png')">
    </div>
  </div>
</div>
