
<div class="hideme" style="width: 200px; position: absolute; z-index: 2;">
  <button class="btn btn-default" ng-click="mode = 'default'" style="width: 200px; margin-top:10px; margin-bottom:10px;">Default Template</button>
  <button class="btn btn-default" ng-click="mode = 'custom'" style="width: 200px;">Custom Template</button>
  <div class="col-12-sm"></div>
  <div ng-show="mode === 'custom'" style="position:relative">
    <div >
      <strong>-Custom menu-</strong>
      <div class="checkbox" ng-repeat="detail in details">
        <label>
          <input type="checkbox" ng-model="detail.checked" ng-checked="detail.checked"> {{detail.checkedLabel}}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="printMeBody" style="margin-top: 10px; position:absolute; padding-left: 205px; width: 100%;">
  <div class="paper">
    <div class="border">
      <div ng-show="details.evaluation.checked || details.attributes.checked || details.contacts.checked" class="right">
        <div ng-show="details.evaluation.checked" class="section" style="padding-bottom: 80px;">
          <h4>Reusability Factors (5=best)</h4>
          <table class="table table-bordered table-striped" style="table-layout: fixed;"  id="evaluationSectionsUpdate">
            <!-- Currently this table only shows if there is a start date -->
            <tr data-ng-repeat="col in details.evaluation.data.evaluationSections">
              <td class="valign" style="padding: 0px;" colspan="2">
                <div class="overflow-pair-right" style="vertical-align:middle; padding: 8px 5px; border-left: 1px solid lightgray; margin-left: -1px; width:65px; float: right;" ng-class="col.score > 0? '':'shadeME'">
                  <i ng-if="col.score > 0" ng-repeat="t in getTimes(col.score) track by $index" class="fa fa-circle" style="color:#021233; display:inline-block">
                  </i>
                  <span ng-if="col.score <= 0">&nbsp;</span>
                </div>
                <div  ng-class="getIsUpdated('evaluationSections')? 'updatedForUser': ''" class="overflow-pair-left imitateLink" style="vertical-align:middle; padding: 8px;  border-right: 1px solid lightgray;">
                  <a href="javascript:void(0)" class="helpcontent" > {{col.name}} </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div ng-show="details.attributes.checked" class="section">
          <h4>Component Vitals</h4>
          <table class="table table-striped table-bordered" style="table-layout:fixed">
            <tr ng-repeat="attribute in details.attributes.data">
              <td>
                {{attribute.typeDescription}}
              </td>
              <td>
                {{attribute.codeDescription}}
              </td>
            </tr>
          </table>
        </div>
        <div ng-show="details.contacts.checked" class="section">
          <h4>Points of Contact</h4>
          <div ng-repeat="contact in details.contacts.data">
            {{contact.positionDescription}}
            <table class="table table-striped table-bordered" style="table-layout:fixed">
              <col width="60px" />
              <col width="175px" />
              <tr>
                <td>Name</td>
                <td>{{contact.name}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{contact.email}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="left liners" ng-show="details.componentName.checked || details.organization.checked || details.version.checked || details.organization.checked || details.lastActivityDate.checked || details.lastViewedDate.checked || details.componentViews.checked">
        <div class="line" ng-show="details.componentName.checked">Name: {{details.componentName.data}}</div>
        <div class="line" ng-show="details.version.checked">Version: {{details.version.data}}</div>
        <div class="line" ng-show="details.organization.checked">Organization: {{details.organization.data}}</div>
        <div class="line" ng-show="details.lastActivityDate.checked">Last Activity Date: {{getDate(details.lastActivityDate.data)}}</div>
        <div class="line" ng-show="details.lastViewedDate.checked">Last View Date: {{getDate(details.lastViewedDate.data)}}</div>
        <div class="line" ng-show="details.componentViews.checked">Views: {{details.componentViews.data}}</div>
      </div>
      <div class="left border" ng-show="details.tags.checked">Tags: {{formatTags(details.tags.data)}}</div>
      <div class="left" ng-show="details.description.checked">{{details.description.data}}</div>
      <div class="left" ng-show="details.metadata.checked">{{details.metadata.data}}</div>
      <div class="left" ng-show="details.resources.checked">{{details.resources.data}}</div>
      <div class="left" ng-show="details.subComponents.checked">{{details.subComponents.data}}</div>
      <div class="left" ng-show="details.dependencies.checked">{{details.dependencies.data}}</div>
      <div class="left" ng-show="details.reviews.checked">{{details.reviews.data}}</div>
      <div class="left" ng-show="details.questions.checked">{{details.questions.data}}</div>
      <div class="left" ng-show="details.componentMedia.checked">{{details.componentMedia.data}}</div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

