<div ng-if="reviewSummary">

  <div class="section-headers addBorders"><h4>Review Summary</h4></div>
  <div class="container component2-div">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="row">
          <span popover data-trigger="hover" data-placement="top" data-html="true" data-original-title="Review Summary Details" data-container="body" data-content="Average rating: {{reviewSummary.total.score}} stars out of {{reviewSummary.total.count}} reviews<br>" style="width: 140px; display:flex;">
            <raty read-only class="pull-left large-raty" id="star{{$index}}" style="min-width:110px; height: 100%; margin: -6px 10px -4px 0px;" score="{{reviewSummary.total.score}}" number="5" path="images/raty/" data-container="star{{$index}}">
            </raty>
          </span>
        </div>
        <div class="row">
          <span class="pull-left" style="margin-bottom: 10px;"><strong>{{reviewSummary.total.recommend}} out of {{reviewSummary.total.count}} ({{reviewSummary.total.recommendPercent}}%)</strong> reviewers would recommend this component.</span>
        </div>
        <div class="row">
          <button class="btn btn-primary" ng-click="setComponentId(details.details.componentId).then(setupModal(modal, 'fullWidthModal').then(openModal('descModal', 'Write a Review')));">Write a Review <i style="font-size: 16px; position: relative; bottom: -2px; left: 4px;" class="star-half-png"></i></button>
        </div>
      </div>
      <div ng-if="reviewSummary.pros" class="col-sm-3">
        <ul class="list-unstyled">
          <li><strong>Pros</strong></li>
          <li ng-repeat="(key, value) in reviewSummary.pros">
            <a href="">{{key}}</a>
            <span style="color: #999;padding-left: 3px;font-size: 11px;">({{value}})</span>
          </li>
        </ul>
      </div>
      <div ng-if="reviewSummary.cons" class="col-sm-3">
        <ul class="list-unstyled">
          <li><strong>Cons</strong></li>
          <li ng-repeat="(key, value) in reviewSummary.cons">
            <a href="">{{key}}</a>
            <span style="color: #999;padding-left: 3px;font-size: 11px;">({{value}})</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section-headers addBorders"><h4>Component Reviews</h4></div>
  <!-- <div class="component-div-title">Component Reviews</div> -->
  <div ng-class="getIsUpdated('reviews'+$index)? 'updatedForUser': ''" id="reviews{{$index}}Update" class="container component2-div" ng-repeat="review in details.details.reviews">
    <div class="col-sm-12">
      <H3 style="margin-top: 0px"><strong>{{review.title}} &mdash;</strong>
        <raty class="large-raty" read-only id="star{{$index}}" style="min-width:110px; height: 100%; " score="{{review.rating}}" number="5" path="images/raty/" data-container="star{{$index}}">
        </raty>
        <strong  ng-if="review.recommend" style="font-size: 14px;">&dash;I would recommend this component&dash;</strong>
        <div class="pull-right"><button class='btn btn-primary' ng-click="toggleclass('detailsReview-'+$index, 'detailsReview')"><i class='fa fa-expand'></i></button></div>
      </H3>
    </div>
    <div class="col-sm-6">
      <p style="font-size: 12px;">
        <strong ng-if="review.username">{{review.username}}</strong><br />
        <strong ng-if="review.userType">Role: </strong> {{review.userType}} <br />
        <strong ng-if="review.usedTimeCode">Time used: </strong> {{review.usedTimeCode}} <br />
        <strong ng-if="review.lastUsed">Last used: </strong> {{getDate(review.lastUsed)}} <br />
        <strong ng-if="review.organization">Organization: </strong> {{review.organization}} <br />
      </p>
    </div>
    <div ng-if="review.pros[0] !== undefined || review.cons[0] !== undefined" class="col-sm-6">
      <div ng-if="review.pros[0] !== undefined" class="col-sm-6">
        <p>
          <strong>Pros</strong><br />
          <a href="" ng-repeat="pro in review.pros">{{pro.text}}<span ng-if="$index !== review.pros.length - 1">,&nbsp;</span></a>
        </p>
      </div>
      <div ng-if="review.cons[0] !== undefined" class="col-sm-6">
        <p>
          <strong>Cons</strong><br />
          <a href="" ng-repeat="con in review.cons">{{con.text}}<span ng-if="$index !== review.cons.length - 1">,&nbsp;</span></a>
        </p>
      </div>
    </div>
    <div class="col-sm-12">
      <div id="detailsReview-{{$index}}" class="detailsPadding detailsReview">
        <p><strong>Comments: </strong> {{review.comment}}
        </p>
      </div>
    </div>
    <!-- Start of right column for user review -->
  </div>
</div>
<div ng-if="!reviewSummary">
  <div>There are currently no Reviews for this component.</div>
  <br>
  <button class="btn btn-primary" ng-click="setComponentId(details.details.componentId).then(setupModal(modal, 'fullWidthModal').then(openModal('descModal', 'Write a Review'))); ">Write a Review <i style="font-size: 16px; position: relative; bottom: -2px; left: 4px;" class="star-half-png"></i></button>
</div>
