<div id="scheduleHolder">
  <ul class="scheduleUl" id="scheduleUl">
    <li ng-class="level.current? getCurrent(ngModel.intent): (level.groupCode === group)? (level.finished? 'success': '') : 'disabled'" class="scheduleLevel" ng-repeat="level in levels" popover data-trigger="hover" data-placement="bottom" data-html="true"  data-original-title="<b>{{level.label}}</b>" data-container="body" data-content="{{level.description}}" >
      <span ng-show="!level.current &&  (!(level.groupCode === group) || !level.finished)">{{level.label}}
      </span>
      <span ng-show="!level.current && level.groupCode === group && level.finished">
        <span style="width: 13px; float:right;"><i class="fa fa-check"></i></span>
        <span style="float:left; width: 280px;">{{level.label}}</span>
        <div style="clear:both;"></div>
      </span>
      <span ng-show="level.current">        
        <span ng-if="ngModel.intent.code === 'COMPLETE'"style="width: 13px; float:right;"><i class="fa fa-check"></i></span>
        <span ng-if="ngModel.intent.code === 'SUSPENDED'"style="width: 13px; float:right;"><i class="fa fa-times"></i></span>
        <span style="float:left; width: 280px;">{{level.label}}</span>
        <div style="clear:both;"></div>
      </span>
    </li>
  </ul>
  <div style="margin-left:315px;" id="scheduleDiv">
    <h4 style="margin-top:0px; padding: 5px; padding-left:0px;">{{ngModel.level.typeDescription}}&nbsp;&mdash;&nbsp;{{ngModel.level.codeDescription}}&nbsp;<small ng-if="ngModel.level.code !=='NA' && ngModel.level">({{ngModel.intent.codeDescription}})</small></h4>
    <div>{{ngModel.level.codeLongDescription}}</div><span style="font-size: 11px; color: #858585;">Updated&mdash;{{getDate(ngModel.level.updateDts)}}</span>
  </div>
</div>