
<div class="leftCol hideTheExtra">
  <div class="rightCol">
    <table class="table table-bordered table-hover" style="table-layout: fixed;">
      <tbody>
        <tr>
          <th class="valign" colspan="2"><h4>Reusability Factors (5=best)</h4></th>
        </tr>
        <tr data-ng-repeat="row in componentSummary">
          <th class="valign" style="vertical-align:middle"><h5>Evaluation Date</h5></th>
          <th class="valign"><h5>{{row.evaluationdate}}</h5></th>
        </tr>
        <tr data-ng-repeat="row in scoreCard | partition:2">
          <td data-ng-repeat="col in row" class="valign" style="padding: 0px;">
            <div class="overflow-pair-right" style="vertical-align:middle; padding: 8px; border-left: 1px solid lightgray; margin-left: -1px; width:77px; float: right;" >
              <i ng-repeat="t in getTimes(col.ranking) track by $index" class="fa fa-circle" style="color:#021233; display:inline-block"></i>
            </div>
            <div class="overflow-pair-left imitateLink" style="vertical-align:middle; padding: 8px;  border-right: 1px solid lightgray;"  popover data-trigger="hover" data-placement="left" data-html="true"  data-original-title="<b>{{col.name}}</b> ranking = {{col.ranking}}" data-container="body" data-content="<b>Questions</br></b><p class=''>{{col.questions}}</p><b>Ranking Criteria</br></b><p class=''>{{col.criteria}}</p>" >
              <a href="javascript:void(0)" class="helpcontent" > {{col.name}} </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="section-headers"><h4>Component Description</h4></div>
    <p class="results-content-description" style="margin-left: 0px">
      {{details.details.description}}
    </p>
    <br>
  </div>
  <div class="leftCol hideTheExtra">
    <div class="section-headers"><h4>Screenshots / Media</h4></div>
    <br>
    <div class="containers">
      <ul ng-controller="GalleryCtrl" style="list-style-type: none;">
        <li ng-repeat="image in images | limitTo:3" style="display:inline; padding:5px 10px 10px 0;" style="display:inline">
          <a ng-click="openLightboxModal($index)" style="text-decoration:none; cursor:pointer">
            <img ng-src="{{image.thumbUrl}}" class="img-thumbnail" alt="description" title="description goes here">
          </a>
        </li>
        <li ng-if="images.length > 3" style="display:inline">
          <button class="btn btn-default" ng-click="openLightboxModal(3)">View More</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="leftCol hideTheExtra">
    <table class="table table-bordered table-hover" ng-repeat="row in componentSummary">
     <tbody> 
      <tr>
       <th class="valign" colspan="16"><h4>Component Summary</h4></th>
     </tr>	 						
     <tr>
       <td colspan="5" class="text-left-bold">Component Name</td>
       <td colspan="11" class="text-left">{{details.details.name}}</td>
     </tr>
     <tr >
       <td colspan="5" class="text-left-bold">Version</td>
       <td colspan="11" class="text-left" >{{row.versions}}</td>
     </tr>
     <tr class="valign">
       <td colspan="5" class="text-left-bold" >Component Type</td>
       <td colspan="11" class="text-left" >{{row.componenttype}}</td>
     </tr>
     <tr class="valign">
       <td colspan="5" class="text-left-bold" >Agency</td>
       <td colspan="11" class="text-left" >{{row.agency}}</td>
     </tr>
     <tr class="valign">
       <td colspan="5" class="text-left-bold" >DI2E Marketplace</td>
       <td colspan="11" class="text-left">{{row.di2emarketplace}}</td>
     </tr>																					
   </tbody>
 </table>
</div>
</div>
