<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="openstorefrontApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="openstorefrontApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="openstorefrontApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:ng="http://angularjs.org" id="ng-app" class="no-js" > <!--<![endif]-->
<head>

  <base href="/openstorefront/">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <title>DI2E Clearinghouse</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css" />
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
  <link rel="stylesheet" href="bower_components/typicons/src/font/typicons.min.css" />
  <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
  <link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" /> -->
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" /> -->
  <!-- <link href="styles/bootstrap-override.css" rel="stylesheet" type="text/css"/>  -->
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="styles/print.css">
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/abn_tree.css" />
  <link rel="stylesheet" href="styles/common/angular-lightbox.css" />
  <link rel="stylesheet" href="styles/common/angular-multi-select.css">
  <!-- endbuild -->
  <!-- These stylesheets will be copied over directly (the sass compiler won't touch them) -->
  <!-- end section -->

  <!--
Copyright 2014 Space Dynamics Laboratory - Utah State University Research Foundation.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
</head>
<body ng-app="openstorefrontApp" class="printMe">
  <loader trigger="bodyLoad"></loader>

  
  <div ng-if="ieVersionCheck && loaded" class="chromeFrame" ng-cloak>
    <p>You are using an <strong>outdated</strong> browser. Please switch to <strong><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></strong> or <strong><a href="https://www.google.com/intl/en-US/chrome/browser/">Chrome</a></strong>, or <strong><a href="http://browsehappy.com/">upgrade your browser</a></strong> to improve your experience</p>
  </div>
  <div ng-if="!ieVersionCheck && loaded" ng-cloak>
    <!--[if lt IE 9]>
    <p class="chromeFrame">You are using an <strong>outdated</strong> browser. Please switch to <strong><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></strong> or <strong><a href="https://www.google.com/intl/en-US/chrome/browser/">Chrome</a></strong>, or <strong><a href="http://browsehappy.com/">upgrade your browser</a></strong> to improve your experience</p>
    <![endif]-->
  </div>

  <!-- Bring in the navigation -->
  <div ng-include="'views/nav.html'" style="position: relative; z-index: 1011" id="nav"></div>

  <!-- Add your site or application content here -->
  <div class="container-fluid fullHeight printMe" ng-view="">
    <!-- Nothing goes here!!! -->
  </div>

  <message type="messageType" contacts="messageContacts"></message>


  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/es5-shim/es5-sham.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->


  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/ng-grid/build/ng-grid.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
  <script src="bower_components/jquery-waypoints/waypoints.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
  <script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
  <script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
  <script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
  <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
  <script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
  <script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
  <script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
  <script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
  <script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
  <script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
  <script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
  <script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
  <script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
  <script src="bower_components/ng-idle/angular-idle.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/videogular/videogular.js"></script>
  <script src="bower_components/videogular-controls/vg-controls.js"></script>
  <script src="bower_components/videogular-buffering/vg-buffering.js"></script>
  <script src="bower_components/videogular-poster/vg-poster.js"></script>
  <script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
  <script src="bower_components/jquery-cycle2/build/jquery.cycle2.js"></script>
  <script src="bower_components/jQuery.dotdotdot/src/js/jquery.dotdotdot.js"></script>
  <script src="bower_components/angular-bindonce/bindonce.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- THINGS IN THIS SECTION WILL NOT BE MINIFIED -->
  <!-- Grab our Common js -->
  <script type="text/javascript" src="scripts/common/ng-ckeditor.js"></script>  
  <script type="text/javascript" src="scripts/common/ckeditor/ckeditor.js"></script>  
  <script type="text/javascript" src="scripts/common/angular-lightbox.js"></script>
  <script type="text/javascript" src="scripts/common/jquery-cron.js"></script>
  <script type="text/javascript" src="scripts/common/angular-multi-select.js"></script>
  <script type="text/javascript" src="scripts/common/cronGen.js"></script>
  <script type="text/javascript" src="scripts/common/dropzone.js"></script>
  <script type="text/javascript" src="scripts/common/combobox.js"></script>

  <!-- THINGS IN THIS SECTION WILL NOT BE MINIFIED -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- Grab our app -->
  <script type="text/javascript" src="scripts/modules/notifications.js"></script>
  <script type="text/javascript" src="scripts/modules/infinitescroll.js"></script>
  <script type="text/javascript" src="scripts/modules/d3.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

  <!-- Grab our factories -->
  <script type="text/javascript" src="scripts/services/localcache.js"></script>
  <script type="text/javascript" src="scripts/services/componentservice.js"></script>
  <script type="text/javascript" src="scripts/services/userservice.js"></script>
  <script type="text/javascript" src="scripts/services/lookupservice.js"></script>
  <script type="text/javascript" src="scripts/services/business.js"></script>
  <script type="text/javascript" src="scripts/services/auth.js"></script>
  <script type="text/javascript" src="scripts/services/highlights.js"></script>
  <script type="text/javascript" src="scripts/services/articleservice.js"></script>
  <script type="text/javascript" src="scripts/services/configuration.js"></script>
  <script type="text/javascript" src="scripts/services/jobservice.js"></script>
  <script type="text/javascript" src="scripts/services/systemservice.js"></script>
  <script type="text/javascript" src="scripts/services/trackingservice.js"></script>
  <script type="text/javascript" src="scripts/services/mediaservice.js"></script>
  <script type="text/javascript" src="scripts/services/errorinterceptor.js"></script>
  <script type="text/javascript" src="scripts/services/reportservice.js"></script>
  <script type="text/javascript" src="scripts/services/alertservice.js"></script>  
  <script type="text/javascript" src="scripts/services/submission.js"></script>  
  <script type="text/javascript" src="scripts/services/organization.js"></script>  

  <!-- Grab our Directives -->
  <script type="text/javascript" src="scripts/directives/raty.js"></script>
  <script type="text/javascript" src="scripts/directives/modal.js"></script>
  <script type="text/javascript" src="scripts/directives/enterevent.js"></script>
  <script type="text/javascript" src="scripts/directives/component/componentlist.js"></script>
  <script type="text/javascript" src="scripts/directives/component/architecture.js"></script>
  <script type="text/javascript" src="scripts/directives/abn_tree_directive.js"></script>
  <script type="text/javascript" src="scripts/directives/broadcastresults.js"></script>
  <script type="text/javascript" src="scripts/directives/popover_directive.js"></script>
  <script type="text/javascript" src="scripts/directives/loader.js"></script>
  <script type="text/javascript" src="scripts/directives/dynamichtml.js"></script>
  <script type="text/javascript" src="scripts/directives/dynamicpopover.js"></script>
  <script type="text/javascript" src="scripts/directives/selectall.js"></script>
  <script type="text/javascript" src="scripts/directives/svcv4archdiagram.js"></script>
  <script type="text/javascript" src="scripts/directives/showerrors.js"></script>
  <script type="text/javascript" src="scripts/directives/ngfocus.js"></script>
  <script type="text/javascript" src="scripts/directives/questions_reviews/question.js"></script>
  <script type="text/javascript" src="scripts/directives/questions_reviews/response.js"></script>
  <script type="text/javascript" src="scripts/directives/cron.js"></script>
  <script type="text/javascript" src="scripts/directives/schedule.js"></script>
  <script type="text/javascript" src="scripts/directives/print.js"></script>
  <script type="text/javascript" src="scripts/directives/compare/compareview.js"></script>
  <script type="text/javascript" src="scripts/directives/admin/message.js"></script>
  <script type="text/javascript" src="scripts/directives/dropzone/dropzone.js"></script>
  <script type="text/javascript" src="scripts/directives/services/filterquery.js"></script>
  <script type="text/javascript" src="scripts/directives/content/panel.js"></script>
  <script type="text/javascript" src="scripts/directives/content/stickydiv.js"></script>
  <script type="text/javascript" src="scripts/directives/content/photo.js"></script>
  <script type="text/javascript" src="scripts/directives/content/readmore.js"></script>
  <script type="text/javascript" src="scripts/directives/content/draggable.js"></script>
  <script type="text/javascript" src="scripts/directives/content/alwaysontop.js"></script>
  <script type="text/javascript" src="scripts/directives/content/collapse.js"></script>
  <script type="text/javascript" src="scripts/directives/content/smartselect.js"></script>
  <script type="text/javascript" src="scripts/directives/content/classification.js"></script>
  <script type="text/javascript" src="scripts/directives/content/typeahead.js"></script>
  <script type="text/javascript" src="scripts/directives/content/selectall.js"></script>

  <!-- Grab our Controller -->
  <script type="text/javascript" src="scripts/controllers/main.js"></script>
  <script type="text/javascript" src="scripts/controllers/nav.js"></script>
  <script type="text/javascript" src="scripts/controllers/results.js"></script>
  <script type="text/javascript" src="scripts/controllers/resultsModal.js"></script>
  <script type="text/javascript" src="scripts/controllers/userprofile.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin.js"></script>
  <script type="text/javascript" src="scripts/controllers/landing.js"></script>
  <script type="text/javascript" src="scripts/controllers/single.js"></script>
  <script type="text/javascript" src="scripts/controllers/details/fulldetails.js"></script>
  <script type="text/javascript" src="scripts/controllers/login.js"></script>
  <script type="text/javascript" src="scripts/controllers/compare.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/configuration/configuration.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/configuration/savecompconf.js"></script>
  <script type="text/javascript" src="scripts/controllers/details/review.js"></script>
  <script type="text/javascript" src="scripts/controllers/base.js"></script>
  <script type="text/javascript" src="scripts/controllers/print.js"></script>
  <script type="text/javascript" src="scripts/controllers/user.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/application_management/alerts.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/application_management/jobs.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/application_management/reports.js"></script>  
  <script type="text/javascript" src="scripts/controllers/admin/application_management/system.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/application_management/tracking.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/application_management/userMessage.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/editarticles.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/editattributes.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/editcodes.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/editcomponent.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/edithighlights.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/manageLookups.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/manageOrganizations.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/media.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/questions.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/reviews.js"></script>
  <script type="text/javascript" src="scripts/controllers/admin/data_management/tags.js"></script>  
  <script type="text/javascript" src="scripts/controllers/admin/data_management/userProfile.js"></script>
  <script type="text/javascript" src="scripts/controllers/user/managereports.js"></script>
  <script type="text/javascript" src="scripts/controllers/submissions.js"></script>
  <script type="text/javascript" src="scripts/controllers/help.js"></script>

  <!-- Grab our Filters -->
  <script type="text/javascript" src="scripts/filters/componentfilter.js"></script>
  <script type="text/javascript" src="scripts/filters/partition.js"></script>
  <script type="text/javascript" src="scripts/filters/tagfilter.js"></script>
  <script type="text/javascript" src="scripts/filters/ratingfilter.js"></script>
  <script type="text/javascript" src="scripts/filters/loosefilter.js"></script>

  <!-- Grab our page-specific stuff -->
  <script type="text/javascript" src="scripts/page_specific/main.js"></script>
  <script type="text/javascript" src="scripts/page_specific/results.js"></script>

  <!-- Grab our common js -->
  <script type="text/javascript" src="scripts/common/animations.js"></script>
  <script type="text/javascript" src="scripts/common/common.js"></script>
  <script type="text/javascript" src="scripts/common/helpers.js"></script>
  <script type="text/javascript" src="scripts/common/ckeditor_config.js"></script>
  <script type="text/javascript" src="scripts/common/sessionpolyfill.js"></script>
  <script type="text/javascript" src="scripts/common/raty.js"></script>
  <script type="text/javascript" src="scripts/common/modified-angular-strap.min.js"></script>
  <script type="text/javascript" src="scripts/common/modified-angular-strap.tpl.min.js"></script>
  <script type="text/javascript" src="scripts/common/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="scripts/common/search.js"></script>
  <script type="text/javascript" src="scripts/common/sticky-tables.js"></script>
  <script type="text/javascript" src="scripts/common/jquery.cycle2.carousel.min.js"></script>
  <script type="text/javascript" src="scripts/common/jquery.cycle2.center.min.js"></script>
  <!-- endbuild -->

  <!-- This is the profile modal -->
  <div modal controller-name="UserProfileCtrl" modalId='profileModal' modalclasses="fullWidthModal">
  </div>
  
  <!-- <div alwaysontop draggable style="min-width: 300px; min-height: 300px; top:0px; left:0px;"> -->
  <!-- </div> -->

</body>
</html>
