<div class="modal-header">
  <button type="button" title="Cancel Changes" class="btn btn-primary pull-right" ng-click="cancel()"><i class="fa fa-close"></i>&nbsp;Cancel</button>
  <h3 style="display:inline-block; margin-top:0px; margin-bottom:0px; max-width:calc(100% - 90px)">Edit {{type.description}}</h3>
</div> 
<div class="modal-body" id="editTypeModalDiv">
  <loader trigger="adminTypeRefresh"></loader>
  <tabset justified="false" type="">  <!-- pills -->
    <tab heading="Edit Type Details">
      <form name="myForm" style="margin-top:10px;" ng-submit="saveType(myForm.$valid)">
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Label</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="form-control" type="text" id="description" ng-model="type.description"  ng-maxlength="255" maxlength="255" placeholder="Description (label)"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Type</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input ng-disabled="!addTypeFlg" class="form-control" type="text" id="attributeType" ng-model="type.attributeType"  ng-maxlength="20" maxlength="20" placeholder="Type key" required/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Default Code <i ng-show="!typeCodes.length" class="glyphicon glyphicon-info-sign" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" data-title="To set the default code for this type, you must have codes to select from." data-trigger="hover"></i></div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><select smartselect ng-disabled="!typeCodes.length" class="form-control" type="text" id="defaultAttributeCode" ng-model="type.defaultAttributeCode"  ng-options="code.code as code.label for code in defaultCodesLookup"><option style="display:none" value="">Select a Code</option></select></div>
        <!-- <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Security Type <i ng-show="!securityTypes.length" class="glyphicon glyphicon-info-sign" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" data-title="To set the default code for this type, you must have codes to select from." data-trigger="hover"></i></div>
         -->
         <!-- <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><select smartselect ng-disabled="!securityTypes.length" class="form-control" type="text" id="securityMarkingType" ng-model="type.securityMarkingType"  ng-options="code.code as code.description for code in securityTypes"><option style="display:none" value="">Select a Type</option></select></div> -->
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Detailed Description</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;">
          <textarea ckeditor="editorOptions" id="detailedDescription" ng-model="type.detailedDescription" ng-watch="type.detailedDescription"></textarea>
        </div>
        <div ng-show="type.requiredFlg" class="col-sm-2" style="padding-left:0px; padding-right:0px;">Types required for <i class="glyphicon glyphicon-info-sign" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" data-title="You can restrict which component types this attribute is required for by selecting it from this dropdown (leaving it blank defaults to required for all types)" data-trigger="hover"></i>
        </div>
        <div ng-show="type.requiredFlg" class="col-sm-10" style="padding-left:0px; padding-right:0px;">
          <select smartselect type="text" class="form-control" name="type.restrictions" id="type.restrictions" ng-change="addToRequiredRestrictions(type.restrictions, type.oldR); type.oldR = type.restrictions" ng-model="type.restrictions" data-min-length="0" data-html="1" data-animation="am-flip-x" ng-options="thing.code as thing.description for thing in componentTypes" on-enter="addToRequiredRestrictions()">
            <option style="display:none" value="">Select a Type</option>
          </select>
        </div>
        <div ng-show="type.requiredFlg" class="col-sm-10 col-sm-offset-2" style="padding-left:0px; padding-right:0px;">
          <div class="tags" ng-if="type.requiredRestrictions.length">
            <ul class="tags-list" style="margin: 0; padding: 0; list-style-type: none;">
              <li class="tag-item" style="margin: 2px; padding: 0 5px; display: inline-block; font: 14px \'Helvetica Neue\',Helvetica,Arial,sans-serif; height: 26px; line-height: 25px;" ng-repeat="type in type.requiredRestrictions">
                <span>{{getTypeDesc(type)}}</span>
                <a class="remove-button" ng-click="removeFromRequiredRestrictions(type)" style="margin: 0 0 0 5px; padding: 0; border: 0; background: 0 0; cursor: pointer; vertical-align: middle; font: 700 16px Arial,sans-serif; color: #585858;">&times;</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Required Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" id="requiredFlg" ng-model="type.requiredFlg" ng-checked="type.requiredFlg" data-toggle="tooltip" data-placement="top" title="Require this attribute upon adding a new component"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Visible Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" id="visibleFlg" ng-model="type.visibleFlg" ng-checked="type.visibleFlg" data-toggle="tooltip" data-placement="top" title="Show up under visible list of filters (Filter By Attribute)"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Important Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" id="importantFlg" ng-model="type.importantFlg" ng-checked="type.importantFlg" data-toggle="tooltip" data-placement="top" title="Show up on summary page"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Architecture Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" id="architectureFlg" ng-model="type.architectureFlg" ng-checked="type.architectureFlg" data-toggle="tooltip" data-placement="top" title="This attribute is an architecture"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Allow Multiple Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" id="allowMultipleFlg" ng-model="type.allowMultipleFlg" ng-checked="type.allowMultipleFlg" data-toggle="tooltip" data-placement="top" title="Allow multiple codes for this type per component"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Hide on Submission Flag <i class="glyphicon glyphicon-info-sign" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" data-title="To set a type to 'hidden' on the submission form, you must have a default code value set for this type, if required." data-trigger="hover"></i></div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;" ><input ng-disabled="!type.defaultAttributeCode && type.requiredFlg" class="" type="checkbox" id="submissionFlg" ng-model="type.hideOnSubmission" ng-checked="type.hideOnSubmission" data-toggle="tooltip" data-placement="top" title="Hide/show this type on the submission form"/></div>
        <button type="submit" class="btn btn-default" style="margin-top:20px;" title="Save Changes"><i class="fa fa-save"></i>&nbsp;Save</button>
      </form>
    </tab>
    <tab heading="Manage Codes" ng-show="!addTypeFlg">
      <div class="pull-left" style="display:inline-block; margin-top: 5px;">
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="editCode(false)"><i class="fa fa-plus"></i>&nbsp;Add New Code</button>
      </div>
      <div style="clear:both;"></div>
      <div style="margin-top:5px;">
        <filterquery data="data.allCodes" url="api/v1/resource/attributes/attributetypes/{{type.attributeType}}/attributecodeviews" sort-by="code" sort-order="ASC" type="default" set-features="pagination.features" control="pagination.control"></filterquery>
        <table class="table table-bordered table-striped doubled">
          <thead>
            <tr>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('label');">Label&nbsp;<span ng-show="predicate === 'label'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('code');">Code&nbsp;<span ng-show="predicate === 'code'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('description');">Description&nbsp;<span ng-show="predicate === 'description'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('highlightStyle');">Highlight Style&nbsp;<span ng-show="predicate === 'highlightStyle'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
              <!-- <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('securityMarkingType');">Security Type&nbsp;<span ng-show="predicate === 'securityMarkingType'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th> -->
              <th style="padding: 8px 3px; min-width: 150px;"><a href="">Actions</a></th>
            </tr>
            <tr>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('detailUrl');">Link&nbsp;<span ng-show="predicate === 'detailUrl'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('groupCode');">Group Code&nbsp;<span ng-show="predicate === 'groupCode'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('sortOrder');">Sort Order&nbsp;<span ng-show="predicate === 'sortOrder'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('architectureCode');">Architecture Code&nbsp;<span ng-show="predicate === 'architectureCode'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
              <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('badgeUrl');">Badge Url&nbsp;<span ng-show="predicate === 'badgeUrl'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="code in type.codes" >
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;" dynamichtml="code.label"></td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;">{{code.code}}</td>
              <td ng-show="code.description" style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;" popover data-trigger="hover" data-placement="right" data-html="true"  data-selector="" data-original-title="Description" data-container="#editTypeModalDiv" data-content="{{getCodeDesc(code.description)}}">{{code.description}}</td>
              <td ng-show="!code.description" style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;"></td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;" class="{{code.highlightStyle}}">{{code.highlightStyle}}</td>
              <!-- <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;" class="{{code.highlightStyle}}">{{code.securityMarkingDescription}}</td> -->
              <td style="padding: 0px 3px;">
                <button type="button" title="Edit" class="btn btn-default btn-sm" ng-click="editCode(code)" ng-disabled="code.activeStatus === 'I' || deactivateButtons"><i class="fa fa-edit"></i></button>
                <button type="button" title="Activate/Deactivate Attribute" class="btn btn-warning btn-sm" ng-click="changeActivity(code)" ng-class="code.activeStatus === 'I'? 'inverted':''" ng-disabled="deactivateButtons"><i class="fa fa-power-off"></i></button>
                <button type="button" title="Edit Landing Page" class="btn btn-default btn-sm" ng-click="cancel(type.attributeType, code.code)"><i class="fa fa-pencil"></i></button><!-- <button type="button" title="Delete Type" class="btn btn-default btn-sm" ng-click="deleteAttribute(code)"><i class="fa fa-trash"></i></button> -->
                <button type="button" title="Delete Attribute Code" class="btn btn-danger btn-sm" ng-click="deleteCode(code)" ng-disabled="deactivateButtons"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            <tr ng-repeat-end>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;"><span ng-if="!code.detailUrl">&nbsp;</span>{{code.detailUrl}}</td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;">{{code.groupCode}}</td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;">{{code.sortOrder}}</td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;">{{code.architectureCode}}</td>
              <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 1px;">{{code.badgeUrl}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type="button" title="Cancel Changes" class="btn btn-primary ng-scope" ng-click="cancel()"><i class="fa fa-close"></i>&nbsp;Cancel</button>
</div>