<div class="modal-header">
  <h3 style="display:inline-block; margin-top:0px; margin-bottom:0px; max-width:calc(100% - 30px)">Edit {{type.description}}</h3>
</div> 
<div class="modal-body" id="editTypeModalDiv">
  <loader trigger="adminTypeRefresh"></loader>
  <tabset justified="false" type="">  <!-- pills -->
    <tab heading="Edit Type Details">
      <form name="myForm" style="margin-top:10px;" ng-submit="saveType(myForm.$valid)">
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Description</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="form-control" type="text" ng-model="type.description"  ng-maxlength="255" maxlength="255" placeholder="Description (label)"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Type</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input ng-disabled="!addTypeFlg" class="form-control" type="text" ng-model="type.type"  ng-maxlength="20" maxlength="20" placeholder="Type key" required/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Visible Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" ng-model="type.visibleFlg" ng-checked="type.visibleFlg" data-toggle="tooltip" data-placement="top" title="Show up under visible list of filters (Filter By Attribute)"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Required Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" ng-model="type.requiredFlg" ng-checked="type.requiredFlg" data-toggle="tooltip" data-placement="top" title="Require this attribute upon adding a new component"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Important Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" ng-model="type.importantFlg" ng-checked="type.importantFlg" data-toggle="tooltip" data-placement="top" title="Show up on summary page"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Architecture Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" ng-model="type.architectureFlg" ng-checked="type.architectureFlg" data-toggle="tooltip" data-placement="top" title="This attribute is an architecture"/></div>
        <div class="col-sm-2" style="padding-left:0px; padding-right:0px;">Allow Multiple Flag</div>
        <div class="col-sm-10" style="padding-left:0px; padding-right:0px;"><input class="" type="checkbox" ng-model="type.allowMultipleFlg" ng-checked="type.allowMultipleFlg" data-toggle="tooltip" data-placement="top" title="Allow multiple codes for this type per component"/></div>
        <button type="submit" class="btn btn-default" style="margin-top:20px;" >Save&nbsp;<i class="fa fa-save"></i></button>
      </form>
    </tab>
    <tab heading="Manage Codes" ng-show="!addTypeFlg">
      <div ng-show="type.codes.length > windowSize" style="margin-top:5px;">
        <div>
          Show&nbsp;<input id="windowSize" type="number" min="5" max="50" ng-model="check.windowSize" ng-change="applyWindow()">&nbsp;per page (5-50).
        </div>
        <div style="margin-top:5px;">
          <button class="btn btn-default" ng-click="previous()"><i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
          <button class="btn btn-default" ng-click="next()">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
          Go to page&nbsp;<input id="pageNumber" type="number" min="1" max="{{getMaxPage()}}" ng-model="check.pageNumber" ng-change="applyPage()">&nbsp;of {{getMaxPage()}}.
        </div>
      </div>
      
      <div class="pull-left" style="display:inline-block; margin-top: 5px;">
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="editCode(false)"><i class="fa fa-plus"></i>Add New Code</button>
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="setPredicate('activeStatus')"><span class="fa-stack fa-lg" style="margin: -6px 0px; font-size:14px">
          <i class="fa fa-sort fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>&nbsp;Clear Sort</button>
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="clearCache(); getType();"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
      </div>
      <div class="pull-right" style="display:inline-block; margin-top: 5px;">
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="applySortOrder(false)"><i class="fa fa-sort-alpha-asc"></i>&nbsp;Apply Sort to Sort Order</button>
        <button type="button" title="Reset filters" class="btn btn-default" ng-click="applySortOrder(true)">Remove Sort Order</button>
      </div>
      <div style="clear:both;"></div>
      <div style="margin-top:5px;">
        <table class="table table-bordered table-striped" style="table-layout:fixed;">
          <tr>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('label');">Label&nbsp;<span ng-show="predicate === 'label'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('code');">Code&nbsp;<span ng-show="predicate === 'code'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('description');">Description&nbsp;<span ng-show="predicate === 'description'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('fullTextLink');">Link&nbsp;<span ng-show="predicate === 'fullTextLink'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('groupCode');">Group Code&nbsp;<span ng-show="predicate === 'groupCode'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('sortOrder');">Sort Order&nbsp;<span ng-show="predicate === 'sortOrder'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('architectureCode');">Architecture Code&nbsp;<span ng-show="predicate === 'architectureCode'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
            <th style="padding: 8px 3px;  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><a href="" ng-click="setPredicate('badgeUrl');">Badge Url&nbsp;<span ng-show="predicate === 'badgeUrl'"><i ng-show="!reverse" class="fa fa-sort-numeric-asc"></i><i ng-show="reverse" class="fa fa-sort-numeric-desc"></i></span></a></th>
            <th style="padding: 8px 3px;"><a href="">Actions</a></th>
          </tr>
          <tr ng-repeat="code in (type.codes | orderBy:predicate:reverse | pageme:current:windowSize:getUniqueId())"  ng-class="code.activeStatus === 'I'? 'inactive':''">
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" dynamichtml="code.label"></td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.code}}</td>
            <td ng-show="code.description" style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" popover data-trigger="hover" data-placement="right" data-html="true"  data-selector="" data-original-title="Description" data-container="#editTypeModalDiv" data-content="{{getCodeDesc(code.description)}}">{{code.description}}</td>
            <td ng-show="!code.description" style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"></td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.fullTextLink}}</td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.groupCode}}</td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.sortOrder}}</td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.architectureCode}}</td>
            <td style="padding:5px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{code.badgeUrl}}</td>
            <td style="padding: 0px 3px;">
              <button type="button" title="Edit" class="btn btn-default btn-sm" ng-click="editCode(code)" ng-disabled="code.activeStatus === 'I' || deactivateButtons"><i class="fa fa-edit"></i></button>
              <button type="button" title="Activate/Deactivate Attribute" class="btn btn-default btn-sm" ng-click="changeActivity(code)" ng-class="code.activeStatus === 'I'? 'inverted':''" ng-disabled="deactivateButtons"><i class="fa fa-power-off"></i></button>
              <button type="button" title="Edit Landing Page" class="btn btn-default btn-sm" ng-click="cancel(type.type, code.code)"><i class="fa fa-pencil"></i></button><!-- <button type="button" title="Delete Type" class="btn btn-default btn-sm" ng-click="deleteAttribute(code)"><i class="fa fa-trash"></i></button> -->
            </td>
          </tr>
        </table>
      </div>
      <button class="btn btn-primary" ng-click="saveSortOrder()" ng-show="dirty" data-toggle="tooltip" data-placement="top" title="This can take a few minutes if saving changes to an architecture (SvcV-4 for example)">Save Sort Order Changes&nbsp;<i class='fa fa-save'></i></button>
      <button class="btn btn-default" ng-click="cancelChanges()" ng-show="dirty">Cancel Changes&nbsp;<i class='fa fa-times'></i></button>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default ng-scope" ng-click="cancel()">Close</button>
</div>