<div>
  <div class="pull-left"style="width: calc(100% - 50px); padding:5px 10px;"><h3 style="margin-top:10px;">Article/Landing Page for {{type}}&mdash;{{code}}</h3></div><i class="fa fa-times pull-right" style="margin: 0px; padding: 15px; " ng-click="cancel();"></i>
  <div style="clear:both"></div>
</div>
<form ng-submit="ok();" id="editLandingPages" style="overflow:hidden; margin: 0px;">
  <textarea ckeditor="editorOptions" ng-model="editorContent" ng-watch="editorContentWatch"></textarea>
  <div style="text-align: center; padding:5px;">
    <button type="submit" style="display:inline-block;" class="btn btn-primary">Save changes</button>
    <button type="submit" style="display:inline-block;" class="btn btn-danger" ng-click="cancel()">Cancel changes</button>
  </div>
</form>