<!-- List the attributes in a table and provide the information to edit -->
<div style="margin-top: 65px;" ng-controller="AdminEditattributesCtrl">
  <loader trigger="adminAttributes"></loader>
  <div class="pull-left col-sm-6 " style="padding-left:0px; padding-right:0px;">
    <button type="button" title="Reset filters" class="btn btn-default btn-sm" ng-click="predicate='activeStatus'">Turn off sort</button>
    <button type="button" title="Reset filters" class="btn btn-default btn-sm" ng-click="getFilters(true)">Refresh table&nbsp;<i class="fa fa-refresh"></i></button>
  </div>
  <div class="pull-right col-sm-6 " style="padding-left:0px; padding-right:0px;">
    <button type="button" title="Reset filters" class="btn btn-default btn-sm pull-right" ng-click="editType(false)">Add New Type&nbsp;<i class="fa fa-plus"></i></button>
  </div>
  <div style="clear:both">
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('description');">Description&nbsp;<span ng-show="predicate === 'description'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('type');">Type code&nbsp;<span ng-show="predicate === 'type'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a  data-toggle="tooltip" data-placement="top" title="Shows up under visible list of filters (Filter By Attribute)" href="" ng-click="setPredicate('visibleFlg', true);">Visible&nbsp;<span ng-show="predicate === 'visibleFlg'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a  data-toggle="tooltip" data-placement="top" title="Is require this attribute upon adding a new component" href="" ng-click="setPredicate('requiredFlg', true);">Required&nbsp;<span ng-show="predicate === 'requiredFlg'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a  data-toggle="tooltip" data-placement="top" title="Shows up on summary page" href="" ng-click="setPredicate('importantFlg', true);">Important&nbsp;<span ng-show="predicate === 'importantFlg'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a  data-toggle="tooltip" data-placement="top" title="This attribute is an architecture" href="" ng-click="setPredicate('architectureFlg', true);">Architecture&nbsp;<span ng-show="predicate === 'architectureFlg'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a  data-toggle="tooltip" data-placement="top" title="Allows multiple codes of this type per component" href="" ng-click="setPredicate('allowMultipleFlg', true);">Allow Multiple&nbsp;<span ng-show="predicate === 'allowMultipleFlg'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="">Actions</a></th>
    </tr>
    <tr ng-repeat="filter in filters | orderBy:predicate:reverse"  ng-class="filter.activeStatus === 'I'? 'inactive':''">
      <td style="padding:5px;">{{filter.description}}</td>
      <td style="padding:5px;">{{filter.type}}</td>
      <td ng-class="filter.visibleFlg? 'truthy':'falsey'" style="padding:5px;">{{filter.visibleFlg}}</td>
      <td ng-class="filter.requiredFlg? 'truthy':'falsey'" style="padding:5px;">{{filter.requiredFlg}}</td>
      <td ng-class="filter.importantFlg? 'truthy':'falsey'" style="padding:5px;">{{filter.importantFlg}}</td>
      <td ng-class="filter.architectureFlg? 'truthy':'falsey'" style="padding:5px;">{{filter.architectureFlg}}</td>
      <td ng-class="filter.allowMultipleFlg? 'truthy':'falsey'" style="padding:5px;">{{filter.allowMultipleFlg}}</td>
      <td style="padding: 0px 3px;">
        <button type="button" title="Edit" class="btn btn-default btn-sm" ng-click="editType(filter)" ng-disabled="filter.activeStatus === 'I' || deactivateButtons"><i class="fa fa-edit"></i></button><button type="button" title="Activate/Deactivate Attribute" class="btn btn-default btn-sm" ng-click="changeActivity(filter)" ng-class="filter.activeStatus === 'I'? 'inverted':''" ng-disabled="deactivateButtons"><i class="fa fa-power-off"></i></button>
      </td>
    </tr>
  </table>
</div>