<div class="modal-header">
  <h3 style="display:inline-block; margin-top:0px; margin-bottom:0px;">Edit {{type.description}}</h3>
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
</div> 
<div class="modal-body">
  <table class="table table-bordered table-striped">
    <tr>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('label');">Label<span ng-show="predicate === 'label'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('code');">Code<span ng-show="predicate === 'code'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('description');">Description<span ng-show="predicate === 'description'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('fullTextLink');">Link<span ng-show="predicate === 'fullTextLink'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('groupCode');">Group Code<span ng-show="predicate === 'groupCode'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="" ng-click="setPredicate('sortOrder');">Sort Order<span ng-show="predicate === 'sortOrder'"><i ng-show="!reverse" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
      <th style="padding: 8px 3px;"><a href="">Actions</a></th>
    </tr>
    <tr ng-repeat="(type, code) in (type.codes | orderBy:predicate:reverse | pageme:current:windowSize) track by type"  ng-class="code.activeStatus === 'I'? 'inactive':''">
      <td style="padding:5px;">{{code.label}}</td>
      <td style="padding:5px;">{{code.code}}</td>
      <td style="padding:5px;">{{code.description}}</td>
      <td style="padding:5px;">{{code.fullTextLink}}</td>
      <td style="padding:5px;">{{code.groupCode}}</td>
      <td style="padding:5px;">{{code.sortOrder}}</td>
      <td style="padding: 0px 3px;">
        <button type="button" title="Edit" class="btn btn-default btn-sm" ng-click="editType(code)" ng-disabled="code.activeStatus === 'I' || deactivateButtons"><i class="fa fa-edit"></i></button><button type="button" title="Activate/Deactivate Attribute" class="btn btn-default btn-sm" ng-click="changeActivity(code)" ng-class="code.activeStatus === 'I'? 'inverted':''" ng-disabled="deactivateButtons"><i class="fa fa-power-off"></i></button><!-- <button type="button" title="Delete Type" class="btn btn-default btn-sm" ng-click="deleteAttribute(code)"><i class="fa fa-trash"></i></button> -->
      </td>
    </tr>
  </table>
  <div>
    <button class="btn btn-default" ng-click="previous()">Previous</button>
    <button class="btn btn-default" ng-click="next()">Next</button>
    Go to page <input id="pageNumber" type="number" min="1" max="{{getMaxPage()}}" ng-model="check.pageNumber" ng-change="applyPage()"> of {{getMaxPage()}}.
  </div>
  <div>
    Show <input id="windowSize" type="number" min="5" max="50" ng-model="check.windowSize" ng-change="applyWindow()"> per page (5-50).
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default ng-scope" ng-click="cancel()">Close</button>
</div>