<div  ng-controller="AdminJobsCtrl" style="padding-left: 20px; padding-right: 20px;">
<style>
	.jobstatus-NORMAL{		
		background-color: lightgreen !important;
	}
	.jobstatus-PAUSED{		
		background-color: lightgrey !important;
	}
	.jobstatus-BLOCKING{		
		background-color: lightcoral !important;
	}
	.taskstatus-WORKING{		
		background-color: lightgreen !important;
	}
	.taskstatus-CANCELED{		
		background-color: lightgrey !important;
	}
	.taskstatus-FAILED{		
		background-color: lightcoral !important;
		font-weight: bold;
	}
	.taskstatus-DONE{		
		background-color: white !important;
	}
	.taskstatus-QUEUED{		
		background-color: lightgray !important;
	}	
</style>	
	<tabset>
		<tab heading="Jobs">			
			<loader trigger="jobLoader"></loader>
			<br><br>
			<div class="text-danger" style="font-size: 16px;">The scheduler state is not persistent. When the web application is restarted, the scheduler state will be reset.</div><br>
			
			Scheduler Status: <span style="font-size: 16px;"><b>{{schedulerStatus.status}}</b></span><br><br>
			<div>
				<input type="checkbox"   ng-model="showIntegrationJobs"   ng-checked="showIntegrationJobs" ng-change="refreshJobs(showIntegrationJobs)"/> Show Integration Jobs 
				<button class="btn btn-default" ng-click="refreshJobs(showIntegrationJobs)">Refresh&nbsp;<i class="fa fa-refresh"></i></button>
				<span style="position: absolute; right: 0px; padding-right: 20px;">
					<button class="btn btn-default" ng-click="removeAllTooltips(); pauseResumeScheduler(true)" popover data-trigger="hover" data-placement="left" data-html="true"  data-original-title="" data-container="body" data-content="Pause All Scheduled Jobs"><i class="fa fa-pause"></i>&nbsp;Pause Scheduler</button>
					<button class="btn btn-default" ng-click="removeAllTooltips(); pauseResumeScheduler(false)" popover data-trigger="hover" data-placement="left" data-html="true"  data-original-title="" data-container="body" data-content="Resume Scheduler Jobs"><i class="fa fa-play"></i>&nbsp;Resume Scheduler</button>
				</span>				
			</div>
			<table class="table table-striped table-bordered">
					<tr>
						<th><a href="" ng-click="setPredicate('jobName', 'job');">Job Name <span ng-show="predicate['job'] === 'jobName'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('groupName', 'job');">Group Name <span ng-show="predicate['job'] === 'groupName'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('description', 'job');">Description <span ng-show="predicate['job'] === 'description'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th ><a href="" ng-click="setPredicate('status', 'job');">Status <span ng-show="predicate['job'] === 'status'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>						
						<th><a href="" ng-click="setPredicate('perviousFiredTime', 'job');">Pervious Fire Time <span ng-show="predicate['job'] === 'perviousFiredTime'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('nextFiredTime', 'job');">Next Fire time <span ng-show="predicate['job'] === 'nextFiredTime'"><i ng-show="!reverse['job']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['job']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th>Job Data</th>						
						<th>Action</th>
					</tr>
					<tr ng-repeat="job in jobs | orderBy:predicate['job']:reverse['job']" >
						<td>{{job.jobName}}</td>
						<td>{{job.groupName}}</td>
						<td>{{job.description}}</td>
						<td class="jobstatus-{{job.status}}">{{job.status}}</td>
						<td>{{job.perviousFiredTime | date:'MM/dd/yyyy h:mm:ss a'}}</td>
						<td>{{job.nextFiredTime | date:'MM/dd/yyyy h:mm:ss a'}}</td>
						<td>{{job.jobData}}</td>						
						<td style="padding:0px; width: 200px;" nowrap>&nbsp;
							<button class="btn btn-default" ng-click="removeAllTooltips(); pauseResumeJob(true, job.jobName)" ng-disabled="job.status !== 'NORMAL' && job.status !== 'BLOCKING' " popover data-trigger="hover" data-placement="top" data-html="true"  data-original-title="" data-container="body" data-content="Pause"><i class="fa fa-pause"></i></button>
							<button class="btn btn-success" ng-click="removeAllTooltips(); pauseResumeJob(false, job.jobName)" ng-disabled="job.status !== 'PAUSED' " popover data-trigger="hover" data-placement="top" data-html="true"  data-original-title="" data-container="body" data-content="Resume"><i class="fa fa-play"></i></button>
							<button class="btn btn-danger" ng-click="removeAllTooltips(); runJobNow(job.jobName, job.groupName)" popover data-trigger="hover" data-placement="top" data-html="true"  data-original-title="" data-container="body" data-content="Run"><i class="fa fa-bolt"></i></button>
						</td>
					</tr>
			</table>			
		</tab>
		<tab heading="Tasks">
			<loader trigger="taskLoader"></loader>
			<div>
				Statistics<br>
				<table class="table table-striped table-bordered">
					<tr>						
						<td>Active Count</td>
						<td>{{tasks.activeCount}}</td>
						<td>Queued Count</td>
						<td>{{tasks.queuedCount}}</td>						
						<td>Complete Count</td>
						<td>{{tasks.completedCount}}</td>
						<td>Total Count</td>
						<td>{{tasks.totalTaskCount}}</td>
						<td>Worker Pool Size</td>
						<td>{{tasks.threadPoolSize}}</td>
						<td>Largest Pool Size</td>
						<td>{{tasks.largestPoolSize}}</td>
						<td>Max Pool Size</td>
						<td>{{tasks.maxPoolSize}}</td>						
					</tr>	
				</table>
				
			</div>
			<div>
				<button class="btn btn-default" ng-click="refreshTasks()">Refresh&nbsp;<i class="fa fa-refresh"></i></button>
			</div>
			Tasks automatically expire and are removed according to configuration.
			<table class="table table-striped table-bordered">
					<tr>
						<th><a href="" ng-click="setPredicate('taskName', 'tasks');">Task Name <span ng-show="predicate['tasks'] === 'taskName'"><i ng-show="!reverse['tasks']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['tasks']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('status', 'tasks');">Status <span ng-show="predicate['tasks'] === 'status'"><i ng-show="!reverse['tasks']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['tasks']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('submitedDts', 'tasks');">Submitted Date <span ng-show="predicate['tasks'] === 'submitedDts'"><i ng-show="!reverse['tasks']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['tasks']" class="fa fa-sort-alpha-desc"></i></span></a></th>
						<th><a href="" ng-click="setPredicate('completedDts', 'tasks');">Completion Date <span ng-show="predicate['tasks'] === 'completedDts'"><i ng-show="!reverse['tasks']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['tasks']" class="fa fa-sort-alpha-desc"></i></span></a></th>												
						<th style="width: 175px;">Allows Multiple Tasks</th>						
						<th>Action</th>
					</tr>
					<tr ng-repeat-start="task in tasks.tasks | orderBy:predicate['tasks']:reverse['tasks']" >
						<td><b>{{task.taskName}}</b><br>{{task.detail}}</td>
						<td class="taskstatus-{{task.status}}">{{task.status}}</td>
						<td>{{task.submitedDts | date:'MM/dd/yyyy h:mm:ss.sss a'}}</td>
						<td>
							{{task.completedDts | date:'MM/dd/yyyy h:mm:ss.sss a'}}<br>
							<span style="font-size: 9px; color: gray;">(Expires: {{task.expireDts | date:'MM/dd/yyyy h:mm:ss.sss a'}})</span>
						</td>						
						<td style="width: 175px;">{{task.allowMultiple}}</td>																										
						<td style="padding:0px; width: 200px;">&nbsp;
							<button class="btn btn-default" ng-show="task.error" ng-click="showError(task)">View Error</button>
							<button class="btn btn-danger" ng-show="task.status === 'WORKING'" ng-click="removeAllTooltips(); cancelTask(task)" popover data-trigger="hover" data-placement="top" data-html="true"  data-original-title="" data-container="body" data-content="Cancel task and Interrupt">Cancel&nbsp;<i class="fa fa-trash-o"></i></button>
							<button class="btn btn-danger" ng-show="task.completedDts" ng-click="removeAllTooltips(); deleteTask(task)" popover data-trigger="hover" data-placement="top" data-html="true"  data-original-title="" data-container="body" data-content="Deletes a completed task">Delete&nbsp;<i class="fa fa-trash-o"></i></button>
						</td>
					</tr>
					<tr ng-show="task.showDetails" ng-repeat-end>
						<td colspan="6">
							{{task.error}}
						</td>				
					</tr>					
			</table>			
		</tab>		
	</tabset>	
</div>  
