<div  ng-controller="AdminSystemCtrl" style="padding-left: 20px; padding-right: 20px;">
	<tabset>
		<tab heading="General">			
			<div>
				<h2>Search Control</h2>
				<hr>
				<button class="btn btn-default" ng-click="removeAllTooltips(); reindexListings();" popover data-trigger="hover" data-placement="right" data-html="true"  data-original-title="" data-container="body" data-content="This will re-index the listing.  This will effect search results while running."><i class="fa fa-refresh"></i>&nbsp;Re-Index Listings</button>
				<hr>
			</div>
			<div>
				<h2><i class="fa fa-envelope-o"></i>&nbsp;Recent Changes Email</h2>
				<hr>
				Last Automated Email Sent:  {{recentChangesStatus.lastSentDts | date:'MM/dd/yyyy h:mm a'}}<br>
				Next Automated Email: {{recentChangesStatus.nextSendDts | date:'MM/dd/yyyy h:mm a'}}<br><br>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="row" style="margin:0px;">
								<label class="control-label">Last Sent Date:&nbsp;</label>
							</div>
							<div class="form-group" >
								<input type="text" id="lastUsed" class="form-control" style="width: 325px; display:inline-block;" data-date-format="MM/dd/yyyy" data-start-view="0" data-min-view="0" autoclose="true" ng-model="recentChangesForm.lastRunDts" data-max-date="{{untilDate}}" placeholder="Last Sent Date" data-date-type="number" bs-datepicker> 
								&nbsp;<i class="fa fa-calendar"></i> <span><small>Defaults to Today (shows change from last sent date until now)</small></span>
							</div>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="row" style="margin:0px;">
								<label class="control-label">Only Send to this Email: </label>
							</div>
							<div class="form-group" >
								<input  type="text" 
										style="width: 325px;"
										ng-pattern="EMAIL_REGEXP"
										id="email"
										name="email"
										placeholder="Email"										
										class="form-control" 
										ng-model="recentChangesForm.emailAddress" 
										ng-minlength=6 
										ng-maxlength=200 
										required 
										ng-focus />	
								&nbsp;
								<span><small>Defaults to all users marked to be notified</small></span>
							</div>
						</div>
					</div>					
				</div>	
				
				
				<button class="btn btn-default" ng-click="removeAllTooltips(); sendRecentChangesEmail();" popover data-trigger="hover" data-placement="right" data-html="true"  data-original-title="" data-container="body" data-content="Sends a recent change email now. Note: this doesn't effect the schedule email."><i class="fa fa-envelope-o"></i>&nbsp;Send Email</button>
			</div>
		</tab>
		<tab heading="Error Tickets">
			<loader trigger="ticketLoader"></loader>
			<div>
				<br><br>
				
				Total Records: <b><span class="imitateLink" ng-bind="errorTickets.totalNumber"></span></b><br>
				<div class="pagination row row-centered" >
					<div style="text-align: center;">
					  
					  <span class="glyphicon glyphicon-fast-backward imitateLink" ng-click="firstPage()">&nbsp;</span>
					  <span class="glyphicon glyphicon-chevron-left imitateLink" ng-click="prevPage()">&nbsp;</span>
					  <span class="imitateLink"> Page </span>
					  <span class="imitateLink"> 
						<span class="imitateLink" ng-bind="pageNumber"  style="width:25px" />
					  </span>
					  <span class="imitateLink"> of </span>
					  <span class="imitateLink" ng-bind="maxPageNumber"></span>
					  <span class="glyphicon glyphicon-chevron-right imitateLink" ng-click="nextPage()">&nbsp;</span>
					  <span class="glyphicon glyphicon-fast-forward imitateLink"  ng-click="lastPage()">&nbsp;</span>          
					  <span class="imitateLink"> 
						  <input type="text"  ng-model="errorTicketsQueryFilter.max" ng-blur="setPageSize()"  style="width:35px" min="1" max="500"> Per page
					  </span> 					
					</div>					
				  </div>
				<button class="btn btn-default" ng-click="refreshTickets()">Refresh&nbsp;<i class="fa fa-refresh"></i></button>
			</div>
			<table class="table table-striped table-bordered">
					<tr>
						<th>Ticket Id</th>
						<th>Update Date</th>
						<th>Client Ip</th>
						<th>Called Action</th>
						<th >Input</th>						
						<th>Error Type Code</th>										
						<th>Action</th>
					</tr>
					<tr ng-repeat-start="ticket in errorTickets.errorTickets" >
						<td>{{ticket.errorTicketId}}</td>
						<td>{{ticket.updateDts | date:'MM/dd/yyyy h:mm:ss.sss a'}}</td>
						<td>{{ticket.clientIp}}</td>
						<td>{{ticket.calledAction}}</td>
						<td >{{wrapString(ticket.input)}}</td>
						<td>{{ticket.errorTypeCode}}</td>										
						<td style="padding:0px; width: 200px;">&nbsp;
							<button class="btn btn-danger" ng-click="showErrorDetails(ticket.errorTicketId)"><i class="fa fa-view"></i>{{ticket.detailText}}</button>
						</td>
					</tr>
					<tr ng-show="ticket.details" ng-repeat-end  >
						<td colspan="7">
							<p ng-bind-html="ticket.loadedDetails"></p>
						</td>
					</tr>
			</table>
		</tab>
	</tabset>
</div>
