<div ng-controller="AdminTrackingCtrl" style="padding-left:15px; padding-right: 15px;">
  <tabset justified="false" type="">  <!-- pills -->
    <tab heading="User">
      <filterquery data="userTrackingData" url="api/v1/resource/usertracking" type="user"></filterquery>
    </tab>
    <tab heading="Component">
      <filterquery data="componentTrackingData" url="api/v1/resource/componenttracking" type="component"></filterquery>
    </tab>
    <tab heading="Article">
      <filterquery data="articleTrackingData" url="api/v1/resource/articletracking" type="article"></filterquery>
    </tab>
  </tabset>
</div>
