<div id="highlightEditModal">
  <loader trigger="orgNonLoader"></loader>
  <div class="modal-header">
    <button type="button" title="Cancel Changes" class="btn btn-primary pull-right" ng-click="close()"><i class="fa fa-close"></i>&nbsp;Cancel</button>
    <h3 style="display:inline-block; margin-top:0px; margin-bottom:0px; max-width:calc(100% - 90px)">Organization References</h3> 
  </div> 
  <div class="modal-body" id="editAttributeCodeForm" style=" padding: 20px 0px; ">
    <div class="row">
      <div class="col-sm-12">
        <div ng-show="!data.length" class="col-sm-12">
          No Organization References were found.
        </div>
        <div ng-show="data.length" class="col-sm-12">
          <table class="table table-striped table-bordered admin-table table-hover">
            <thead>
              <tr>
                <th><a href="" ng-click="setPredicate('referenceName');">Name <span ng-show="predicate  === 'referenceName'"><i ng-show="!reverse " class="fa fa-sort-alpha-asc"></i><i ng-show="reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
                <th><a href="" ng-click="setPredicate('referenceType');" title="The organization type">Type <span ng-show="predicate  === 'referenceType'"><i ng-show="reverse " class="fa fa-sort-alpha-asc"></i><i ng-show="!reverse" class="fa fa-sort-alpha-desc"></i></span></a></th>
              </tr> 
            </thead>
            <tbody>
              <tr class="imitateLink" ng-repeat="thing in data" title="View Reference" ng-click="goToReference(thing)">
                <td>{{thing.referenceName}}</td>
                <td>{{thing.referenceType}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>