<h3 style="margin-left:15px;">Select range</h3>
<div class="form-group col-xs-6">
  <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>&nbsp;Date range</label><br>
  <div class="form-group col-xs-6" style="padding-left:0px; padding-right:0px;">
    <input type="text" class="form-control" ng-model="query.filterObj.start" data-max-date="{{today}}" placeholder="From" bs-datepicker>
  </div>
  <div class="form-group col-xs-6" style="padding-left:0px; padding-right:0px;">
    <input type="text" class="form-control" ng-model="query.filterObj.end" data-min-date="{{query.filterObj.start}}" data-max-date="{{today}}" placeholder="Until" bs-datepicker>
  </div>
</div>
<div class="form-group col-xs-6">
  <label class="control-label">Max # of results <small>(up to 10000)</small></label><br>
  <input type="number" class="form-control" ng-model="query.filterObj.max" data-max-date="{{today}}" placeholder="Max" max="10000">
</div>
<div style="clear:both;"></div>
<div class="form-group col-xs-6">
  <label class="control-label">Retrieve All Active and Inactive results</label>
  <input type="checkbox" ng-model="query.filterObj.all" ng-checked="query.filterObj.all">
</div>
<div class="form-group col-xs-6">
  <label class="control-label">Select status</label>
  <select ng-disabled="!query.filterObj.all" ng-model="query.filterObj.status">
    <option value="A">Active Status</option>
    <option value="I">Inactive Status</option>
  </select>
</div>
<div style="clear:both;"></div>
<button style="margin-left:15px; display:inline-block;" class="btn btn-default" ng-click="sendRequest()">Apply Changes&nbsp;<i class="fa fa-search"></i></button>
<pagination style="display:inline-block; margin: 0px;" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" max-size="pagination.maxSize" boundary-links="true" rotate="false" num-pages="pagination.numPages" ng-change="pageChanged()"></pagination>
<div style="clear:both;"></div>

<!-- This part is unique to each different tracking class... -->
<div style="">
  <div style="text-align:left">
    <table style="padding-left:15px; padding-right:15px;" class="table table-striped table-bordered">
      <tr>
        <th ng-click="changeSortOrder('name')" class="imitateLink">Name</th>
        <th ng-click="changeSortOrder('componentId')" class="imitateLink">Component ID</th>
        <th ng-click="changeSortOrder('componentTrackingId')" class="imitateLink">Event Tracking ID</th>
        <th ng-click="changeSortOrder('eventDts')" class="imitateLink">Date Of Event</th>
        <th ng-click="changeSortOrder('clientIp')" class="imitateLink">Client IP</th>
        <th ng-click="changeSortOrder('trackEventTypeCode')" class="imitateLink">Event Type</th>
        <th ng-click="changeSortOrder('storageVersion')" class="imitateLink">Storage Version</th>
      </tr>
      <tr ng-repeat="item in data">
        <td>{{item.name}}</td>
        <td>{{item.data.componentId}}</td>
        <td>{{item.data.componentTrackingId}}</td>
        <td>{{getDate(item.data.eventDts)}}</td>
        <td>{{item.data.clientIp}}</td>
        <td>{{getEventType(item.data.trackEventTypeCode)}}</td>
        <td>{{item.data.storageVersion}}</td>
      </tr>
    </table>
  </div>
</div>
