<h3 style="margin-left:15px;">Filter options</h3>
<div ng-show="all === 'true'">
  <input type="checkbox" ng-checked="query.filterObj.all" ng-model="query.filterObj.all">Show all Status
</div>
<div class="form-group col-xs-12" style="padding-left:15px; padding-right:0px;" ng-show="setFeatures && (setFeatures.activeStatus === undefined || setFeatures.activeStatus)">
  <label class="control-label">Status</label>
  <div class="btn-group" role="group">
    <select class="form-control" style="float:left; border-radius: 4px 0px 0px 4px; display:inline-block; width: auto" ng-disabled="query.filterObj.all" ng-model="query.filterObj.status">
      <option value="A">Active Status</option>
      <option value="I">Inactive Status</option>
    </select><button type="button" class="btn btn-default" ng-click="query.filterObj.status = null"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="form-group col-xs-12" style="padding-left:15px; padding-right:0px;" ng-show="setFeatures && (setFeatures.approvalState !== undefined && setFeatures.approvalState)">
  <label class="control-label">Approval State</label>
  <div class="btn-group">
    <select class="form-control" style="float:left; border-radius: 4px 0px 0px 4px; display:inline-block; width: auto" ng-disabled="query.filterObj.all" ng-model="query.filterObj.approvalState">
      <option value="A">Approved Status</option>
      <option value="P">Pending Status</option>
      <option value="N">Not Submitted Status</option>
    </select><button type="button" class="btn btn-default" ng-click="query.filterObj.approvalState = null"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="form-group col-xs-12" style="padding-left:15px; padding-right:0px;" ng-show="setFeatures && (setFeatures.componentType !== undefined && setFeatures.componentType)">
  <label class="control-label">Type</label>
  <div class="btn-group">

    <select class="form-control" style="float:left; border-radius: 4px 0px 0px 4px; display:inline-block; width: auto" ng-disabled="query.filterObj.all" ng-model="query.filterObj.componentType">
      <option value="ALL">All</option>
      <option value="ARTICLE">Article</option>
      <option value="COMP">Component</option>
    </select><button type="button" class="btn btn-default" ng-click="query.filterObj.componentType = null"><i class="fa fa-times"></i></button>
  </div>
</div>
<div class="form-group col-xs-12"  ng-show="setFeatures && setFeatures.dates">
	<label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>&nbsp;Show date range</label><br>
	<div class="form-group col-xs-12" style="padding-left: 0px; padding-right: 0px;">
		<input type="text" class="form-control" ng-model="query.filterObj.start" data-max-date="{{today}}" placeholder="From" bs-datepicker>
	</div>
	<div class="form-group col-xs-12"  style="padding-left: 0px; padding-right: 0px;" >
		<input type="text" class="form-control" ng-model="query.filterObj.end" data-min-date="{{query.filterObj.start}}" data-max-date="{{today}}" placeholder="Until" bs-datepicker>
	</div>
</div>
<div class="form-group col-xs-12"  ng-show="setFeatures && setFeatures.max">
	<label class="control-label">Show # of results <small>(up to 10000 &mdash; removes paging)</small></label><br>
	<input type="number" class="form-control" ng-model="maxResults" ng-change="checkMax();" placeholder="Max" max="10000">
</div>
<div class="form-group col-xs-12" ng-show="setFeatures && setFeatures.maxPP">
	<label class="control-label">Max # of results per page <small>(Defaults to {{defaultMax}})</small></label><br>
	<input ng-disable="maxResults" type="number" class="form-control" ng-model="maxPerPage" ng-change="setPageMax(maxPerPage);" placeholder="Max" max="10000">
</div>
<div class="form-group col-xs-12">
	<div class="form-group col-xs-12" style="padding-left:0px; padding-right:0px;" ng-show="allowAllOption">
		<div class="checkbox">
			<label >
				<input type="checkbox" ng-model="query.filterObj.all" ng-checked="query.filterObj.all" > Retrieve All Active and Inactive results
			</label>
		</div>
		<label class="control-label"></label>
	</div>
</div>