<h3 style="margin-left:15px;">Filter options</h3>
<div class="form-group col-xs-12">
  <label class="control-label">Max # of results per page <small>(Defaults to {{defaultMax}})</small></label><br>
  <input ng-disable="maxResults" type="number" class="form-control" ng-model="maxPerPage" ng-change="setPageMax(maxPerPage);" placeholder="Max" max="10000">
</div>
<div class="form-group col-xs-12">
  <div class="form-group col-xs-12" style="padding-left:0px; padding-right:0px;">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="query.filterObj.all" ng-checked="query.filterObj.all"> Retrieve All Active and Inactive results
      </label>
    </div>
    <label class="control-label"></label>
  </div>
  <div class="form-group col-xs-12" style="padding-left:0px; padding-right:0px;">
    <label class="control-label">Select status</label>
    <select ng-disabled="query.filterObj.all" ng-model="query.filterObj.status">
      <option value="A">Active Status</option>
      <option value="I">Inactive Status</option>
    </select>
  </div>
</div>