<h3 style="margin-left:15px; margin-right:15px;">Select options <span class="pull-right"> <a ng-href="{{generateDownloadLink()}}" class="btn btn-default">Export&nbsp;<i class="fa fa-sign-out"></i></a></span></h3>
<div class="form-group col-xs-6">
  <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>&nbsp;Show date range</label><br>
  <div class="form-group col-xs-6" style="padding-left:0px; padding-right:0px;">
    <input type="text" class="form-control" ng-model="query.filterObj.start" data-max-date="{{today}}" placeholder="From" bs-datepicker>
  </div>
  <div class="form-group col-xs-6" style="padding-left:0px; padding-right:0px;">
    <input type="text" class="form-control" ng-model="query.filterObj.end" data-min-date="{{query.filterObj.start}}" data-max-date="{{today}}" placeholder="Until" bs-datepicker>
  </div>
</div>
<div class="form-group col-xs-6">
  <label class="control-label">Show # of results <small>(up to 10000 &mdash; removes paging)</small></label><br>
  <input type="number" class="form-control" ng-model="maxResults" ng-change="checkMax();" placeholder="Max" max="10000">
</div>

<div style="clear:both;">
  <button style="margin-left:15px; display:inline-block;" class="btn btn-default" ng-click="sendRequest()">Apply Changes <small>(refresh results)</small>&nbsp;<i class="fa fa-search"></i></button>
  <button style="display:inline-block;" class="btn btn-default" ng-click="clearSort();"><span class="fa-stack fa-lg" style="margin: -6px 0px; font-size:14px">
    <i class="fa fa-sort fa-stack-1x"></i>
    <i class="fa fa-ban fa-stack-2x text-danger"></i>
  </span>&nbsp;Clear Sort</button>
  <pagination ng-show="showPagination" style="display:inline-block; margin: 0px; margin-bottom:-13px;" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" max-size="pagination.maxSize" boundary-links="true" rotate="false" num-pages="pagination.numPages" ng-change="pageChanged()"></pagination><a tabindex="0" role="button" class="btn btn-default" data-placement="bottom" title="{{popover.title}}" data-content-template="views/services/filter.html" data-animation="am-flip-x" bs-popover>Filter Options</a> {{pagination.totalItems}} total record(s)
</div>

<!-- This part is unique to each different tracking class... -->
<div style="">
  <div style="text-align:left; padding-left:15px; padding-right:15px;">
    <h4>Additional Sort By options:
      <button class="btn btn-sm btn-default" ng-click="changeSortOrder('osPlatform')">OS Platform<span ng-show="query.filterObj.sortField === 'osPlatform' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'osPlatform' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></button>
      <button class="btn btn-sm btn-default" ng-click="changeSortOrder('userAgent')">User Agent<span ng-show="query.filterObj.sortField === 'userAgent' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'userAgent' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></button>
      <button class="btn btn-sm btn-default" ng-click="changeSortOrder('deviceType')">Device Type<span ng-show="query.filterObj.sortField === 'deviceType' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'deviceType' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></button>
      <button class="btn btn-sm btn-default" ng-click="changeSortOrder('browserVersion')">Browser Version<span ng-show="query.filterObj.sortField === 'browserVersion' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'browserVersion' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></button>
      <button class="btn btn-sm btn-default" ng-click="changeSortOrder('trackingId')">Tracking ID<span ng-show="query.filterObj.sortField === 'trackingId' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'trackingId' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></button>
    </h4>
    <div style="clear:both;"></div>
    <table class="table table-striped table-bordered">
      <tr>
        <th ng-click="changeSortOrder('createUser')" class="imitateLink">Name&nbsp;<span ng-show="query.filterObj.sortField === 'createUser' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'createUser' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('organization')" class="imitateLink">Organization&nbsp;<span ng-show="query.filterObj.sortField === 'organization' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'organization' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('userTypeCode')" class="imitateLink">User Type&nbsp;<span ng-show="query.filterObj.sortField === 'userTypeCode' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'userTypeCode' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('eventDts')" class="imitateLink">Event Date&nbsp;<span ng-show="query.filterObj.sortField === 'eventDts' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'eventDts' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('trackEventTypeCode')" class="imitateLink">Event Type&nbsp;<span ng-show="query.filterObj.sortField === 'trackEventTypeCode' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'trackEventTypeCode' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('clientIp')" class="imitateLink">Client IP&nbsp;<span ng-show="query.filterObj.sortField === 'clientIp' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'clientIp' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th ng-click="changeSortOrder('browser')" class="imitateLink">Browser&nbsp;<span ng-show="query.filterObj.sortField === 'browser' && query.filterObj.sortOrder === 'DESC'"><i class="fa fa-sort-desc"></i></span><span ng-show="query.filterObj.sortField === 'browser' && query.filterObj.sortOrder === 'ASC'"><i class="fa fa-sort-asc"></i></span></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat-start="item in data" >
        <td>{{item.createUser}}</td>
        <td>{{item.organization}}</td>
        <td>{{getUserType(item.userTypeCode)}}</td>
        <td>{{getDate(item.eventDts)}}</td>
        <td>{{getEventType(item.trackEventTypeCode)}}</td>
        <td>{{item.clientIp}}</td>
        <td>{{item.browser}}</td>
        <td style="padding:0px; width: 200px;">&nbsp;
          <button class="btn btn-default" ng-click="item.show = !item.show"><i class="fa fa-view"></i>View Details</button>
        </td>
      </tr>
      <tr ng-show="item.show" ng-repeat-end>
        <td colspan="8">
          <label>Platform Information</label>
          <ul>
            <li><strong>OS Platform:</strong>&nbsp;{{item.osPlatform}}</li>
            <li><strong>User Agent:</strong>&nbsp;{{item.userAgent}}</li>
          </ul>
          <label>Browser Information</label>
          <ul>
            <li><strong>Device Type:</strong>&nbsp;{{item.deviceType}}</li>
            <li><strong>Browser:</strong>&nbsp;{{item.browser}}</li>
            <li><strong>Version:</strong>&nbsp;{{item.browserVersion}}</li>
          </ul>
          <label>Tracking Information</label>
          <ul>
            <li><strong>Tracking ID:</strong>&nbsp;{{item.trackingId}}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div style="margin-left:15px;">
  <pagination ng-show="showPagination" style="display:inline-block; margin: 0px; margin-top:-19px;" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" max-size="pagination.maxSize" boundary-links="true" rotate="false" num-pages="pagination.numPages" ng-change="pageChanged()"></pagination><a style="margin-top:-27px;" tabindex="0" role="button" class="btn btn-default" data-placement="bottom" title="{{popover.title}}" data-content-template="views/services/filter.html" data-animation="am-flip-x" bs-popover>Filter Options</a> <button class="btn btn-default" style="margin-top:-27px;" ng-click="toTop();">Top&nbsp;<i class="fa fa-arrow-up"></i></button> {{pagination.totalItems}} total record(s)
</div>
