.csf-drag {
	background: rgba(0,200,0,0.9)!important;
	z-index: 9999;
}
.csf-hover {
	background: rgba(200,200,200,0.8);
	box-shadow: 0 0 0 rgba(200,200,200,0.4);
	/*animation: pulse 2s infinite;*/
}
.csf-active {
	border-top: 3px solid rgb(142,186,230)!important;
	border-bottom: 3px solid rgb(142,186,230)!important;
	background: rgba(142,186,230,0.3);
	animation: pulse 2s infinite;
	z-index: 9998;
}

.csf-hover.csf-active {
	background: rgba(142,186,230,0.6);
}

/*pulse demo: https://codepen.io/olam/pen/zcqea*/
@-webkit-keyframes pulse {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(142,186,230,0.4);
	}
	50% {
	    -webkit-box-shadow: 0 0 0 20px rgba(142,186,230,0);
	}
	100% {
	    -webkit-box-shadow: 0 0 0 0 rgba(142,186,230,0);
	}
}
@keyframes pulse {
	0% {
	    -moz-box-shadow: 0 0 0 0 rgba(142,186,230,0.4);
	    box-shadow: 0 0 0 0 rgba(142,186,230,0.4);
	}
	50% {
	    -moz-box-shadow: 0 0 0 20px rgba(142,186,230,0);
	    box-shadow: 0 0 0 20px rgba(142,186,230,0);
	}
	100% {
	    -moz-box-shadow: 0 0 0 0 rgba(142,186,230,0);
	    box-shadow: 0 0 0 0 rgba(142,186,230,0);
	}
}
