<component-list click-callback="setCompare" class-list="" filters="filters" data="data" cols="3" mode="compare" list="list" search="doSearchKey" ></component-list>

<div ng-show="showChoices" class="alert ng-scope centerAlert am-fade alert-customDI2E" id="alert_holder_getResponse" style="width: 300px; margin-left: -150px; position: absolute; z-index: 1010;">
  <button type="button" class="close" id="close_alert_getResponse" ng-click="showChoices = false; id = null; article = null;">×</button>
  <span id="alert_holder_getResponse_span">Which side would you like to replace?</span>
  <br>
  <br>
  <div style="text-align: center">
    <button class="btn btn-default" style="display:inline-block" ng-click="resetSide(false)"><i class="fa fa-arrow-left"></i>&nbsp;Left</button>
    <button class="btn btn-default" style="display:inline-block" ng-click="resetSide(true)">Right&nbsp;<i class="fa fa-arrow-right"></i></button>
  </div>
</div>

<div class="container-fluid" style="overflow: hidden; width: 100%;">
  <div ng-repeat="item in pair" class="col-md-6" style="padding: 0px;">
    <compareview data='item'></compareview>
  </div>
</div>


<!-- polyfill for the carousel -->
<script type="text/javascript">

// Adapted from https://gist.github.com/paulirish/1579671 which derived from 
// http://paulirish.com/2011/requestanimationframe-for-smart-animating/
// http://my.opera.com/emoller/blog/2011/12/20/requestanimationframe-for-smart-er-animating

// requestAnimationFrame polyfill by Erik Möller.
// Fixes from Paul Irish, Tino Zijdel, Andrew Mao, Klemen Slavič, Darius Bacon

// MIT license

if (!Date.now)
  Date.now = function() { return new Date().getTime(); };

(function() {
  'use strict';

  var vendors = ['webkit', 'moz'];
  for (var i = 0; i < vendors.length && !window.requestAnimationFrame; ++i) {
    var vp = vendors[i];
    window.requestAnimationFrame = window[vp+'RequestAnimationFrame'];
    window.cancelAnimationFrame = (window[vp+'CancelAnimationFrame']
     || window[vp+'CancelRequestAnimationFrame']);
  }
  if (/iP(ad|hone|od).*OS 6/.test(window.navigator.userAgent) // iOS6 is buggy
    || !window.requestAnimationFrame || !window.cancelAnimationFrame) {
    var lastTime = 0;
  window.requestAnimationFrame = function(callback) {
    var now = Date.now();
    var nextTime = Math.max(lastTime + 16, now);
    return setTimeout(function() { callback(lastTime = nextTime); },
      nextTime - now);
  };
  window.cancelAnimationFrame = clearTimeout;
}
}());


</script>