<div class="page2Styles">
  <loader trigger="fullDetailsLoader"></loader>
  <div ng-show="showDetails">
    <div ng-include="'views/details/fulldetails.html'">
    </div>
  </div>
  <div ng-show="!showDetails" style="min-width: 100%; min-height: 500px;">
  </div>
</div>
  <!-- This is the results description modal (the contents are handled in this controller) -->
  <div modal controller-name="ResultsCtrl" modalId='descModal' modal-classes="classlist">
  </div>

<!-- build:css({.tmp,app}) styles/single.css -->
<link rel="stylesheet" href="styles/single.css">
<!-- endbuild -->
