<style>
body {
  position: relative;
  background:#ddd;
}
</style>
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
  <![endif]-->
  <div class="container bs-docs-container" ng-controller="SubmissionCtrl" >

    <div style="width: inherit;">
<!--     <div class="row banner">
      <img src="images/logo/logo-words.svg" alt="" style="padding: 7px; width: auto; height:inherit;">
    </div> -->
  </div>

  <div class="row" style="position:relative;">
    <div class="col-md-2 hidden-sm hidden-xs faded-border" style="position:relative;">
      <div style="position:relative;">
        <div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix  id="scrollSpy">
          <ul class="nav bs-sidenav">
            <li data-target="#top" class="active" ng-class="getStarted()? 'complete':''">
              <a target="_self" href="#top" ng-click="scrollTo('top', 'top');">Getting started</a>
            </li>
            <hr style="margin: 2px 0;">
            <li data-target="#vitals" ng-class="{'complete': vitalsCheck(), 'disabled': !getStarted()}">
              <a target="_self" href="#vitals" ng-click="getStarted()? scrollTo('vitals', 'vitals', '', $event):'';">Vitals</a>
            </li>
            <hr style="margin: 2px 0;">
            <li data-target="#details" ng-class="{'disabled': !vitalsCheck(), 'complete': vitalsCheck() && (detailsForm.$dirty || detailsDone)}">
              <a target="_self" href="#details" ng-click="vitalsCheck()? scrollTo('details', 'details', '', $event): ''">Details</a>
              <ul class="nav">
                <li data-target="#metadata" ng-class="{'disabled': !vitalsCheck()}">
                  <a target="_self" href="#metadata" ng-click="vitalsCheck()? scrollTo('metadata', 'details', 'details', $event): ''">Main Details</a>
                </li>
                <li data-target="#contacts" ng-class="{'disabled': !vitalsCheck()}">
                  <a target="_self" href="#contacts" ng-click="vitalsCheck()? scrollTo('contacts', 'details', 'details', $event): ''">Contacts</a>
                </li>
                <li data-target="#media" ng-class="{'disabled': !vitalsCheck()}">
                  <a target="_self" href="#media" ng-click="vitalsCheck()? scrollTo('media', 'details', 'details', $event): ''">Media</a>
                </li>
                <li data-target="#resources" ng-class="{'disabled': !vitalsCheck()}">
                  <a target="_self" href="#resources" ng-click="vitalsCheck()? scrollTo('resources', 'details', 'details', $event): ''">Resources</a>
                </li>
                <li data-target="#dependencies" ng-class="{'disabled': !vitalsCheck()}">
                  <a target="_self" href="#dependencies" ng-click="vitalsCheck()? scrollTo('dependencies', 'details', 'details', $event): ''">Dependencies</a>
                </li>
              </ul>
            </li>
            <!-- <li data-target="#moreDetails" ng-class="{'disabled': !vitalsCheck()}">
              <a target="_self" href="#moreDetails" ng-click="vitalsCheck()? scrollTo('moreDetails', 'details', '', $event): ''">Extra Details</a>
            </li> -->
            <hr style="margin: 2px 0;">
            <li data-target="#reviewAndSubmit" ng-class="{'disabled': !vitalsCheck()}">
              <a target="_self" href="#reviewAndSubmit" ng-click="vitalsCheck()? scrollTo('reviewAndSubmit', 'submit', '', $event): ''">Revew/Submit</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-10 formArea" >

      <!-- GETTING STARTED SECTION -->
      <div ng-show="current === 'top'">
        <div class="row">
          <div class="col-md-12 hidden-sm hidden-xs">
            <div id="top" style="padding:0px 0px 25px 0px;">
              <h1>Clearinghouse Component Submission Form.</h1>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="padding:0px 15px;">
            <form class="form-horizontal">
              <h2>1. Please enter your contact information.</h2>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="inputName">Name</label>
                <div class="col-sm-10">
                  <input type="text" id="inputName" class="form-control" placeholder="Name" required ng-model="name" autofocus="">
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="inputEmail">Email address</label>
                <div class="col-sm-10">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required ng-model="email">
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="inputOrganization">Organization</label>
                <div class="col-sm-10">
                  <input type="text" id="inputOrganization" class="form-control" placeholder="Organization" required ng-model="organization">
                </div>
              </div>
              <div class="col-sm-10 col-sm-offset-2" style="padding: 0px 5px;">
                <button class="btn btn-default" ng-click="getStarted()? scrollTo('vitals', 'vitals', '', $event):'';">Continue to Step 2</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-sm hidden-xs">
            <div id="top" style="padding:35px 0px 25px 0px;">
              <br>
              <br>
              <h4><i class="fa fa-warning"></i>&nbsp;This form will not add a component to the Clearhingouse Website, but will submit it for review under the DI2E Evaluation process. DI2E Administrators will then dertermine if it will later be added to the Clearinghouse Website.</h4>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
      <!-- END GETTING STARTED SECTION -->

      <!-- VITAL INFORMATION SECTION -->
      <div ng-show="current === 'vitals'">
        <h1 id="vitals">2. Required Component Information:</h1>
        <form class="form-signin">
          <div class="required">
            <label style="position:relative; padding-right:15px; padding-top:7px;" for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Component Name" required ng-model="component.name" autofocus>
            <label style="position:relative; padding-right:15px; padding-top:7px;" for="description">Description</label>
            <textarea type="text" id="description" class="form-control" placeholder="Component Description" required ng-model="component.description" style="min-width: 100%; min-height:150px;"></textarea>
            <label style="position:relative; padding-right:15px; padding-top:7px;" for="organization">Organization</label>
            <input type="text" id="organization" class="form-control" placeholder="Organization" required ng-model="component.organization">
          </div>
          <div style="padding-top:15px;">
            <label for="requiredAttributes">Required Attributes</label>
            <table id="requiredAttributes" class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th>Attribute Type</th>
                  <th>Attribute Code</th>         
                </tr>
                <!-- repeat on each attribute -->
                <tr class="ng-scope" ng-repeat="attribute in requiredAttributes">
                  <td><span class="required ng-binding">{{attribute.description}}</span></td>
                  <td>
                    <select type="text" ng-change="vitalsCheck(true)" class="form-control ng-pristine ng-valid" style="width: 100%" ng-model="component.attributes[$index]" id="WIDGET" data-min-length="0" data-html="1" data-animation="am-flip-x" placeholder="Select Code" ng-options="code as code.label for code in attribute.codes | makeattribute:attribute"></select>
                  </td>          
                </tr>       
              </tbody>
            </table>
          </div>
          <div style="padding-bottom:15px;">
            <button class="btn btn-default" ng-disabled="!vitalsCheck()" ng-click="vitalsCheck()? scrollTo('details', 'details', '', $event): ''">Continue to Step 3</button>
          </div>
        </form>
      </div>
      <!-- END VITAL INFORMATION SECTION -->

      <!-- EXTRA INFORMATION SECTION -->
      <div ng-show="current === 'details'">
        <h1 id="details">3. Extra Component Details:<small><button class="btn btn-small btn-default" ng-click="vitalsCheck()? scrollTo('reviewAndSubmit', 'submit', '', $event): ''; detailsDone = true">Skip Section</button></small></h1>
        <hr>
        <form name="detailsForm">
          <!-- 
          <input type="text" id="inputTest" name="inputTest" placeholder='test' class="form-control" ng-model="details.inputTest">
          <p>$pristine = {{detailsForm.$pristine}}</p>
          <p>$dirty = {{detailsForm.$dirty}}</p> -->

          <!-- META DATA -->
          <h2 id="metadata">Main Details<small><button class="btn btn-small btn-default" ng-click="vitalsCheck()? scrollTo('contacts', 'details', 'details', $event): ''">Skip</button></small></h2>
          <panel title="Select Applicable Attributes" class-list="edges">
            <table id="attributes" class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th>Attribute Type</th>
                  <th>Attribute Code</th>         
                </tr>
                <!-- repeat on each attribute -->
                <tr class="ng-scope" ng-repeat="attribute in attributes">
                  <td><span class="ng-binding">{{attribute.description}}&nbsp;
                    <i class="glyphicon glyphicon-info-sign" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" data-title="{{attribute.description}} information" data-trigger="hover" ng-click="openInfo(attribute)"></i>
                  </span></td>
                  <td>
                    <multiselect ng-if="attribute.allowMultipleFlg" on-change="vitalsCheck()" selected="component.attributes[requiredAttributes.length + $index]" options="code as code.label for code in list" list="attribute.codes | makeattribute:attribute"></multiselect>
                    <select class="form-control" ng-if="!attribute.allowMultipleFlg" ng-model="component.attributes[requiredAttributes.length + $index]" ng-options="code as code.label for code in attribute.codes | makeattribute:attribute"></select>
                    <div class="tags" ng-if="!attribute.allowMultipleFlg && component.attributes[requiredAttributes.length + $index]">
                      <ul class="tags-list" style="margin: 0; padding: 0; list-style-type: none;">
                        <li class="tag-item" style="margin: 2px; padding: 0 5px; display: inline-block; font: 14px \'Helvetica Neue\',Helvetica,Arial,sans-serif; height: 26px; line-height: 25px;">
                          <span ng-bind="component.attributes[requiredAttributes.length + $index].label"></span>
                          <a class="remove-button" ng-click="component.attributes[requiredAttributes.length + $index] = ''" style="margin: 0 0 0 5px; padding: 0; border: 0; background: 0 0; cursor: pointer; vertical-align: middle; font: 700 16px Arial,sans-serif; color: #585858;">&times;</a>
                        </li>
                      </ul>
                    </div>
                  </td>          
                </tr>       
              </tbody>
            </table>
          </panel>
          <panel class-list="edges" open-state="true" title="Add/Edit Metadata">
            <div class="form-group"  >
              <label class="col-sm-2 control-label">Label</label>
              <div class="col-sm-10">
                <input  type="text"
                id="metadataLabel"
                name="label"
                class="form-control"
                ng-model="component.metadata[metadataLength].label"
                ng-minlength=1
                ng-maxlength=250 
                on-enter="addMetadata()"/>
              </div>
              <p ng-show="detailsForm.label.$error.minlength && !detailsForm.label.$focused" class="help-block">Label must be longer than 1 character in length.</p>
            </div>  
            <div class="form-group"  >
              <label class="col-sm-2 control-label">Value</label>
              <div class="col-sm-10">
                <input  type="text"
                name="value"
                class="form-control"
                ng-model="component.metadata[metadataLength].value"
                ng-minlength=1
                ng-maxlength=250 
                on-enter="addMetadata()"/>
              </div>
              <p ng-show="detailsForm.value.$error.minlength && !detailsForm.value.$focused" class="help-block">Value must be longer than 1 character in length.</p>
            </div>
            <button class="btn btn-primary" type="button" ng-click="addMetadata()"><i class="fa fa-save"></i>&nbsp;Add</button>
            <div class="tags">
              <ul class="tags-list" style="margin: 0; padding: 0; list-style-type: none;">
                <li ng-if="tag.label && tag.value" class="tag-item" ng-repeat="tag in component.metadata" style="margin: 2px; padding: 0 5px; display: inline-block; font: 14px \'Helvetica Neue\',Helvetica,Arial,sans-serif; height: 26px; line-height: 25px;">
                  <span>{{tag.label}}&nbsp;&mdash;&nbsp;{{tag.value}}</span>
                  <a class="remove-button" ng-click="removeMetadata($index);" style="margin: 0 0 0 5px; padding: 0; border: 0; background: 0 0; cursor: pointer; vertical-align: middle; font: 700 16px Arial,sans-serif; color: #585858;">&times;</a>
                </li>
              </ul>
            </div>
          </panel>
          <panel class-list="edges" open-state="true" title="Add Tag">
            <div class="form-group"  >
              <label class="col-sm-2 control-label">Tag</label>
              <div class="col-sm-10">
                <input  type="text"
                id="tagLabel"
                name="text"
                class="form-control"
                ng-model="component.tags[tagsLength].text"
                ng-minlength=1
                ng-maxlength=250 
                on-enter="addTag()"/>
              </div>
              <p ng-show="detailsForm.text.$error.minlength && !detailsForm.text.$focused" class="help-block">Tag must be longer than 1 character in length.</p>
            </div>        
            <button type="button" class="btn btn-primary" ng-click="addTag()" ng-disabled="detailsForm.$invalid"><i class="fa fa-save"></i>&nbsp;Add</button> 
            <div class="tags">
              <ul class="tags-list" style="margin: 0; padding: 0; list-style-type: none;">
                <li ng-if="tag.text" class="tag-item" ng-repeat="tag in component.tags" style="margin: 2px; padding: 0 5px; display: inline-block; font: 14px \'Helvetica Neue\',Helvetica,Arial,sans-serif; height: 26px; line-height: 25px;">
                  <span>{{tag.text}}</span>
                  <a class="remove-button" ng-click="removeTag($index);" style="margin: 0 0 0 5px; padding: 0; border: 0; background: 0 0; cursor: pointer; vertical-align: middle; font: 700 16px Arial,sans-serif; color: #585858;">&times;</a>
                </li>
              </ul>
            </div>          
          </panel>  
          <panel class-list="edges" open-state="true" title="Add Preemptive Answers">
            User questions and answers<br><br>
            <loader trigger="questionFormLoader"></loader>
            <div> 
              <br>
              Filter Status:
              <select type="text" class="form-control"  ng-change="loadQuestions()" style="width:110px;display: inline" ng-model="questionFilter.status" data-min-length="0" data-html="1" data-animation="am-flip-x" ng-options="status.code as status.desc for status in statusFilterOptions"></select>     
              <button class="btn btn-default" ng-click="loadQuestions()"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>        
            </div>  
            <table class="table table-striped table-bordered admin-table">
              <tr>
                <th><a href="" ng-click="setPredicate('question', 'question');">Question<span ng-show="predicate['question'] === 'question'"><i ng-show="!reverse['question']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['question']" class="fa fa-sort-alpha-desc"></i></span></a></th>         
                <th><a href="" ng-click="setPredicate('username', 'question');">Username<span ng-show="predicate['question'] === 'username'"><i ng-show="!reverse['question']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['question']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                <th><a href="" ng-click="setPredicate('userType', 'question');">User Type<span ng-show="predicate['question'] === 'userType'"><i ng-show="!reverse['question']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['question']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                <th><a href="" ng-click="setPredicate('organization', 'question');">Organization<span ng-show="predicate['question'] === 'organization'"><i ng-show="!reverse['question']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['question']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                <th><a href="" ng-click="setPredicate('updateDts', 'question');">Update Date<span ng-show="predicate['question'] === 'updateDts'"><i ng-show="!reverse['question']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['question']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                <th>Action</th>
              </tr>
              <tr ng-repeat-start="question in questions | orderBy:predicate['question']:reverse['question']">
                <td>{{question.question}}</td>
                <td>{{question.username}}</td>
                <td>{{question.userType}}</td>
                <td>{{question.organization}}</td>
                <td>{{question.questionUpdateDts | date:'MM/dd/yyyy h:mm:ss.sss a'}}</td>                               
                <td style="padding:0px 3px !important; width: 90px; vertical-align: middle;">&nbsp;
                  <button class="btn btn-default btn-sm" ng-click="showQuestionResponses(question);"  title="ShowResponse">{{questionDetailsShow[question.questionId].showResponsesText}} Responses</button>  
                  <button class="btn btn-warning btn-sm" ng-click="toggleQuestionStatus(question);"  title="Toggle Status"><i class="fa fa-power-off"></i></button>           
                </td>
              </tr>
              <tr ng-show="questionDetailsShow[question.questionId].flag" ng-repeat-end>          
                <td colspan="6" style="padding: 10px">            
                  <table class="table table-striped table-bordered admin-table">
                    <tr>
                      <th><a href="" ng-click="setPredicate('response', 'questionResponse');">Response<span ng-show="predicate['questionResponse'] === 'response'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>         
                      <th><a href="" ng-click="setPredicate('username', 'questionResponse');">Username<span ng-show="predicate['questionResponse'] === 'username'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                      <th><a href="" ng-click="setPredicate('userType', 'questionResponse');">User Type<span ng-show="predicate['questionResponse'] === 'userType'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                      <th><a href="" ng-click="setPredicate('organization', 'questionResponse');">Organization<span ng-show="predicate['questionResponse'] === 'organization'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                      <th><a href="" ng-click="setPredicate('updateDts', 'questionResponse');">Update Date<span ng-show="predicate['questionResponse'] === 'updateDts'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                      <th><a href="" ng-click="setPredicate('activeStatus', 'questionResponse');">Active Status<span ng-show="predicate['questionResponse'] === 'activeStatus'"><i ng-show="!reverse['questionResponse']" class="fa fa-sort-alpha-asc"></i><i ng-show="reverse['questionResponse']" class="fa fa-sort-alpha-desc"></i></span></a></th>
                      <th>Action</th>
                    </tr>
                    <tr ng-repeat="response in question.responses | orderBy:predicate['questionResponse']:reverse['questionResponse']">
                      <td>{{response.response}}</td>
                      <td>{{response.username}}</td>
                      <td>{{response.userType}}</td>
                      <td>{{response.organization}}</td>
                      <td>{{response.updateDts | date:'MM/dd/yyyy h:mm:ss.sss a'}}</td>
                      <td align="center">{{response.activeStatus}}</td>
                      <td style="padding:0px 3px !important; vertical-align: middle;">&nbsp;                  
                        <button class="btn btn-warning btn-sm" ng-click="toggleQuestionResponseStatus(response, question);"  title="Toggle Status"><i class="fa fa-power-off"></i></button>           
                      </td>
                    </tr>             
                  </table>            
                </td>
              </tr>
            </table>      
          </panel>
          <hr>
          <!-- END META DATA -->

          <!-- CONTACTS -->
          <h2 id="contacts">Contacts<small><button class="btn btn-small btn-default" ng-click="vitalsCheck()? scrollTo('media', 'details', 'details', $event): ''">Skip</button></small></h2>
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <hr>
          <!-- END CONTACTS -->

          <!-- MEDIA -->
          <h2 id="media">Media:<small><button class="btn btn-small btn-default" ng-click="vitalsCheck()? scrollTo('resources', 'details', 'details', $event): ''">Skip</button></small></h2>
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <hr>
          <!-- END MEDIA -->
          
          <!-- EXTERNAL RESOURCES -->
          <h2 id="resources">External Resources:<small><button class="btn btn-small btn-default" ng-click="vitalsCheck()? scrollTo('dependencies', 'details', 'details', $event): ''">Skip</button></small></h2>
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <hr>
          <!-- END EXTERNAL RESOURCES -->
          
          <!-- DEPENDENCIES -->
          <h2 id="dependencies">Dependencies:</h2>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <!-- END DEPENDENCIES -->

          <div style="padding-bottom:15px;">
            <button class="btn btn-default" ng-click="vitalsCheck()? scrollTo('reviewAndSubmit', 'submit', '', $event): ''; detailsDone = true">Review and Submit</button>
          </div>
        </form>
      </div>
      <!-- END EXTRA DETAILS SECTION -->

      <!-- REVIEW AND SUBMIT SECTION -->
      <div ng-show="current === 'submit'">
        <h1 id="reviewAndSubmit">Review and submit the component:</h1>
        <br>
        <div class="col-md-12">
          <h2>Quick View</h2>
        </div>
        <div class="col-md-12" style="padding:20px; border-radius:10px; border: 1px solid dimgray; background: #FFF">
          <h3>This is where you would see a quick view of the component information so far.</h3>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <!-- REVIEW AND SUBMIT SECTION -->
    </div>
  </div>
</div>