<div style="height: 100%">
  <div class="adminTools" style="overflow-y: auto;padding-bottom: 60px; border-right: 1px #FF811A solid;">
    <div >
      <div class="treeNav">
        <div style="margin-bottom: 10px;"></div>
        <accordion close-others="oneAtATime">
          <accordion-group heading="User Tools" is-open="menuPanel.data.open">
            <accordion-heading>
              User Tools <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': menuPanel.data.open, 'glyphicon-chevron-right': !menuPanel.data.open}"></i>              
            </accordion-heading>            
            <abn-tree tree-data="data" tree-control="myTree" icon-leaf="fa fa-pencil-square-o" icon-expand="fa fa-plus" icon-collapse="fa fa-minus" on-select="editor(branch, myTree, systemTree )" expand-level="1"></abn-tree>
          </accordion-group>          
        </accordion>
      </div>
    </div>
  </div>
  <div class="toolsContent">
    <div class="col-sm-12" style="float:none;">
      <div class="tools-LandingTitle">
        <h3>
          {{toolTitle}}

          &nbsp;<div ng-if="checkParent()" style="display: inline-block;">
            <small><button class="btn btn-primary" style="margin-bottom: 10px" ng-click="goToParent()">Go back to Parent Tool</button></small>
          </div>
        </h3>

      </div>
      {{detailedDesc}}    
      <hr>
    </div>
    <div ng-include="incLoc" style="width:100%;">
    </div>
  </div>
</div>
