<div style="margin-top:15px;">
    <div ng-show="popVis" class="panel panel-default">
        <div class="panel-heading" style="font-size:1.3em; text-align:center;">Topic Search</div>
        <div class="panel-body container-fluid" style="padding:0px;">
            <div class="row-fluid" style="background-color:#efefef;">
                <div id="leftPane" class="col-sm-4 col-xs-4" style="padding:0px; background-color:#eeeeee; max-height: 400px;overflow-y: auto;">
                    <div ng-show="topicList.length" class="button-group-vertical button-group-justified" role="group"  ng-repeat="topic in topicList | orderBy:'description'">
                        <button class="btn btn-default" ng-click="loadSubTopicDataForPopup(topic);" style="width:100%;" ng-show="topic.attributeType">{{topic.description}}</button>
                    </div>
                </div>
                <div id="rightPane" class="col-sm-8 col-xs-4" style="padding-left:5px; padding-top:10px; max-height: 400px;overflow-y: auto;">
                    <div class="col-xs-6 letter-box">
                        <button class="btn btn-link btn-xs" ng-show="currentTopic" ng-click="goToResults({'type': currentTopic, 'code': '', 'condition':'OR'})">[ All Containing {{currentTopic.description}} ]</button>
                    </div>
                    <div class="col-xs-6 letter-box">
                        <button class="btn btn-link btn-xs" ng-show="currentTopic" ng-click="goToResults({'type': currentTopic, 'code': '', 'condition':'NOT'})">[ All Not Containing {{currentTopic.description}} ]</button>
                    </div>
                    <div ng-show="subTopicList.length" role="group"  ng-repeat="topics in (subTopicList | orderBy:'label') | groupBy:2">
                        <div class="col-xs-6 letter-box" ng-repeat="topic in topics">
                        <button class="btn btn-link btn-xs" ng-show="topic.code" ng-click="goToResults({'type': currentTopic, 'code': topic.code, 'condition':'OR'})">{{topic.label}}</button>
                        </div>
                     </div>                  
                    <div ng-hide="subTopicList.length">Select a topic on the left.</div>         
                </div>
            </div>
        </div>
    </div>
</div>
<br/>