<div class="panel panel-default" >
    <div class="panel-heading">Articles</div>
    <div class="panel-body" style="max-height: 200px;overflow-y: auto;">
     <div ng-show="articleList.length" ng-repeat="article in articleList">
        <a ng-show="article.listingType && article.listingType === 'Article'" target="_blank" href="landing?type={{article.articleAttributeType}}&amp;code={{article.articleAttributeCode}}">{{article.name}}</a>
        <a ng-show="article.listingType && article.listingType === 'Component'" target="_blank" href="single?id={{article.componentId}}">{{article.name}}</a>
     </div> 
     <span ng-hide="articleList.length">Nothing Found</span> 
    </div>
</div><br/>
<div class="panel panel-default">
    <div class="panel-heading">Related Components</div>
    <div class="panel-body table-responsive" style="max-height: 200px; overflow-y: auto;">
      <table ng-show="componentList.length" class="table table-bordered" >
          <tr class="info">
              <th width="65%">Name</th>
              <th width="35%">Type</th>
          </tr>
          <tr ng-repeat="comp in componentList">
              <td>
                  <a ng-show="comp.listingType && comp.listingType === 'Component'" target="_blank" href="single?id={{comp.componentId}}">{{comp.name}}</a>
              </td>
              <td>{{getType(comp.attributes)}}</td>
          </tr>
      </table>
        <span ng-hide="componentList.length">Nothing Found</span>
    </div>
</div>