<div class="modal-header">
  <h3>You're Idle. You'll be logged out in {{countdown}} second(s).</h3>
  <progressbar max="60" value="countdown" animate="false" class="progress-striped active" style="margin-bottom:10px"></progressbar>
</div>
<div ng-idle-countdown="countdown" ng-init="countdown=60" class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h4 style="display:inline">Do you want to stay logged in? (Just bump the mouse)</h4 style="display:inline">
<!--       <div class="pull-right" style="display:inline">
        <button type="button" class="btn btn-success" ng-click="logout()">Yes</button>
        <button type="button" class="btn btn-danger" ng-click="closeModals()">No</button>
      </div> -->
    </div>
  </div>
</div>