.bs-sidebar .nav>li>a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: black;
  padding: 4px 15px;
  text-align: right;
}
.bs-sidebar .nav>li.disabled>a {
  color: #999;
}
.bs-sidebar .nav>li>a:focus, .bs-sidebar .nav>li>a:hover {
  padding-right: 14px;
  color: #b94846;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid #b94846;
}
.bs-sidebar a {
  color: #337ab7;
  text-decoration: none;
}
.bs-sidebar a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bs-sidebar a:focus, .bs-sidebar a:hover {
  color: #23527c;
  text-decoration: underline;
}
.bs-sidebar h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}
.bs-sidebar .nav>.active>a:focus,
.bs-sidebar .nav>.active>a:hover,
.bs-sidebar .nav>.active>a {
  padding-right: 13px;
  font-weight: 700;
  color: #b94846;
  background-color: transparent;
  border-right: 2px solid #b94846;
}
.bs-sidebar .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.bs-sidebar#scrollSpy{
  position: relative;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 4px;
  background: white;
  width: 145px;
}
.bs-sidebar#scrollSpy ul hr{
  border-top: 1px solid #bbb;
  margin: 2px -4px;
  position: relative;
  right: -4px;
}
.bs-sidebar .bs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 134px;
}
.bs-sidebar .nav>.active>a:focus,
.bs-sidebar .nav>.active>a:hover,
.bs-sidebar .nav>.active>a {
  padding-right: 13px;
  font-weight: 700;
  color: #b94846;
  background-color: transparent;
  border-right: 2px solid #b94846;
}
.bs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}
.bs-sidebar .nav .nav>li>a:focus,
.bs-sidebar .nav .nav>li>a:hover,
.bs-sidebar .nav .nav>li>a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 400;
}
/*
.bs-sidebar .nav >li.active:before{
  content:"";
  border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  border-style:solid;
  border-width:5px;
  width:0;
  height:0;
  position:absolute;
  top:14px;
  right:2px;
}

.bs-sidebar .nav .nav >li.active:before{
  content:"";
  border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  border-style:solid;
  border-width:4px;
  width:0;
  height:0;
  position:absolute;
  top:7px;
  right:2px;
}
*/

.bs-sidebar .nav >li.active.complete:before,
.bs-sidebar .nav >li.complete:before{
  border:none;
}

.bs-sidebar .nav .nav >li.active.complete:before,
.bs-sidebar .nav .nav >li.complete:before{
  border:none;
}
.bs-sidebar .nav >li.active.complete:after,
.bs-sidebar .nav >li.complete:after{
  content:"\f00c";
  color: #70B946;
  font-family: FontAwesome;
  border:none;
  width:0;
  height:0;
  position:absolute;
  top:8px;
  left:5px;
}

.bs-sidebar .nav .nav >li.active.complete:after,
.bs-sidebar .nav .nav >li.complete:after{
  content:"\f00c";
  color: #70B946;
  font-family: FontAwesome;
  border:none;
  width:0;
  height:0;
  position:absolute;
  top:0px;
  left:5px;
}

.bs-sidebar .nav .nav >li.active.edit:after,
.bs-sidebar .nav .nav >li.edit:after{
  content:"\f044";
  color: #70B946;
  font-family: FontAwesome;
  border:none;
  width:0;
  height:0;
  position:absolute;
  top:0px;
  left:5px;
}

.bs-docs-container .row,{
  position:relative;
}

.bs-docs-container .formArea{
  margin-top: 100px;
  margin-bottom: 15px;
  border: 1px solid dimgray;
  background: white;
  border-radius: 4px;
}

.bs-docs-container h1 small,
.bs-docs-container h2 small,
.bs-docs-container h3 small{
  float:right;
}


.bs-docs-container .banner{
  height: 100px;
  margin-left: -7px;
  position: fixed;
  width: inherit;
  z-index: 1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 2%, rgba(221,221,221,1) 90%, rgba(221,221,221,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.12)), color-stop(2%,rgba(221,221,221,1)), color-stop(90%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,0)));
  background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,1) 2%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%);
  background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,1) 2%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%);
  background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,1) 2%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%);
  background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(221,221,221,1) 2%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00dddddd',GradientType=0 );
}


.bs-docs-container .panelDirective.edges .titleButton h3{
  font-size: 18px;
  position: relative;
  top:1px;
}
.bs-docs-container .panelDirective.edges .titleButton i{
  font-size: 20px !important;
}
.bs-docs-container .panelDirective.edges .titleButton:hover{
  text-decoration: none;
}



/************************************************ 
*           This is for the tag stuff            
*************************************************/
.bs-docs-container .tags {
  background-color: #fff;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bs-docs-container .tags.focused {
  border-color: #ff811a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 129, 26, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 129, 26, 0.6);
}

.bs-docs-container .tags .tag-item {
  background: #bbbbbb;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: black;
}

.bs-docs-container .tags .tag-item.selected {
  background: #3d3d3d;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bs-docs-container .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bs-docs-container .autocomplete .tag-item.selected {
  color: #262626;
  background-color: #3d3d3d;
}





/*
.faded-border:after {
  content: "";
  position:fixed;
  height: calc(100% - 160px);
  min-height: 500px;
  width: 0px;
  display: block;
  top: 80px;
  margin-left:157px;
  border-left: 1px solid dimgray;
}*/


@media (min-width: 992px){
  .bs-sidebar .nav>.active>ul {
    display: block;
  }
}
@media (min-width: 1200px){
  .bs-sidebar {
    margin-right: 30px;
  }
}