.centerAlert{
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
}

.alert-customDI2E{
  background-color: rgba(2,18,51,.8);
  border-color: #000000;
  color: #ff4800;
}