.centerAlert{
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
}

.alert-customDI2E{
  background-color: rgba(2,18,51,.8);
  border-color: #000000;
  color: #ffffff;
  /*color: #ff4800;*/
}

.alert-customDI2E .close {
  color: lightgray;
}

.errorOnInput{
  border-color: rgba(224,74,74, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224,74,74, 0.6) !important;
  outline: 0 none !important;
}

.auth-forms{
  background: white;
  width: 80%;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.auth-content input{
  width: 360px;
  display: inline-block;
}
.auth-content{
  display:inline-block;
  /*text-align: left;*/
}
.auth-content h1{
  color: #5A5A5A;
}
.auth-content .disclaimer{
  margin: 0 auto;
  margin:20px;
  text-align: left;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 10px;
  background: #021233;
  color: white;
}