/***********************************************************************************/
/*This section is for the navigation css that should remain constant over each page*/
/*This sets up the nav height and width for its fixed position*/

.defaultSpacer {
  height: 52px;
}

#nav .top {
  border-bottom: 3px solid #FF811A;
}

.top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1010;
}
.navigation{
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 0px 9px 0px;
  -moz-box-shadow: 0px 0px 9px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 9px 0px rgba(68,68,68,0.6);
}

/*These are used to keep the elements on the nav working together nicely*/
.userNavDropdown, .navSearch{
  padding-left: 10px;
  padding-right: 10px;
}
.userNavDropdown{
  width: 199px;
}
.center, .navSearch form, .navSearchBar input{
  width: 100%;
  float: none;
}
.navSearch{
  margin-left:280px;
  margin-right:260px;
  width: auto;
}

/*These change the input and button corner radius to make them fit together*/
.navSearchBar input{
  border-radius: 4px 0px 0px 4px;
}
.navSearchBar{
  margin-right:38px;
  display: block;
} 
.searchBoxButton{
  width:39px;
  margin-left: -1px; 
}
.searchBoxButton button{
  border-radius: 0px 4px 4px 0px; 
  border-left: none;
}

/*This changes the height of a navbarbutton so that it doesn't streach the nav*/
.navButton{
  padding: 6px 10px;
}



.firstNav {
  margin-left: 10px;
}


.navbar-brand {
  padding: 0px;
}

.navbar-brand i{
  color:white;
}
.navbar-brand div:hover i, .navbar-brand div:hover span {
  color: lightgray;
}

.navbar-brand .logo,
.navbar-brand .logo-small{
  font-family: ngage;
  /* font-family: sofachrome; */
  /*font-family: WideLatin;*/
}
.navbar-brand .logo-small {
  font-size: 15px;
  margin-top: -4px;
}
.navbar-brand .logo {
  /*font-size: 18px;*/
  font-size: 16px;
  color: white;
}
/***********************************************************************************/



.logo-title{
  font-family: Calibri;
  /*font-family: ngage;*/
  /*font-family: sofachrome;*/
  /*font-family: WideLatin;*/
  color: white;
  text-align: center;
  font-size: 35px;
  /*text-shadow: 2px 2px 5px #7E7E7E;*/
  padding-top: 3px;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  margin-right: -200px;
  float: left;  
}
.logo-title span.dashes{
  font-size: 28px;
  font-family: sofachrome;
  letter-spacing: -2px;
  display:none;
}


/*Bootstrap override*/


.navbar-default .navbar-nav > li > a {
 color: #cccccc;
 border-top: 2px solid transparent;
}

.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret,
.navbar-default .navbar-nav > .dropdown > a:active .caret{
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar-default .navbar-nav > .dropdown.open > a .caret {
  border-top-color: darken(#cccccc, 20%);
  border-bottom-color: darken(#cccccc, 20%);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret{
  border-top-color: #FF811A;
  border-bottom-color: #FF811A;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  background:#3d3d3d;
  color:#eeeeee;                  
  border-top: 2px solid #FF811A;
  margin-top:0px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555555;
  border-top: 2px solid #FF811A;
  background-color: #e7e7e7;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
  }
}