.notificationsBox {
    background-color:#414e68;
    border:1px solid black;
    height:30px;
    min-width:30px;
    border-radius:4px;
    line-height:30px;
    color:white;
    text-align:center;
    font-size:19px;
    padding:0px 8px;
}

.notificationsBox.warning{
  background-color: #ff811a;
}
.alert.alert-watch{
  background-color: white;
  border-color: #6D2B34;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 204, 209, 0.6);
}
.alert.alert-import{
  background-color: white;
  border-color: #366D2B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(209, 235, 204, 0.6);
}
.alert.alert-task{
  background-color: white;
  border-color: #2B366D;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 209, 235, 0.6);
}
.alert.alert-report{
  background-color: white;
  border-color: #2B556D;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 224, 235, 0.6);
}
.alert.alert-admin{
  background-color: white;
  border-color: #6D5D2B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 227, 204, 0.6);
}

notifications .alert{
  margin-bottom:10px;
}

.unreadTableItem{
  background: #414e68;
}