.notificationsBox {
    background-color:#414e68;
    border:1px solid black;
    height:30px;
    min-width:30px;
    border-radius:4px;
    line-height:30px;
    color:white;
    text-align:center;
    font-size:19px;
    padding:0px 8px;
}

.notificationsBox.warning{
  background-color: #ff811a;
}

notifications .alert{
  margin-bottom:10px;
}