.carousel {
  border:1px solid dimgray;
  background: lightgray;
  position: absolute;
}
.carousel .itemData p{
  background: black;
  color: white;
  margin: 0;
  padding: 5px;
  position: absolute;
  bottom: 0;
  opacity: .6;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cycle-prev, .cycle-next{
  height:21px;
  background: transparent no-repeat 0 0 image-url('carousel_control.png');
  top: 70px;
  margin-left: 10px;
  width: 15px;
  overflow: hidden;
  text-indent: -999px;
  position: absolute;
  display: block;
}
.cycle-prev.full, .cycle-next.full{
}
.cycle-next.full{
  background: none;
  position: absolute;
  top: 50%;
  content: "";
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 1.8em;
  height: 1.8em;
  border-right: 0.6em solid white;
  border-top: 0.6em solid white;
  border-radius:4px; 
  transform: rotate(45deg);
  margin-right: 0.5em;
}
.cycle-prev.full{
  background: none;
  position: absolute;
  top: 50%;
  content: "";
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 1.8em;
  height: 1.8em;
  border-left: 0.6em solid white;
  border-bottom: 0.6em solid white;
  border-radius:4px; 
  transform: rotate(45deg);
  margin-right: 0.5em;
}
.cycle-prev {
  background-position: 0 0;
  left: 0px
}
.cycle-prev:hover {
  left:  1px
}     
.cycle-next{
  right: 0px;
  background-position: -18px 0;
}
.cycle-next:hover {
  right: 1px
}       

.carousel .item{
  border: 1px solid transparent;
}

.cycle-slide-active{
  border:1px solid black !important;
}

.cycle-prev.disabled, .cycle-next.disabled {
  visibility: hidden;
}


.noModalBackgrounds .modal-content{
  background: transparent;
  border: none;
  box-shadow: none;
}
.noModalBackgrounds.modal-backdrop{
  opacity:0.8;
}

.noModalBackgrounds .carousel{
  background:none;
  border:none;
}