.scheduleUl {
  list-style: none;
  width: 335px;
  float:left;
  margin:5px 5px 5px -15px;
}

.scheduleLevel{
  border: 1px solid #555;
  border-radius: 4px;
  padding: 2px 5px;
  cursor: pointer;
}
.scheduleLevel.disabled{
  border: 1px solid gray;
  background: lightgray;
  color:darkgray;
  cursor: not-allowed; 
}
.scheduleLevel.finished{
  background-color: #C5DDBB;
  color: black;
}
.scheduleLevel.current{
  background: #F2D42E;
  color: #000000;
  font-weight:bold;
}

