<div class="panel panel-default panelDirective" ng-class="classList? classList: ''"> 
  <div class="panel-heading" role="tab" id="headingOne" style="padding:0px;"> 
    <h4 class="panel-title"> 
      <button class="btn btn-link titleButton" style="width: 100%; margin:0px; text-decoration: none; white-space: normal;" type="button" data-toggle="collapse" data-target="#collapseThis{{panelId}}" aria-expanded="false" aria-controls="collapseThis{{panelId}}" ng-cloak> 
        <h3 style="padding:0px; margin:0px; display:inline-block;">{{title}}</h3>&nbsp;&nbsp;&nbsp;<i style="font-size:x-large;" ng-class="open? 'fa-toggle-up':'fa-toggle-down'" class="fa"></i>
      </button>
    </h4> 
  </div> 
  <div id="collapseThis{{panelId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"> 
    <div class="panel-body" ng-transclude></div> 
  </div> 
</div>