<div ng-if="fx === 'center'" ><i class="imitateLink" style="color: white; background-color: black; font-size: 60px; position: absolute; opacity: .7; right: 34px; z-index: 1; top: 4px; height: 38px; line-height: 40px; width: 40px; border-radius: 20px;" ng-click="doCallback()">&times;</i></div>
<div id="wrapper" style="height: {{getWinHeight()}}px">
  <div ng-if="fx === 'carousel'" class="carousel" style="margin: 0px 30px;">
    <div class="item" ng-repeat="file in files" style="vertical-align: middle !important;" ng-click="doCallback({file: file, files: files})">
      <div class="itemData" style="margin: 5px; position:relative;" >
        <img ng-if="isImage(file)" ng-src="{{file.link}}" style="height: 150px; width:auto;" alt="{{file.fileName}}"/>
        <div style="height:150px; width: 150px; text-align: center;" ng-if="!isImage(file)"><i style="font-size: 150px;" class="fa" ng-class="getMimeTypeClass(file.mimeType)"></i></div>
        <!-- <videogular> <vg-media vg-src="['src':'{{file.link}}','type':'{{file.mimeType}}']" vg-preload="'none'" vg-native-controls="true"></vg-media></videogular> -->
        <p>{{file.fileName}}</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div ng-if="fx === 'center'" class="carousel" style="margin: 0px 30px; width: calc(100% - 60px)">
    <div class="item" ng-repeat="file in files" style="vertical-align: middle !important; top: 50% !important; transform: translateY(-50%);">
      <div class="itemData" style="margin: 5px; position:relative;" >
        <img ng-if="isImage(file)" ng-src="{{file.link}}" style="height: {{getWinHeight()}}px; width:auto;" alt="{{file.fileName}}"/>
        <videogular  style="max-height:{{getWinHeight()}}px;" ng-if="isVideo(file)"> <vg-media vg-src="file.srcs" vg-preload="'none'" vg-native-controls="true"></vg-media></videogular>
        <audio style="max-height:{{getWinHeight()}}px;"  ng-if="isAudio(file)" controls><source ng-src="{{file.link}}" type="audio/ogg"><source ng-src="{{file.link}}" type="audio/mpeg"></audio>
        <div style="height:150px; width: 150px; text-align: center;" ng-if="isOther(file)"><i style="font-size: 150px;" class="fa" ng-class="getMimeTypeClass(file.mimeType)"></i></div>
        <p ng-if="isImage(file) || isOther(file)">{{file.fileName}}</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <a href="javascript:void(0);" id="prev" class="cycle-prev imitateLink" ng-class="{'full':fullClass}">&lt;</a>
  <a href="javascript:void(0);" id="next" class="cycle-next imitateLink" ng-class="{'full':fullClass}">&gt;</a>
</div>
