
html, body,
.fullHeight {
  height: auto;
}


html, .resultsContainer {
  overflow: hidden;
}


input[type=checkbox] + label{
  color: inherit;
}
input[type=checkbox]:checked + label,  input[type=checkbox]:checked + span{
  color: #FF811A;
}

.modal-title {
  color: #FF811A;
}

.panel {
  margin-bottom: 0px;
}

.lastFilter{
  margin-bottom: 40px;
}

.btn.btn-link{
  text-decoration: none;
}

.panel-title small{
  color: #cc4b4b;
  font-size: 10px;
  font-weight: 100;
}
.panel-title input[type="checkbox"]{
  position: relative;
  bottom: -7px;
}
