
.filterCheckbox{
  margin: 2px 0px !important;
}

.filterTable{
  margin-bottom: 0px !important;
}

.filterTableDiv{
  margin: 10px;
}
.firstFilter{
  margin: 50px 10px 10px 10px;
}

#filtersButton{
  position: fixed; 
  top: 54px; 
  z-index: 1010; 
  padding: 0px; 
  margin: 0px;
}

.filtersButton{
  position: relative;
  z-index: 1009;
  margin-left: -55px;
}

.filtersButton i{
  position: relative;
  right: -5px;
  padding-right: 2px;
}

.filtersTd{
  padding: 0px 8px !important;
  border: 0px transparent!important;
}

.filterTable table th {
  background: #eeeeee;
  margin-bottom: -1px;
}