
.filterCheckbox{
  margin: 2px 0px !important;
}

.filterTable{
  margin-bottom: 0px !important;
}

.filterTableDiv{
  margin: 10px;
}
.firstFilter{
  margin: 50px 10px 10px 10px;
}

.filtersButton{
  height: 90px;
  width: 15px;
  border-radius: 0px 90px 90px 0px;
  -moz-border-radius: 0px 90px 90px 0px;
  -webkit-border-radius: 0px 90px 90px 0px;
  margin-top: 0px;
  padding: 0px;
  white-space: normal;
  outline: none;
  font-size: 25px;
}

#filtersButton{
  position: fixed;
  top: 50%;
  margin-top: -26px;
  z-index: 1010;
}

.filtersButton i{
  position: relative;
  right: -5px;
  padding-right: 2px;
}

.filtersTd{
  padding: 0px 8px !important;
  border: 0px transparent!important;
}

.filterTable table th {
  background: #eeeeee;
  margin-bottom: -1px;
}

.filterTable table th:hover {
  background: #cccccc;
  margin-bottom: -1px;
}

.hideFiltersButton {
  display:none;
}

.showFiltersButton{
  position: relative;
  left: -4px;
}

.filterTable  .table th .collapsed .fa-caret-down{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;

}

.filterTable .table th .fa-caret-down{
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
}

span.spread {
  width: 130px;
  padding-left: 0px;
  float:left;
  -webkit-transition:width .4s;
  -moz-transition:width .4s;
  -o-transition:width .4s;
  transition:width .4s;
}
span.spread.empty{
  width: 180px;
  -webkit-transition:width .4s;
  -moz-transition:width .4s;
  -o-transition:width .4s;
  transition:width .4s;
}