<span style="width: calc(100% - 71px); display: inline-block; float:right">
  <select class="form-control" ng-disabled="disabled" style="display:inline-block;" ng-change="checkForToContacts()" ng-model="toField" ng-options="option as option.title for option in toOptions">
  </select>
</span>
<h5 style="display:inline-block; float:right; text-align: right;">
  To Group:&nbsp;
</h5>
<button ng-disabled="disabled" ng-show="toField.value !== 'all'" class="pull-right btn btn-default btn-small" type="button" ng-click="checkForToContacts()">
  <i class="fa fa-edit">
  </i>
</button>
<span ng-show="toField.value !== 'all'" style="width: calc(100% - 111px); display:inline-block; float:right;">
  <input ng-show="toField.value === 'group'" class="form-control" ng-model="to" ng-disabled="disableTo"></input>
  <div ng-show="toField.value === 'users'" ng-class="to.length > 2? 'toField': ''" class="form-control" style="oveflow: auto !important;">
    <span ng-repeat="userprofile in to track by $index" style="font-size: 10; display:inline-block;">{{userprofile.firstName}}&nbsp;{{userprofile.lastName}}&nbsp;<span style="font-size: 9px;">({{userprofile.email}})</span><span ng-if="($index + 1) < to.length">;&nbsp;</span></span>
  </div>
</span>
<h5 ng-show="toField.value !== 'all'" style="display:inline-block; float:right; text-align: right;">
  To:&nbsp;
</h5>