<div class="modal-header">
  <h3 ng-if="type === 'group'" class="modal-title">Select which user group</h3>
  <h3 ng-if="type === 'users'" class="modal-title">Select your contacts</h3>
</div>
<div class="modal-body">
  <div ng-if="type === 'group'">
    <button ng-click="ok(user);" ng-repeat="user in userTypes.groups" class="btn btn-default" style="width: 135px;" >{{user.description}}</button>
  </div>
  <div ng-if="type === 'users'">
    Select Users from the contacts list:
    <div>
      <div style="padding: 0px 10px;" id="tagsUpdate">
        <div class="bootstrap">
          <div class="tags" style="width: 100%; border: 0px; box-shadow: none; display:block;">
            <ul class="tags-list" style="margin: 0; padding: 0; list-style-type: none;">
              <li class="tag-item ng-scope" ng-repeat="tag in data.selectedUsers" style="margin: 2px; padding: 0 5px; display: inline-block; font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif; height: 26px; line-height: 25px;">
                <span ng-bind="tag.text"></span>
                <a class="remove-button" ng-click="removeTag(tag, data.selectedUsers)" style="margin: 0 0 0 5px; padding: 0; border: 0; background: 0 0; cursor: pointer; vertical-align: middle; font: 700 16px Arial,sans-serif; color: #585858;">×</a>
              </li>
            </ul>
          </div>
        </div>
        <tags-input class="bootstrap" min-length="1" ng-model="data.tempTags" placeholder="Add contact" add-from-autocomplete-only="true" replace-spaces-with-dashes="false" on-tag-added="addTag($tag, data.selectedUsers);"><auto-complete min-length="1" source="checkTagsList($query, data.selectedUsers, userProfiles)"></auto-complete></tags-input>
      </div>
      <div style="max-height: 500px; overflow:auto;">
        <table class="friend table table-hover">
          <tr>
            <th style="padding: 8px 3px;"><a href="" ng-click="predicate = 'firstName'; reverse=!reverse">First Name</a></th>
            <th style="padding: 8px 3px;"><a href="" ng-click="predicate = 'lastName'; reverse=!reverse">Last Name</a></th>
            <th style="padding: 8px 3px;"><a href="" ng-click="predicate = 'organization'; reverse=!reverse">Organization</a></th>
            <th style="padding: 8px 3px;"><a href="" ng-click="predicate = 'userTypeCode'; reverse=!reverse">User Type</a></th>
          </tr>
          <tr ng-repeat="friend in userProfiles | orderBy:predicate:reverse" ng-click="addTag(friend, data.selectedUsers);" class="imitateLink">
            <td style="padding:3px;">{{friend.firstName}}</td>
            <td style="padding:3px;">{{friend.lastName}}</td>
            <td style="padding:3px;">{{friend.organization}}</td>
            <td style="padding:3px;">{{getUserType(friend.userTypeCode)}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>