/* override bootstrap progress bar*/
.bs-example{
  margin: 120px;
}
.bar-transparent{
  background-color:transparent ;  
  /*border-right:solid black 1px !important;*/
  /*border-top:solid black 1px !important;*/
  color:black !important;
}
.bar-transparentdate{
  background-color:transparent ;  
  border-right:solid white 1px ;
  /*border-top:solid white  1px !important;*/
  color:black !important;
}

.progress {
  width: 100%;
  background-color: transparent ;
  border:solid black  1px ;
  border-radius: 0px;
  height: 20px;
}

.barborder2 .progress {
  border: 1px solid transparent;
  box-shadow: inset 0 1px 2px transparent;
  height: 20px;
  margin-top: -21px;
  margin-bottom: 0px;
}

.progress div{
  box-shadow: inset 0 1px 0 transparent;
}
.barborders .progress div{
  border-right: 1px solid black;
  vertical-align: center;
}

.barborder2 .progress div{
  border-right: 1px solid transparent;
}

.barborders .progress div:last-child{
  border-right: 0px;
}

.component-state {
  color: black;
  font-size: 14px;
  /* font-weight: bold;*/
  color: #555555;
}
.component-state a:hover {
  color: black;
  font-size: 14px;
  /* font-weight: bold;*/
  text-decoration: none;
}


/*results sections headers*/
.component2-title{
/*  border-bottom: 1px lightgray solid;
  border-top: 1px lightgray solid;
  border-right: 1px lightgray solid;*/
  margin: 34px 0px 10px 0px;
  background: white;
  width: auto;
}
.component2-div-title{
 /* border-bottom: 1px rgb(75, 75, 75) solid;
  border-top: 1px rgb(75, 75, 75) solid;
  border-right: 1px rgb(75, 75, 75) solid;*/
  margin: 10px 0px 0px -1px;
  /*background: #FFE38C;
  background: #AEDCAE;
  background: #D6EDD6;*/
  background: #3d3d3d;
  border: 1px solid #dddddd;
  color: white;
  padding: 0px 20px;
}
.component2-div{
  margin: 0px 0px 0px 0px;
  padding: 10px 25px;
/*  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-top:0px;*/
  background-color: white;
  width: auto;
}
.component2-div.full,
.component2-div-title.full{
  border-left: 1px lightgray solid;
}

.eval-content-title{
  color: #3892d3;
  padding: 2px 5px 0px 5px;
}
.eval-content-title-content{ 
  font-size: 18px;
}
.eval-content-title .popover{
  position: absolute !important;
  color: black;
  font-size: 12px;
  /*margin-left:110px;*/
}
.eval-content-title:hover{
  /*  cursor: pointer;*/
  color: #22699c;
}
.eval-content-description {
  padding: 0px 5px 0px 21px;
}
.vertalign {
  vertical-align:middle;
}