.component-state {
  color: black;
  font-size: 14px;
  /* font-weight: bold;*/
  color: #555555;
}
.component-state a:hover {
  color: black;
  font-size: 14px;
  /* font-weight: bold;*/
  text-decoration: none;
}


/*results sections headers*/
.component2-title{
/*  border-bottom: 1px lightgray solid;
  border-top: 1px lightgray solid;
  border-right: 1px lightgray solid;*/
  margin: 34px 0px 10px 0px;
  background: white;
  width: auto;
}
.component2-div-title{
 /* border-bottom: 1px rgb(75, 75, 75) solid;
  border-top: 1px rgb(75, 75, 75) solid;
  border-right: 1px rgb(75, 75, 75) solid;*/
  margin: 10px 0px 0px -1px;
  /*background: #FFE38C;
  background: #AEDCAE;
  background: #D6EDD6;*/
  background: #3d3d3d;
  border: 1px solid #dddddd;
  color: white;
  padding: 0px 20px;
}
.component2-div{
  margin: 0px 0px 20px 0px;
  padding: 10px 25px;
  /*border-top:0px;*/

  background-color: white;
  width: auto;
}

.component2-border{
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-left: 1px lightgray solid;
}
.component2-div.full,
.component2-div-title.full{
  border-left: 1px lightgray solid;
}

.eval-content-title{
  color: #3892d3;
  padding: 2px 5px 0px 5px;
}
.eval-content-title-content{ 
  font-size: 15px;
}
.eval-content-title .popover{
  position: absolute !important;
  color: black;
  font-size: 12px;
  /*margin-left:110px;*/
}
.eval-content-title:hover{
  /*  cursor: pointer;*/
  color: #22699c;
}
.eval-content-description {
  padding: 0px 5px 0px 21px;
}
.vertalign {
  vertical-align:middle;
}

/*New evaluation progress bars*/
/*completed=0*/
.complete
{
  background-color:#E6E8EB;
  color:#FFFFFF;
  border:1px solid #808080;
  height:46px;
  text-align:center; 
  vertical-align:middle;
  overflow: hidden;
}
/*in progress=1*/
.inprogress
{
  background-color:#D6EDD6;
  border:1px dashed #5CB85C;
  height:46px;
  color:#5CB85C;
  text-align:center; 
  font-weight:bold;
  overflow: hidden;
  vertical-align:middle;
}
/*halted=2*/
.haulted
{
  background-color:#FFA480;
  color:#000000;
  border:1px solid #808080;
  height:46px;
  text-align:center; 
  vertical-align:middle;
  overflow: hidden;
}
/*not started=3*/
.notstarted
{
  background-color:#FFFFFF;
  border:1px solid #808080;
  height:46px;
  text-align:center; 
  vertical-align:middle;
  color:#808080;
  overflow: hidden;
}
/*completed=0*/
.completeLabel
{
  text-align:right;
  padding:0;
  font-size:12px; 
  color:black;
}
/*in progress=1*/
.inprogressLabel
{
  color:#5CB85C;
  font-weight:bold;
  text-align:right;
  padding:0;
  font-size:12px;
}
/*halted=2*/
.haultedLabel
{
  color:#ff4800;
  font-weight:bold;
  text-align:right;
  padding:0;
  font-size:12px;
}
/*not started=3*/
.notstartedLabel
{
  color:#808080;
  font-weight:bold;
  text-align:right;
  padding:0;
  font-size:12px;
}

.shadeME{
  background: #cccccc;
}