
.detailsReview {
  position: relative;

  max-height: 40px;
  overflow: hidden;

  background: white;
}

.detailsPadding::before {
  content: '';
  float: right;
  height: 40px;
}
.detailsReview::before {
  content: '';

  float: right;
  height: 20px;
}

.detailsReview p::before {
  content: "\2026";

  float: right;
  clear: right;
}

.detailsReview p::after {
  content: '';

  position: absolute;

  display: inline-block;
  width: 100%;
  height: 15px;

  background: inherit;
}

.detailsReview::after {
  content: '';

  position: absolute;

  display: block;
  width: 100%;
  height: 30px;

  background: inherit; 
}