Recource Links: {{item.resources}}
Component Media: {{item.componentMedia}}
<form role="form" class="form-horizontal" ng-submit="saveartifacts()" >

  <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
    <strong ng-if="item.dependencies.length > 0" style="padding-left: 15px;">Dependancies List:</strong>
    <div ng-if="item.dependencies.length > 0" ng-repeat="dependency in item.dependencies" style="padding-left: 15px;">
      <button class="btn btn-default btn-xs" ng-click="editDependency($index);"><i class="fa fa-edit"></i>&nbsp;Edit</button>
      <button class="btn btn-default btn-xs" ng-click="deleteDependency($index);"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
      {{dependency.dependency}}&nbsp;&mdash;&nbsp;<span ng-if="dependency.version">version: {{dependency.version}}, </span><span ng-if="dependency.dependencyReferenceLink">link: {{dependency.dependencyReferenceLink}}, </span><span ng-if="dependency.comment">comment: {{dependency.comment}}</span>
    </div>
    <label for="dependencies" class="col-sm-12">Add/Edit Dependency: </label>
    <div class="col-sm-3">
      <input id="dependency" class="form-control" type="text" on-enter="addDependency()" ng-model="currentDependency.dependency" placeholder="Dependancy Title">
    </div>
    <div class="col-sm-3">
      <input id="dependencyVersion" class="form-control" type="text" on-enter="addDependency()" ng-model="currentDependency.version" placeholder="Dependancy Version">
    </div>
    <div class="col-sm-3">
      <input id="dependencyLink" class="form-control" type="text" on-enter="addDependency()" ng-model="currentDependency.dependencyReferenceLink" placeholder="Dependancy Link">
    </div>
    <div class="col-sm-3">
      <input id="dependencyComment" class="form-control" type="text" on-enter="addDependency()" ng-model="currentDependency.comment" placeholder="Dependancy Comment">
    </div>
    <div style="padding-left: 15px;">
      <button class="btn btn-default btn-xs" ng-click="addDependency();"><i class="fa fa-check"></i>&nbsp;<span ng-if="editDep" ng-click="saveDependency()">Save</span><span ng-if="!editDep" ng-click="addDependency()">Add</span></button>
      <button ng-if="editDep" class="btn btn-default btn-xs" ng-click="resetDependency(); saveDependency();"><i class="fa fa-check"></i>&nbsp;cancel</button>
      <button class="btn btn-default btn-xs" ng-click="clearDependency();"><i class="fa fa-times"></i>&nbsp;Clear</button>
    </div>
  </div>
</form>