<form role="form" class="form-horizontal" ng-submit="savebase()" style="margin-top:10px;">
  <div class="row" style="margin-left: 0px; margin-right: 0px;"><button class="btn btn-default" type="submit">Save</button></div>
  <div class="col-md-6">
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="name" class="col-md-4 control-label">Component Name: </label>
      <div class="col-md-8">
        <input id="name" class="form-control" type="text" ng-model="item.name">
      </div>
    </div>
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="version" class="col-md-4 control-label">Version: </label>
      <div class="col-md-8">
        <input id="version" class="form-control" type="text" ng-model="item.version">
      </div>
    </div>
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="release" class="col-md-4 control-label">Release Date: </label>
      <div class="col-md-8">
        <div class="input-group">
          <label class="input-group-addon" for="release"> <i class="fa fa-calendar"></i> </label>
          <input id="release" type="text" class="form-control" data-date-format="MM-dd-yyyy" data-start-view="2" data-min-view="0" autoclose="true" ng-model="item.releaseDate" placeholder="Release Date" data-date-type="number" bs-datepicker> 
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="activeStatus" class="col-md-4 control-label">Active Status: </label>
      <div class="col-md-8">
        <select id="activeStatus" class="form-control" name="" ng-model="item.activeStatus">
          <option value="A">Active</option>    
          <option value="I">Inactive</option>    
        </select>
      </div>
    </div>
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="approvalState" class="col-md-4 control-label">Approval State: </label>
      <div class="col-md-8">
        <select id="approvalState" class="form-control" name="" ng-model="item.approvalState">
          <option value="A">Approved</option>    
          <option value="P">Pending</option>    
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
      <label for="organization" class="col-md-4 control-label">Organization: </label>
      <div class="col-md-8">
        <input id="organization" class="form-control" type="text" ng-model="item.organization">
      </div>
    </div>
    <div ng-repeat="filter in filters">
      <div ng-if="filter.requiredFlg">
        <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
          <label for="{{filter.description}}" class="col-md-4 control-label">{{filter.description}}: </label>
          <div class="col-md-8">
            <select class="form-control" name="{{filter.description}}" id="{{filter.description}}" ng-model="requiredAttributes[filter.description]" ng-options="code.label for code in filter.codes">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="row" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="createUser" class="col-md-4 control-label">Create User: </label>
        <div ng-if="item.createUser" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="createUser">{{item.createUser}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="createDate" class="col-md-4 control-label">Create Date: </label>
        <div ng-if="item.createDts" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="createDate">{{getDate(item.createDts)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="updateUser" class="col-md-4 control-label">Update User: </label>
        <div ng-if="item.updateUser" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="updateUser">{{item.updateUser}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="updateDate" class="col-md-4 control-label">Update Date: </label>
        <div ng-if="item.updateDts" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="updateDate">{{getDate(item.updateDts)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="approvedUser" class="col-md-4 control-label">Approved User: </label>
        <div ng-if="item.approvedUser" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="approvedUser">{{item.approvedUser}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="approvedDate" class="col-md-4 control-label">Approved Date: </label>
        <div ng-if="item.approvedDts" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="approvedDate">{{getDate(item.approvedDts)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="lastActivityDate" class="col-md-4 control-label">Last Activity Date: </label>
        <div ng-if="item.lastActivityDate" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="lastActivityDate">{{getDate(item.lastActivityDate)}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
        <label  for="componentId" class="col-md-4 control-label">Component Id: </label>
        <div ng-if="item.componentId" class="col-md-8">
          <span class="form-control" style="background: transparent; box-shadow: none; border: 0px;" id="componentId">{{item.componentId}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
    <label for="parentComponent" class="col-md-12">Parent Component: <i ng-show="parentSuccess === 'good'" class="fa fa-check" style="color: green"></i><!-- <i ng-show="parentSuccess ==='bad'" class="fa fa-times-o" style="color: red"></i> --></label>
    <div class="col-md-12">
      <input id="parentComponent" type="text" class="form-control" ng-model="item.parentComponent" ng-options="{'triggerFlg': 'parent', 'componentId': key.componentId, 'name': key.name} as key.name for key in typeahead" placeholder="Select Parent Component" bs-typeahead>
    </div>
  </div>
  <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
    <strong ng-if="item.subComponents.length > 0" style="padding-left: 15px;">SubComponents List:</strong>
    <div ng-if="item.subComponents.length > 0" ng-repeat="subComponent in item.subComponents" style="padding-left: 15px;">
      <button class="btn btn-default btn-xs" ng-click="deleteSubComponent(subComponent.componentId);"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
      {{subComponent.name}}
    </div>
    <label for="subComponents" class="col-md-12">Sub Components: </label>
    <div class="col-md-12">
      <input on-enter="doStuff();" id="subComponents" type="text" class="form-control" ng-model="subComponent.subComponent" ng-options="{'triggerFlg': 'sub', 'componentId': key.componentId, 'name': key.name} as key.name for key in typeahead" placeholder="Add Sub Components" bs-typeahead>
    </div>
  </div>
  <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
    <strong ng-if="item.relatedComponents.length > 0" style="padding-left: 15px;">RelatedComponents List:</strong>
    <div ng-if="item.relatedComponents.length > 0" ng-repeat="relatedComponent in item.relatedComponents" style="padding-left: 15px;">
      <button class="btn btn-default btn-xs" ng-click="deleteRelatedComponent(relatedComponent.componentId);"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
      {{relatedComponent.name}}
    </div>
    <label for="relatedComponents" class="col-md-12">Related Components: </label>
    <div class="col-md-12">
      <input on-enter="doStuff();" id="relatedComponents" type="text" class="form-control" ng-model="relatedComponent.relatedComponent" ng-options="{'triggerFlg': 'related', 'componentId': key.componentId, 'name': key.name} as key.name for key in typeahead" placeholder="Add Related Components" bs-typeahead>
    </div>
  </div>
  <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
    <label class="col-md-12">Description: </label>
    <div class="col-md-12">
      <textarea ckeditor="editorOptions" ng-model="item.description"></textarea>
    </div>
  </div>
</form>
