<h5>{{item.name}}&nbsp;&mdash;&nbsp;ID:&nbsp;{{item.componentId}}</h5>
<p>
  Release Date: {{getDate(item.releaseDate)}}
</p>
<p>
  Organization: {{item.organization}}
</p>
<p>
  Last Activity Date: {{getDate(item.lastActivityDate)}}
</p>
<p>
  GUID: {{item.guid}}
</p>
<p>
  Description: {{item.description}}
</p>
<p>
  Dependancies: {{item.dependancies}}
</p>
<p>
  Create User: {{item.createUser}}
</p>
<p>
  Create Date: {{getDate(item.createDts)}}
</p>
<p>
  Parent Component: {{item.parentComponent}}
</p>
<p>
  Sub Components: {{item.subComponents}}
</p>
