/*
StoreFront-Theme-Override
@author: Trent Savage
@organization: Space Dynamics Laboratories

This file modifies:
- the docdock theme for pages that show excerpts of files in sub-directories,
such as yourdomain.com/evaluations/evaluator/ 
*/

.post-excerpt{
    color:gray;
    font-style: italic;
}

.post-description{
    color: black;
    font-style: normal;    
}